# BlackBelt Consulting

## 1. Benson Project

### 1.1 Data Collection

In [1]:
import pandas as pd
import datetime

In [2]:
numdays = 353  # setting the number of days we want to take back 1 week from 06-29
# We want data for this year (1st semester) and the last quarter of 2018 (so we can analyze the holiday's season)

In [3]:
date_time_str = '2019-06-22 08:15:27.243860'  # penultimate date of the range in the MTA website
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')  
# transforming it to a date_time object
date_time_obj

datetime.datetime(2019, 6, 22, 8, 15, 27, 243860)

In [4]:
date_list = [date_time_obj - datetime.timedelta(days=x) for x in range(0, numdays, 7)]
# creating a list of dates that starts on the penultimate date and goes back the numdays we've set 
# (jumping 7 days each time)
date_list

[datetime.datetime(2019, 6, 22, 8, 15, 27, 243860),
 datetime.datetime(2019, 6, 15, 8, 15, 27, 243860),
 datetime.datetime(2019, 6, 8, 8, 15, 27, 243860),
 datetime.datetime(2019, 6, 1, 8, 15, 27, 243860),
 datetime.datetime(2019, 5, 25, 8, 15, 27, 243860),
 datetime.datetime(2019, 5, 18, 8, 15, 27, 243860),
 datetime.datetime(2019, 5, 11, 8, 15, 27, 243860),
 datetime.datetime(2019, 5, 4, 8, 15, 27, 243860),
 datetime.datetime(2019, 4, 27, 8, 15, 27, 243860),
 datetime.datetime(2019, 4, 20, 8, 15, 27, 243860),
 datetime.datetime(2019, 4, 13, 8, 15, 27, 243860),
 datetime.datetime(2019, 4, 6, 8, 15, 27, 243860),
 datetime.datetime(2019, 3, 30, 8, 15, 27, 243860),
 datetime.datetime(2019, 3, 23, 8, 15, 27, 243860),
 datetime.datetime(2019, 3, 16, 8, 15, 27, 243860),
 datetime.datetime(2019, 3, 9, 8, 15, 27, 243860),
 datetime.datetime(2019, 3, 2, 8, 15, 27, 243860),
 datetime.datetime(2019, 2, 23, 8, 15, 27, 243860),
 datetime.datetime(2019, 2, 16, 8, 15, 27, 243860),
 datetime.datetime(2019, 2, 9, 8, 15, 27, 243860),
 datetime.datetime(2019, 2, 2, 8, 15, 27, 243860),
 datetime.datetime(2019, 1, 26, 8, 15, 27, 243860),
 datetime.datetime(2019, 1, 19, 8, 15, 27, 243860),
 datetime.datetime(2019, 1, 12, 8, 15, 27, 243860),
 datetime.datetime(2019, 1, 5, 8, 15, 27, 243860),
 datetime.datetime(2018, 12, 29, 8, 15, 27, 243860),
 datetime.datetime(2018, 12, 22, 8, 15, 27, 243860),
 datetime.datetime(2018, 12, 15, 8, 15, 27, 243860),
 datetime.datetime(2018, 12, 8, 8, 15, 27, 243860),
 datetime.datetime(2018, 12, 1, 8, 15, 27, 243860),
 datetime.datetime(2018, 11, 24, 8, 15, 27, 243860),
 datetime.datetime(2018, 11, 17, 8, 15, 27, 243860),
 datetime.datetime(2018, 11, 10, 8, 15, 27, 243860),
 datetime.datetime(2018, 11, 3, 8, 15, 27, 243860),
 datetime.datetime(2018, 10, 27, 8, 15, 27, 243860),
 datetime.datetime(2018, 10, 20, 8, 15, 27, 243860),
 datetime.datetime(2018, 10, 13, 8, 15, 27, 243860),
 datetime.datetime(2018, 10, 6, 8, 15, 27, 243860),
 datetime.datetime(2018, 9, 29, 8, 15, 27, 243860),
 datetime.datetime(2018, 9, 22, 8, 15, 27, 243860),
 datetime.datetime(2018, 9, 15, 8, 15, 27, 243860),
 datetime.datetime(2018, 9, 8, 8, 15, 27, 243860),
 datetime.datetime(2018, 9, 1, 8, 15, 27, 243860),
 datetime.datetime(2018, 8, 25, 8, 15, 27, 243860),
 datetime.datetime(2018, 8, 18, 8, 15, 27, 243860),
 datetime.datetime(2018, 8, 11, 8, 15, 27, 243860),
 datetime.datetime(2018, 8, 4, 8, 15, 27, 243860),
 datetime.datetime(2018, 7, 28, 8, 15, 27, 243860),
 datetime.datetime(2018, 7, 21, 8, 15, 27, 243860),
 datetime.datetime(2018, 7, 14, 8, 15, 27, 243860),
 datetime.datetime(2018, 7, 7, 8, 15, 27, 243860)]

In [5]:
# transforming the dates into strings and putting in a list:

url_dates = []

for i in date_list:
    year = str(i.year).replace("20", "")
    day = str(i.day)
    if i.day < 10:
        day = "0" + day
    month = str(i.month)
    if i.month < 10:
        month = "0" + month
    date_str = year + month + day
    url_dates.append(date_str)

In [6]:
# starting the dataframe with the last available date, which is june 29, 19:
df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt")
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [7]:
# concatenating each new date to the original dataframe:
for url in url_dates:
    df2 = pd.read_csv(
        "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt".format(url))
    df = pd.concat([df, df2], ignore_index=True)

In [8]:
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
10464970,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,07/06/2018,17:00:00,REGULAR,2761,62
10464971,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,07/06/2018,21:00:00,REGULAR,2761,62
10464972,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/06/2018,13:00:00,REGULAR,5554,338
10464973,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/06/2018,17:00:00,REGULAR,5554,343
10464974,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,07/06/2018,21:00:00,REGULAR,5554,343

In [9]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10464975 entries, 0 to 10464974
Data columns (total 11 columns):
C/A                                                                     10464975 non-null object
UNIT                                                                    10464975 non-null object
SCP                                                                     10464975 non-null object
STATION                                                                 10464975 non-null object
LINENAME                                                                10464975 non-null object
DIVISION                                                                10464975 non-null object
DATE                                                                    10464975 non-null object
TIME                                                                    10464975 non-null object
DESC                                                                    10464975 non-null object
ENTRIES                                                                 10464975 non-null int64
EXITS                                                                   10464975 non-null int64
dtypes: int64(2), object(9)
memory usage: 878.3+ MB

### 1.2 Data Treatment

In [10]:
# First, let's transform the date and time columns into one column as a datetime object:
df["DATE_TIME"] = pd.to_datetime(df.DATE + " " + df.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10464975 entries, 0 to 10464974
Data columns (total 12 columns):
C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                 int64
EXITS                                                                   int64
DATE_TIME                                                               datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 958.1+ MB

In [12]:
# # Since we want only the last quarter of 2018, let's remove the rows containing 2 september dates (29 and 30):
# sep = (df["DATE"] == '09/29/2018') | (df["DATE"] == '09/30/2018')
# df.drop(df[sep].index, inplace=True)

In [13]:
sorted(df["DATE"].unique())
# no more september dates

['01/01/2019',
 '01/02/2019',
 '01/03/2019',
 '01/04/2019',
 '01/05/2019',
 '01/06/2019',
 '01/07/2019',
 '01/08/2019',
 '01/09/2019',
 '01/10/2019',
 '01/11/2019',
 '01/12/2019',
 '01/13/2019',
 '01/14/2019',
 '01/15/2019',
 '01/16/2019',
 '01/17/2019',
 '01/18/2019',
 '01/19/2019',
 '01/20/2019',
 '01/21/2019',
 '01/22/2019',
 '01/23/2019',
 '01/24/2019',
 '01/25/2019',
 '01/26/2019',
 '01/27/2019',
 '01/28/2019',
 '01/29/2019',
 '01/30/2019',
 '01/31/2019',
 '02/01/2019',
 '02/02/2019',
 '02/03/2019',
 '02/04/2019',
 '02/05/2019',
 '02/06/2019',
 '02/07/2019',
 '02/08/2019',
 '02/09/2019',
 '02/10/2019',
 '02/11/2019',
 '02/12/2019',
 '02/13/2019',
 '02/14/2019',
 '02/15/2019',
 '02/16/2019',
 '02/17/2019',
 '02/18/2019',
 '02/19/2019',
 '02/20/2019',
 '02/21/2019',
 '02/22/2019',
 '02/23/2019',
 '02/24/2019',
 '02/25/2019',
 '02/26/2019',
 '02/27/2019',
 '02/28/2019',
 '03/01/2019',
 '03/02/2019',
 '03/03/2019',
 '03/04/2019',
 '03/05/2019',
 '03/06/2019',
 '03/07/2019',
 '03/08/2019',
 '03/09/2019',
 '03/10/2019',
 '03/11/2019',
 '03/12/2019',
 '03/13/2019',
 '03/14/2019',
 '03/15/2019',
 '03/16/2019',
 '03/17/2019',
 '03/18/2019',
 '03/19/2019',
 '03/20/2019',
 '03/21/2019',
 '03/22/2019',
 '03/23/2019',
 '03/24/2019',
 '03/25/2019',
 '03/26/2019',
 '03/27/2019',
 '03/28/2019',
 '03/29/2019',
 '03/30/2019',
 '03/31/2019',
 '04/01/2019',
 '04/02/2019',
 '04/03/2019',
 '04/04/2019',
 '04/05/2019',
 '04/06/2019',
 '04/07/2019',
 '04/08/2019',
 '04/09/2019',
 '04/10/2019',
 '04/11/2019',
 '04/12/2019',
 '04/13/2019',
 '04/14/2019',
 '04/15/2019',
 '04/16/2019',
 '04/17/2019',
 '04/18/2019',
 '04/19/2019',
 '04/20/2019',
 '04/21/2019',
 '04/22/2019',
 '04/23/2019',
 '04/24/2019',
 '04/25/2019',
 '04/26/2019',
 '04/27/2019',
 '04/28/2019',
 '04/29/2019',
 '04/30/2019',
 '05/01/2019',
 '05/02/2019',
 '05/03/2019',
 '05/04/2019',
 '05/05/2019',
 '05/06/2019',
 '05/07/2019',
 '05/08/2019',
 '05/09/2019',
 '05/10/2019',
 '05/11/2019',
 '05/12/2019',
 '05/13/2019',
 '05/14/2019',
 '05/15/2019',
 '05/16/2019',
 '05/17/2019',
 '05/18/2019',
 '05/19/2019',
 '05/20/2019',
 '05/21/2019',
 '05/22/2019',
 '05/23/2019',
 '05/24/2019',
 '05/25/2019',
 '05/26/2019',
 '05/27/2019',
 '05/28/2019',
 '05/29/2019',
 '05/30/2019',
 '05/31/2019',
 '06/01/2019',
 '06/02/2019',
 '06/03/2019',
 '06/04/2019',
 '06/05/2019',
 '06/06/2019',
 '06/07/2019',
 '06/08/2019',
 '06/09/2019',
 '06/10/2019',
 '06/11/2019',
 '06/12/2019',
 '06/13/2019',
 '06/14/2019',
 '06/15/2019',
 '06/16/2019',
 '06/17/2019',
 '06/18/2019',
 '06/19/2019',
 '06/20/2019',
 '06/21/2019',
 '06/22/2019',
 '06/23/2019',
 '06/24/2019',
 '06/25/2019',
 '06/26/2019',
 '06/27/2019',
 '06/28/2019',
 '06/30/2018',
 '07/01/2018',
 '07/02/2018',
 '07/03/2018',
 '07/04/2018',
 '07/05/2018',
 '07/06/2018',
 '07/07/2018',
 '07/08/2018',
 '07/09/2018',
 '07/10/2018',
 '07/11/2018',
 '07/12/2018',
 '07/13/2018',
 '07/14/2018',
 '07/15/2018',
 '07/16/2018',
 '07/17/2018',
 '07/18/2018',
 '07/19/2018',
 '07/20/2018',
 '07/21/2018',
 '07/22/2018',
 '07/23/2018',
 '07/24/2018',
 '07/25/2018',
 '07/26/2018',
 '07/27/2018',
 '07/28/2018',
 '07/29/2018',
 '07/30/2018',
 '07/31/2018',
 '08/01/2018',
 '08/02/2018',
 '08/03/2018',
 '08/04/2018',
 '08/05/2018',
 '08/06/2018',
 '08/07/2018',
 '08/08/2018',
 '08/09/2018',
 '08/10/2018',
 '08/11/2018',
 '08/12/2018',
 '08/13/2018',
 '08/14/2018',
 '08/15/2018',
 '08/16/2018',
 '08/17/2018',
 '08/18/2018',
 '08/19/2018',
 '08/20/2018',
 '08/21/2018',
 '08/22/2018',
 '08/23/2018',
 '08/24/2018',
 '08/25/2018',
 '08/26/2018',
 '08/27/2018',
 '08/28/2018',
 '08/29/2018',
 '08/30/2018',
 '08/31/2018',
 '09/01/2018',
 '09/02/2018',
 '09/03/2018',
 '09/04/2018',
 '09/05/2018',
 '09/06/2018',
 '09/07/2018',
 '09/08/2018',
 '09/09/2018',
 '09/10/2018',
 '09/11/2018',
 '09/12/2018',
 '09/13/2018',
 '09/14/2018',
 '09/15/2018',
 '09/16/2018',
 '09/17/2018',
 '09/18/2018',
 '09/19/2018',
 '09/20/2018',
 '09/21/2018',
 '09/22/2018',
 '09/23/2018',
 '09/24/2018',
 '09/25/2018',
 '09/26/2018',
 '09/27/2018',
 '09/28/2018',
 '09/29/2018',
 '09/30/2018',
 '10/01/2018',
 '10/02/2018',
 '10/03/2018',
 '10/04/2018',
 '10/05/2018',
 '10/06/2018',
 '10/07/2018',
 '10/08/2018',
 '10/09/2018',
 '10/10/2018',
 '10/11/2018',
 '10/12/2018',
 '10/13/2018',
 '10/14/2018',
 '10/15/2018',
 '10/16/2018',
 '10/17/2018',
 '10/18/2018',
 '10/19/2018',
 '10/20/2018',
 '10/21/2018',
 '10/22/2018',
 '10/23/2018',
 '10/24/2018',
 '10/25/2018',
 '10/26/2018',
 '10/27/2018',
 '10/28/2018',
 '10/29/2018',
 '10/30/2018',
 '10/31/2018',
 '11/01/2018',
 '11/02/2018',
 '11/03/2018',
 '11/04/2018',
 '11/05/2018',
 '11/06/2018',
 '11/07/2018',
 '11/08/2018',
 '11/09/2018',
 '11/10/2018',
 '11/11/2018',
 '11/12/2018',
 '11/13/2018',
 '11/14/2018',
 '11/15/2018',
 '11/16/2018',
 '11/17/2018',
 '11/18/2018',
 '11/19/2018',
 '11/20/2018',
 '11/21/2018',
 '11/22/2018',
 '11/23/2018',
 '11/24/2018',
 '11/25/2018',
 '11/26/2018',
 '11/27/2018',
 '11/28/2018',
 '11/29/2018',
 '11/30/2018',
 '12/01/2018',
 '12/02/2018',
 '12/03/2018',
 '12/04/2018',
 '12/05/2018',
 '12/06/2018',
 '12/07/2018',
 '12/08/2018',
 '12/09/2018',
 '12/10/2018',
 '12/11/2018',
 '12/12/2018',
 '12/13/2018',
 '12/14/2018',
 '12/15/2018',
 '12/16/2018',
 '12/17/2018',
 '12/18/2018',
 '12/19/2018',
 '12/20/2018',
 '12/21/2018',
 '12/22/2018',
 '12/23/2018',
 '12/24/2018',
 '12/25/2018',
 '12/26/2018',
 '12/27/2018',
 '12/28/2018',
 '12/29/2018',
 '12/30/2018',
 '12/31/2018']

In [14]:
df.columns = [column.strip() for column in df.columns]

In [15]:
df["TURNSTILE_ID"] = df["C/A"] + " " + df["UNIT"] + " " + df["SCP"] + " " + df["STATION"]

In [16]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,TURNSTILE_ID
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457,2019-06-22 00:00:00,A002 R051 02-00-00 59 ST
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465,2019-06-22 04:00:00,A002 R051 02-00-00 59 ST
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491,2019-06-22 08:00:00,A002 R051 02-00-00 59 ST
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541,2019-06-22 12:00:00,A002 R051 02-00-00 59 ST
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581,2019-06-22 16:00:00,A002 R051 02-00-00 59 ST

In [17]:
# Checking if there are readings that are duplicates
(df
 .groupby(["TURNSTILE_ID", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(50)

                                TURNSTILE_ID           DATE_TIME  ENTRIES
82713          A011 R080 01-00-03 57 ST-7 AV 2018-12-30 15:00:00        2
281311     A035 R170 00-00-02 14 ST-UNION SQ 2019-03-27 17:00:00        2
2754557    N071 R013 00-00-02 34 ST-PENN STA 2019-02-27 19:00:00        2
2093642  JFK03 R536 00-03-04 JFK JAMAICA CT1 2019-04-07 01:00:00        2
8539468            R283 R221 00-00-00 167 ST 2019-04-15 12:00:00        2
3340444         N120A R153 01-06-00 UTICA AV 2018-07-11 09:00:00        2
8539469            R283 R221 00-00-00 167 ST 2019-04-15 16:00:00        2
9398477   R515 R095 00-00-01 ASTORIA DITMARS 2018-08-07 16:00:00        2
8539472            R283 R221 00-00-00 167 ST 2019-04-16 04:00:00        2
3462783     N135 R385 01-03-01 ROCKAWAY BLVD 2019-03-31 13:00:00        2
2077601  JFK03 R536 00-00-03 JFK JAMAICA CT1 2019-04-07 01:00:00        2
7515517            R188 R037 00-06-02 207 ST 2019-02-28 07:00:00        2
5111013   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-26 13:00:00        2
2754558    N071 R013 00-00-02 34 ST-PENN STA 2019-02-27 23:00:00        2
5111012   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-26 09:00:00        2
5111011   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-26 05:00:00        2
2461514      N045 R187 01-00-02 81 ST-MUSEUM 2019-06-02 17:00:00        2
5111009   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-25 21:00:00        2
5111008   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-25 17:00:00        2
5111007   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-25 13:00:00        2
5111006   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-25 09:00:00        2
5111005   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-25 05:00:00        2
5111004   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-25 01:00:00        2
5111003   N519 R461 00-03-01 B'WAY-LAFAYETTE 2019-03-24 21:00:00        2
6873962             R133 R272 00-00-00 28 ST 2019-04-09 13:00:00        2
2754559    N071 R013 00-00-02 34 ST-PENN STA 2019-02-28 03:00:00        2
7504758            R188 R037 00-00-00 207 ST 2019-02-28 07:00:00        2
4075896             N311 R339 01-00-00 36 ST 2018-12-10 04:00:00        2
8546157            R283 R221 00-00-03 167 ST 2019-04-16 04:00:00        2
8546154            R283 R221 00-00-03 167 ST 2019-04-15 16:00:00        2
8546153            R283 R221 00-00-03 167 ST 2019-04-15 12:00:00        2
7704567        R205A R014 04-02-01 FULTON ST 2018-10-21 01:00:00        2
4080262             N311 R339 01-00-02 36 ST 2018-12-09 16:00:00        2
4080263             N311 R339 01-00-02 36 ST 2018-12-09 20:00:00        2
4080264             N311 R339 01-00-02 36 ST 2018-12-10 00:00:00        2
4080266             N311 R339 01-00-02 36 ST 2018-12-10 04:00:00        2
4080267             N311 R339 01-00-02 36 ST 2018-12-10 08:00:00        2
4075897             N311 R339 01-00-00 36 ST 2018-12-10 08:00:00        2
2104170     K019 R413 00-00-00 KNICKERBOCKER 2019-01-28 12:00:00        2
4344626             N332 R219 01-05-00 67 AV 2018-10-27 04:00:00        2
7513367            R188 R037 00-06-01 207 ST 2019-02-28 07:00:00        2
4075894             N311 R339 01-00-00 36 ST 2018-12-10 00:00:00        2
2757078    N071 R013 00-00-03 34 ST-PENN STA 2019-04-20 08:00:00        2
4075893             N311 R339 01-00-00 36 ST 2018-12-09 20:00:00        2
4075892             N311 R339 01-00-00 36 ST 2018-12-09 16:00:00        2
2088289  JFK03 R536 00-03-02 JFK JAMAICA CT1 2018-12-01 12:00:00        2
2084483  JFK03 R536 00-03-00 JFK JAMAICA CT1 2019-04-07 01:00:00        2
8706566            R306 R207 00-00-00 135 ST 2019-04-08 16:00:00        2
1515770   G009 R151 02-00-04 CONEY IS-STILLW 2019-05-16 17:00:00        2
2754561    N071 R013 00-00-02 34 ST-PENN STA 2019-02-28 07:00:00        2

In [18]:
# On some days, we seem to have two entries for same time.  Let's take a look at a couple of examples:
mask = ((df["TURNSTILE_ID"] == "N071 R013 00-00-00 34 ST-PENN STA") &
(df["DATE_TIME"].dt.date == datetime.datetime(2019, 2, 27).date()))

df[mask]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,TURNSTILE_ID
3530925,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,03:00:00,REGULAR,5869431,16519942,2019-02-27 03:00:00,N071 R013 00-00-00 34 ST-PENN STA
3530926,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,07:00:00,REGULAR,5869444,16520153,2019-02-27 07:00:00,N071 R013 00-00-00 34 ST-PENN STA
3530927,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,11:00:00,REGULAR,5869635,16521165,2019-02-27 11:00:00,N071 R013 00-00-00 34 ST-PENN STA
3530928,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,15:00:00,REGULAR,5869852,16521721,2019-02-27 15:00:00,N071 R013 00-00-00 34 ST-PENN STA
3530929,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,19:00:00,REGULAR,2196639,2588468,2019-02-27 19:00:00,N071 R013 00-00-00 34 ST-PENN STA
3530930,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,19:00:00,RECOVR AUD,5870225,16522419,2019-02-27 19:00:00,N071 R013 00-00-00 34 ST-PENN STA
3530931,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,23:00:00,REGULAR,2196693,2588648,2019-02-27 23:00:00,N071 R013 00-00-00 34 ST-PENN STA
3530932,N071,R013,00-00-00,34 ST-PENN STA,ACE,IND,02/27/2019,23:00:00,RECOVR AUD,5870426,16522677,2019-02-27 23:00:00,N071 R013 00-00-00 34 ST-PENN STA

On this case, the RECOVR AUD seems to be the correct one since the entries and exits values are similar to the other readings.

In [19]:
# Other example:
mask = ((df["TURNSTILE_ID"] == "R205A R014 04-02-01 FULTON ST") &
(df["DATE_TIME"].dt.date == datetime.datetime(2018, 10, 21).date()))

df[mask]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,TURNSTILE_ID
7253466,R205A,R014,04-02-01,FULTON ST,2345ACJZ,IRT,10/21/2018,01:00:00,REGULAR,2244820,489731,2018-10-21 01:00:00,R205A R014 04-02-01 FULTON ST
7253467,R205A,R014,04-02-01,FULTON ST,2345ACJZ,IRT,10/21/2018,01:00:00,RECOVR AUD,2244820,10647811,2018-10-21 01:00:00,R205A R014 04-02-01 FULTON ST
7253468,R205A,R014,04-02-01,FULTON ST,2345ACJZ,IRT,10/21/2018,05:00:00,REGULAR,2244820,489731,2018-10-21 05:00:00,R205A R014 04-02-01 FULTON ST
7253469,R205A,R014,04-02-01,FULTON ST,2345ACJZ,IRT,10/21/2018,09:00:00,REGULAR,2244820,489731,2018-10-21 09:00:00,R205A R014 04-02-01 FULTON ST
7253470,R205A,R014,04-02-01,FULTON ST,2345ACJZ,IRT,10/21/2018,13:00:00,REGULAR,2244820,489731,2018-10-21 13:00:00,R205A R014 04-02-01 FULTON ST
7253471,R205A,R014,04-02-01,FULTON ST,2345ACJZ,IRT,10/21/2018,17:00:00,REGULAR,2244820,489731,2018-10-21 17:00:00,R205A R014 04-02-01 FULTON ST
7253472,R205A,R014,04-02-01,FULTON ST,2345ACJZ,IRT,10/21/2018,21:00:00,REGULAR,2244820,489731,2018-10-21 21:00:00,R205A R014 04-02-01 FULTON ST

On the other hand, in this case, the RECOVR AUD seems to be the wrong one (exits are much larger than the regular exits).

In [20]:
# Since we can't map every one of these ocurrencies, we will remove all the duplicates and try to deal with the 
# aparent register errors in another way later:
df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [21]:
# No duplicate problems anymore:
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(15)

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2018-06-30 00:00:00        1
6976536  R142  R293  01-00-00  34 ST-PENN STA 2018-07-14 06:00:00        1
6976529  R142  R293  01-00-00  34 ST-PENN STA 2018-07-13 02:00:00        1
6976530  R142  R293  01-00-00  34 ST-PENN STA 2018-07-13 06:00:00        1
6976531  R142  R293  01-00-00  34 ST-PENN STA 2018-07-13 10:00:00        1
6976532  R142  R293  01-00-00  34 ST-PENN STA 2018-07-13 14:00:00        1
6976533  R142  R293  01-00-00  34 ST-PENN STA 2018-07-13 18:00:00        1
6976534  R142  R293  01-00-00  34 ST-PENN STA 2018-07-13 22:00:00        1
6976535  R142  R293  01-00-00  34 ST-PENN STA 2018-07-14 02:00:00        1
6976537  R142  R293  01-00-00  34 ST-PENN STA 2018-07-14 10:00:00        1
6976527  R142  R293  01-00-00  34 ST-PENN STA 2018-07-12 18:00:00        1
6976538  R142  R293  01-00-00  34 ST-PENN STA 2018-07-14 14:00:00        1
6976539  R142  R293  01-00-00  34 ST-PENN STA 2018-07-14 18:00:00        1
6976540  R142  R293  01-00-00  34 ST-PENN STA 2018-07-14 22:00:00        1
6976541  R142  R293  01-00-00  34 ST-PENN STA 2018-07-15 02:00:00        1

In [22]:
df.describe()

            ENTRIES         EXITS
count  1.046480e+07  1.046480e+07
mean   4.033497e+07  3.319718e+07
std    2.077426e+08  1.923960e+08
min    0.000000e+00  0.000000e+00
25%    4.492890e+05  1.896340e+05
50%    2.356565e+06  1.348066e+06
75%    6.869352e+06  4.747031e+06
max    2.144893e+09  2.146093e+09

For our data we are aiming only in the entries since we believe this is a better approach to gauge the number of people that may be focusing on the ads. 

We can see from the table above that the average of cumulative exits is much lower than the entries. This probably happens because many people don't use the turnstiles to exit a station.

Also, people entering the stations are more likely to spend more time inside it than people exiting the station (waiting for the subway to arrive) and therefore, more chances to see the digital banners.

In [23]:
# Conclusion: Drop Exits and Desc Column.  To prevent errors in multiple run of cell, errors on drop is ignored
df = df.drop(["EXITS", "DESC"], axis=1, errors="ignore")

In [24]:
df.reset_index(drop=True)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,DATE_TIME,TURNSTILE_ID
0,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,21:00:00,5554,2019-06-28 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
1,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,17:00:00,5554,2019-06-28 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
2,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,13:00:00,5554,2019-06-28 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
3,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,09:00:00,5554,2019-06-28 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
4,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,05:00:00,5554,2019-06-28 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
5,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,01:00:00,5554,2019-06-28 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
6,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,21:00:00,5554,2019-06-27 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
7,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,17:00:00,5554,2019-06-27 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
8,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,13:00:00,5554,2019-06-27 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
9,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,09:00:00,5554,2019-06-27 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
10,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,05:00:00,5554,2019-06-27 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
11,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,01:00:00,5554,2019-06-27 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
12,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,21:00:00,5554,2019-06-26 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
13,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,17:00:00,5554,2019-06-26 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
14,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,13:00:00,5554,2019-06-26 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
15,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,09:00:00,5554,2019-06-26 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
16,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,05:00:00,5554,2019-06-26 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
17,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,01:00:00,5554,2019-06-26 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
18,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,21:00:00,5554,2019-06-25 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
19,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,17:00:00,5554,2019-06-25 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
20,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,13:00:00,5554,2019-06-25 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
21,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,09:00:00,5554,2019-06-25 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
22,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,05:00:00,5554,2019-06-25 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
23,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,01:00:00,5554,2019-06-25 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
24,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,21:00:00,5554,2019-06-24 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
25,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,17:00:00,5554,2019-06-24 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
26,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,13:00:00,5554,2019-06-24 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
27,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,09:00:00,5554,2019-06-24 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
28,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,05:00:00,5554,2019-06-24 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
29,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,01:00:00,5554,2019-06-24 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
...,...,...,...,...,...,...,...,...,...,...,...
10464771,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/04/2018,20:00:00,6679899,2018-07-04 20:00:00,A002 R051 02-00-00 59 ST
10464772,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/04/2018,16:00:00,6679724,2018-07-04 16:00:00,A002 R051 02-00-00 59 ST
10464773,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/04/2018,12:00:00,6679549,2018-07-04 12:00:00,A002 R051 02-00-00 59 ST
10464774,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/04/2018,08:00:00,6679477,2018-07-04 08:00:00,A002 R051 02-00-00 59 ST
10464775,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/04/2018,04:00:00,6679464,2018-07-04 04:00:00,A002 R051 02-00-00 59 ST
10464776,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/04/2018,00:00:00,6679449,2018-07-04 00:00:00,A002 R051 02-00-00 59 ST
10464777,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/03/2018,20:00:00,6679288,2018-07-03 20:00:00,A002 R051 02-00-00 59 ST
10464778,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/03/2018,16:00:00,6678716,2018-07-03 16:00:00,A002 R051 02-00-00 59 ST
10464779,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/03/2018,12:00:00,6678332,2018-07-03 12:00:00,A002 R051 02-00-00 59 ST
10464780,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/03/2018,08:00:00,6678178,2018-07-03 08:00:00,A002 R051 02-00-00 59 ST
10464781,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/03/2018,04:00:00,6678125,2018-07-03 04:00:00,A002 R051 02-00-00 59 ST
10464782,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/03/2018,00:00:00,6678118,2018-07-03 00:00:00,A002 R051 02-00-00 59 ST
10464783,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/02/2018,20:00:00,6677932,2018-07-02 20:00:00,A002 R051 02-00-00 59 ST
10464784,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/02/2018,16:00:00,6677231,2018-07-02 16:00:00,A002 R051 02-00-00 59 ST
10464785,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/02/2018,12:00:00,6676949,2018-07-02 12:00:00,A002 R051 02-00-00 59 ST
10464786,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/02/2018,08:00:00,6676797,2018-07-02 08:00:00,A002 R051 02-00-00 59 ST
10464787,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/02/2018,04:00:00,6676767,2018-07-02 04:00:00,A002 R051 02-00-00 59 ST
10464788,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/02/2018,00:00:00,6676762,2018-07-02 00:00:00,A002 R051 02-00-00 59 ST
10464789,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/01/2018,20:00:00,6676668,2018-07-01 20:00:00,A002 R051 02-00-00 59 ST
10464790,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/01/2018,16:00:00,6676467,2018-07-01 16:00:00,A002 R051 02-00-00 59 ST
10464791,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/01/2018,12:00:00,6676339,2018-07-01 12:00:00,A002 R051 02-00-00 59 ST
10464792,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/01/2018,08:00:00,6676256,2018-07-01 08:00:00,A002 R051 02-00-00 59 ST
10464793,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/01/2018,04:00:00,6676248,2018-07-01 04:00:00,A002 R051 02-00-00 59 ST
10464794,A002,R051,02-00-00,59 ST,NQR456W,BMT,07/01/2018,00:00:00,6676241,2018-07-01 00:00:00,A002 R051 02-00-00 59 ST
10464795,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,20:00:00,6676110,2018-06-30 20:00:00,A002 R051 02-00-00 59 ST
10464796,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,16:00:00,6675826,2018-06-30 16:00:00,A002 R051 02-00-00 59 ST
10464797,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,12:00:00,6675652,2018-06-30 12:00:00,A002 R051 02-00-00 59 ST
10464798,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,08:00:00,6675554,2018-06-30 08:00:00,A002 R051 02-00-00 59 ST
10464799,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,04:00:00,6675538,2018-06-30 04:00:00,A002 R051 02-00-00 59 ST
10464800,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/30/2018,00:00:00,6675523,2018-06-30 00:00:00,A002 R051 02-00-00 59 ST

In [25]:
# There seems to be a problem with 23rd st station (and others) because different stations are named the same way:
df[df["STATION"] == "23 ST"].groupby(["LINENAME"]).mean()

               ENTRIES
LINENAME
1         5.319540e+06
6         1.120533e+08
CE        2.071969e+07
FM        2.564156e+08
NRW       1.124437e+07

Let's try to solve this by changing only the name of the most important problematic stations (the ones that probably have a high foot traffic and may mess up our results) into "station + line".

We'll do this for:
- 23 st
- 86 st
- 96 st
- 14 st
- 125 st
- Chambers St
- 50 st
- Canal St
- 28 St
- 72 St

In [26]:
# Let's create a new dataframe with only the problematic stations and remove them from the original df.
prob = ((df["STATION"] == '14 ST') |
(df["STATION"] == '23 ST') | 
(df["STATION"] == '86 ST') |
(df["STATION"] == '96 ST') |
(df["STATION"] == 'CANAL ST') |
(df["STATION"] == 'CHAMBERS ST') |
(df["STATION"] == '50 ST') |
(df["STATION"] == '28 ST') |
(df["STATION"] == '72 ST') |
(df["STATION"] == '125 ST'))
df_prob = df[prob]

In [36]:
df.drop(df[prob].index, inplace=True)
sorted(df["STATION"].unique())

/Users/liviasalgueiro/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [28]:
# For this new df, let's change the STATION to STATION + LINENAME:

df_prob["STATION"] = df_prob["STATION"] + " " + df_prob["LINENAME"]
df_prob.head()

/Users/liviasalgueiro/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,DATE_TIME,TURNSTILE_ID
171875,R305,R206,01-00-02,125 ST 23,23,IRT,06/28/2019,21:00:00,245172960,2019-06-28 21:00:00,R305 R206 01-00-02 125 ST
171874,R305,R206,01-00-02,125 ST 23,23,IRT,06/28/2019,17:00:00,245172563,2019-06-28 17:00:00,R305 R206 01-00-02 125 ST
171873,R305,R206,01-00-02,125 ST 23,23,IRT,06/28/2019,13:00:00,245172050,2019-06-28 13:00:00,R305 R206 01-00-02 125 ST
171872,R305,R206,01-00-02,125 ST 23,23,IRT,06/28/2019,09:00:00,245171827,2019-06-28 09:00:00,R305 R206 01-00-02 125 ST
171871,R305,R206,01-00-02,125 ST 23,23,IRT,06/28/2019,05:00:00,245171667,2019-06-28 05:00:00,R305 R206 01-00-02 125 ST

In [29]:
# Now, let's concatenate this modified df into our original df to bring these stations back:
df = pd.concat([df, df_prob], ignore_index=True)

In [30]:
sorted(df["STATION"].unique())

['1 AV',
 '103 ST',
 '103 ST-CORONA',
 '104 ST',
 '110 ST',
 '111 ST',
 '116 ST',
 '116 ST-COLUMBIA',
 '121 ST',
 '125 ST 1',
 '125 ST 23',
 '125 ST 456',
 '125 ST ACBD',
 '135 ST',
 '137 ST CITY COL',
 '138/GRAND CONC',
 '14 ST 123FLM',
 '14 ST ACEL',
 '14 ST FLM123',
 '14 ST-UNION SQ',
 '145 ST',
 '149/GRAND CONC',
 '14TH STREET',
 '15 ST-PROSPECT',
 '155 ST',
 '157 ST',
 '161/YANKEE STAD',
 '163 ST-AMSTERDM',
 '167 ST',
 '168 ST',
 '169 ST',
 '170 ST',
 '174 ST',
 '174-175 STS',
 '175 ST',
 '176 ST',
 '18 AV',
 '18 ST',
 '181 ST',
 '182-183 STS',
 '183 ST',
 '190 ST',
 '191 ST',
 '2 AV',
 '20 AV',
 '207 ST',
 '21 ST',
 '21 ST-QNSBRIDGE',
 '215 ST',
 '219 ST',
 '225 ST',
 '23 ST 1',
 '23 ST 6',
 '23 ST CE',
 '23 ST FM',
 '23 ST NRW',
 '231 ST',
 '233 ST',
 '238 ST',
 '25 AV',
 '25 ST',
 '28 ST 1',
 '28 ST 6',
 '28 ST NRW',
 '3 AV',
 '3 AV 138 ST',
 '3 AV-149 ST',
 '30 AV',
 '33 ST',
 '33 ST-RAWSON ST',
 '34 ST-HERALD SQ',
 '34 ST-HUDSON YD',
 '34 ST-PENN STA',
 '36 AV',
 '36 ST',
 '39 AV',
 '4 AV-9 ST',
 '40 ST LOWERY ST',
 '42 ST-BRYANT PK',
 '42 ST-PORT AUTH',
 '45 ST',
 '46 ST',
 '46 ST BLISS ST',
 '47-50 STS ROCK',
 '49 ST',
 '4AV-9 ST',
 '5 AV/53 ST',
 '5 AV/59 ST',
 '5 AVE',
 '50 ST 1',
 '50 ST CE',
 '50 ST D',
 '51 ST',
 '52 ST',
 '53 ST',
 '55 ST',
 '57 ST',
 '57 ST-7 AV',
 '59 ST',
 '59 ST COLUMBUS',
 '6 AV',
 '61 ST WOODSIDE',
 '63 DR-REGO PARK',
 '65 ST',
 '66 ST-LINCOLN',
 '67 AV',
 '68ST-HUNTER CO',
 '69 ST',
 '7 AV',
 '71 ST',
 '72 ST',
 '72 ST-2 AVE',
 '74 ST-BROADWAY',
 '75 AV',
 '75 ST-ELDERTS',
 '77 ST',
 '79 ST',
 '8 AV',
 '8 ST-NYU',
 '80 ST',
 '81 ST-MUSEUM',
 '82 ST-JACKSON H',
 '85 ST-FOREST PK',
 '86 ST 1',
 '86 ST 456',
 '86 ST BC',
 '86 ST N',
 '86 ST R',
 '86 ST-2 AVE',
 '88 ST',
 '9 AV',
 '90 ST-ELMHURST',
 '96 ST 123',
 '96 ST 6',
 '96 ST BC',
 '96 ST-2 AVE',
 '9TH STREET',
 'ALABAMA AV',
 'ALLERTON AV',
 'AQUEDUCT N.COND',
 'AQUEDUCT RACETR',
 'ASTOR PL',
 'ASTORIA BLVD',
 'ASTORIA DITMARS',
 'ATL AV-BARCLAY',
 'ATLANTIC AV',
 'AVENUE H',
 'AVENUE I',
 'AVENUE J',
 'AVENUE M',
 'AVENUE N',
 'AVENUE P',
 'AVENUE U',
 'AVENUE X',
 "B'WAY-LAFAYETTE",
 'BAY 50 ST',
 'BAY PKWY',
 'BAY RIDGE AV',
 'BAY RIDGE-95 ST',
 'BAYCHESTER AV',
 'BEACH 105 ST',
 'BEACH 25 ST',
 'BEACH 36 ST',
 'BEACH 44 ST',
 'BEACH 60 ST',
 'BEACH 67 ST',
 'BEACH 90 ST',
 'BEACH 98 ST',
 'BEDFORD AV',
 'BEDFORD PK BLVD',
 'BEDFORD-NOSTRAN',
 'BERGEN ST',
 'BEVERLEY ROAD',
 'BEVERLY RD',
 'BLEECKER ST',
 'BOROUGH HALL',
 'BOTANIC GARDEN',
 'BOWERY',
 'BOWLING GREEN',
 'BRIARWOOD',
 'BRIGHTON BEACH',
 'BROAD CHANNEL',
 'BROAD ST',
 'BROADWAY',
 'BROADWAY JCT',
 'BRONX PARK EAST',
 'BROOK AV',
 'BROOKLYN BRIDGE',
 'BUHRE AV',
 'BURKE AV',
 'BURNSIDE AV',
 'BUSHWICK AV',
 'CANAL ST 1',
 'CANAL ST ACE',
 'CANAL ST JNQRZ6W',
 'CANARSIE-ROCKAW',
 'CARROLL ST',
 'CASTLE HILL AV',
 'CATHEDRAL PKWY',
 'CENTRAL AV',
 'CENTRAL PK N110',
 'CHAMBERS ST 123',
 'CHAMBERS ST ACE23',
 'CHAMBERS ST JZ456',
 'CHAUNCEY ST',
 'CHRISTOPHER ST',
 'CHURCH AV',
 'CITY / BUS',
 'CITY HALL',
 'CLARK ST',
 'CLASSON AV',
 'CLEVELAND ST',
 'CLINTON-WASH AV',
 'CONEY IS-STILLW',
 'CORTELYOU RD',
 'CORTLANDT ST',
 'COURT SQ',
 'COURT SQ-23 ST',
 'CRESCENT ST',
 'CROWN HTS-UTICA',
 'CYPRESS AV',
 'CYPRESS HILLS',
 'DEKALB AV',
 'DELANCEY/ESSEX',
 'DITMAS AV',
 'DYCKMAN ST',
 "E 143/ST MARY'S",
 'E 149 ST',
 'E 180 ST',
 'EAST 105 ST',
 'EAST BROADWAY',
 'EASTCHSTER/DYRE',
 'EASTN PKWY-MUSM',
 'ELDER AV',
 'ELMHURST AV',
 'EUCLID AV',
 'EXCHANGE PLACE',
 'FAR ROCKAWAY',
 'FLATBUSH AV-B.C',
 'FLUSHING AV',
 'FLUSHING-MAIN',
 'FORDHAM RD',
 'FOREST AVE',
 'FOREST HILLS 71',
 'FRANKLIN AV',
 'FRANKLIN ST',
 'FREEMAN ST',
 'FRESH POND RD',
 'FT HAMILTON PKY',
 'FULTON ST',
 'GATES AV',
 'GRAHAM AV',
 'GRAND ARMY PLAZ',
 'GRAND ST',
 'GRAND-NEWTOWN',
 'GRANT AV',
 'GRD CNTRL-42 ST',
 'GREENPOINT AV',
 'GROVE STREET',
 'GUN HILL RD',
 'HALSEY ST',
 'HARLEM 148 ST',
 'HARRISON',
 'HEWES ST',
 'HIGH ST',
 'HOUSTON ST',
 'HOWARD BCH JFK',
 'HOYT ST',
 'HOYT-SCHER',
 'HUNTERS PT AV',
 'HUNTS POINT AV',
 'INTERVALE AV',
 'INWOOD-207 ST',
 'JACKSON AV',
 'JAMAICA 179 ST',
 'JAMAICA CENTER',
 'JAMAICA VAN WK',
 'JAY ST-METROTEC',
 'JEFFERSON ST',
 'JFK JAMAICA CT1',
 'JKSN HT-ROOSVLT',
 'JOURNAL SQUARE',
 'JUNCTION BLVD',
 'JUNIUS ST',
 'KEW GARDENS',
 'KINGS HWY',
 'KINGSBRIDGE RD',
 'KINGSTON AV',
 'KINGSTON-THROOP',
 'KNICKERBOCKER',
 'KOSCIUSZKO ST',
 'LACKAWANNA',
 'LAFAYETTE AV',
 'LEXINGTON AV/53',
 'LEXINGTON AV/63',
 'LIBERTY AV',
 'LIVONIA AV',
 'LONGWOOD AV',
 'LORIMER ST',
 'MARBLE HILL-225',
 'MARCY AV',
 'METROPOLITAN AV',
 'METS-WILLETS PT',
 'MIDDLETOWN RD',
 'MONTROSE AV',
 'MORGAN AV',
 'MORISN AV/SNDVW',
 'MORRIS PARK',
 'MOSHOLU PKWY',
 'MT EDEN AV',
 'MYRTLE AV',
 'MYRTLE-WILLOUGH',
 'MYRTLE-WYCKOFF',
 'NASSAU AV',
 'NECK RD',
 'NEPTUNE AV',
 'NEREID AV',
 'NEVINS ST',
 'NEW LOTS',
 'NEW LOTS AV',
 'NEW UTRECHT AV',
 'NEWARK BM BW',
 'NEWARK C',
 'NEWARK HM HE',
 'NEWARK HW BMEBE',
 'NEWKIRK AV',
 'NEWKIRK PLAZA',
 'NORTHERN BLVD',
 'NORWOOD 205 ST',
 'NORWOOD AV',
 'NOSTRAND AV',
 'OCEAN PKWY',
 'ORCHARD BEACH',
 'OZONE PK LEFFRT',
 'PARK PLACE',
 'PARKCHESTER',
 'PARKSIDE AV',
 'PARSONS BLVD',
 'PATH NEW WTC',
 'PATH WTC 2',
 'PAVONIA/NEWPORT',
 'PELHAM BAY PARK',
 'PELHAM PKWY',
 'PENNSYLVANIA AV',
 'PRESIDENT ST',
 'PRINCE ST',
 'PROSPECT AV',
 'PROSPECT PARK',
 'QUEENS PLAZA',
 'QUEENSBORO PLZ',
 'RALPH AV',
 'RECTOR ST',
 'RIT-MANHATTAN',
 'RIT-ROOSEVELT',
 'ROCKAWAY AV',
 'ROCKAWAY BLVD',
 'ROCKAWAY PARK B',
 'ROOSEVELT ISLND',
 'SARATOGA AV',
 'SENECA AVE',
 'SHEEPSHEAD BAY',
 'SHEPHERD AV',
 'SIMPSON ST',
 'SMITH-9 ST',
 'SOUTH FERRY',
 'SPRING ST',
 'ST LAWRENCE AV',
 'ST. GEORGE',
 'STEINWAY ST',
 'STERLING ST',
 'SUTPHIN BLVD',
 'SUTPHIN-ARCHER',
 'SUTTER AV',
 'SUTTER AV-RUTLD',
 'THIRTY ST',
 'THIRTY THIRD ST',
 'TIMES SQ-42 ST',
 'TOMPKINSVILLE',
 'TREMONT AV',
 'TWENTY THIRD ST',
 'UNION ST',
 'UTICA AV',
 'V.CORTLANDT PK',
 'VAN SICLEN AV',
 'VAN SICLEN AVE',
 'VERNON-JACKSON',
 'W 4 ST-WASH SQ',
 'W 8 ST-AQUARIUM',
 'WAKEFIELD/241',
 'WALL ST',
 'WEST FARMS SQ',
 'WESTCHESTER SQ',
 'WHITEHALL S-FRY',
 'WHITLOCK AV',
 'WILSON AV',
 'WINTHROP ST',
 'WOODHAVEN BLVD',
 'WOODLAWN',
 'WORLD TRADE CTR',
 'WTC-CORTLANDT',
 'YORK ST',
 'ZEREGA AV']

Now, let's try to calculate the number of real entries in each period of time, since the original data only shows the cumulative entries registered up to that time:

In [31]:
df = df.groupby(["STATION","TURNSTILE_ID", "LINENAME", "DATE", "TIME", "DATE_TIME"],as_index=False).ENTRIES.sum()

In [32]:
df[["PREV_DATETIME", "PREV_ENTRIES"]] = (df
                                                       .groupby(["STATION", "TURNSTILE_ID", "LINENAME"])["DATE_TIME", "ENTRIES"]
                                                       .apply(lambda grp: grp.shift(1)))

In [33]:
df.head(10)

,STATION,TURNSTILE_ID,LINENAME,DATE,TIME,DATE_TIME,ENTRIES,PREV_DATETIME,PREV_ENTRIES
0,1 AV,H007 R248 00-00-00 1 AV,L,01/01/2019,03:00:00,2019-01-01 03:00:00,14276525,NaT,NaN
1,1 AV,H007 R248 00-00-00 1 AV,L,01/01/2019,07:00:00,2019-01-01 07:00:00,14276565,2019-01-01 03:00:00,14276525.0
2,1 AV,H007 R248 00-00-00 1 AV,L,01/01/2019,11:00:00,2019-01-01 11:00:00,14276733,2019-01-01 07:00:00,14276565.0
3,1 AV,H007 R248 00-00-00 1 AV,L,01/01/2019,15:00:00,2019-01-01 15:00:00,14277178,2019-01-01 11:00:00,14276733.0
4,1 AV,H007 R248 00-00-00 1 AV,L,01/01/2019,19:00:00,2019-01-01 19:00:00,14277679,2019-01-01 15:00:00,14277178.0
5,1 AV,H007 R248 00-00-00 1 AV,L,01/01/2019,23:00:00,2019-01-01 23:00:00,14277982,2019-01-01 19:00:00,14277679.0
6,1 AV,H007 R248 00-00-00 1 AV,L,01/02/2019,03:00:00,2019-01-02 03:00:00,14278032,2019-01-01 23:00:00,14277982.0
7,1 AV,H007 R248 00-00-00 1 AV,L,01/02/2019,07:00:00,2019-01-02 07:00:00,14278106,2019-01-02 03:00:00,14278032.0
8,1 AV,H007 R248 00-00-00 1 AV,L,01/02/2019,11:00:00,2019-01-02 11:00:00,14279160,2019-01-02 07:00:00,14278106.0
9,1 AV,H007 R248 00-00-00 1 AV,L,01/02/2019,15:00:00,2019-01-02 15:00:00,14279791,2019-01-02 11:00:00,14279160.0

In [34]:
# Drop the rows for the earliest date_time in the df
df.dropna(subset=["PREV_DATETIME"], axis=0, inplace=True)

Another issue we found was the fact that the entries counters usually count up, eventually hit some number, and reset to 0. Also, sometimes they also count down as a reverse counter. To solve this, let's use the following function:

In [35]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 10k, then the counter might have been reset.
# 10k seems to be a reasonable number for maximum people entering in a period of hours.
# Just set it to zero as different counters have different cycle limits
df["REAL_ENTRIES"] = df.apply(get_daily_counts, axis=1, max_counter=10000)

13691679 14803646.0
59016696 60365873.0
370386823 370681694.0
2233408 2466148.0
6043643 6409687.0
211722 281044.0
2554135 2742207.0
190088 615955.0
954734234 955485322.0
146 1629651041.0
1628896228 407880.0
13477639 14214275.0
10310850 10830830.0
4748249 5017089.0
1183527 2099247.0
12788603 13465087.0
15736351 16478555.0
7929140 8347850.0
12072605 12628457.0
10838781 11516264.0
36036748 36977530.0
3598453 4424276.0
14011358 14802694.0
166413 664186.0
1408885 1894570.0
2097089095 8585853.0
25412483 2097051492.0
8221910 25517307.0
15070839 15661511.0
13864557 14403309.0
1805805 2364921.0
579796 1305489.0
4594340 5793308.0
11614538 12647834.0
10437179 11220187.0
3621468 4050060.0
4163063 4644952.0
5959006 6125521.0
1121212715 1121305577.0
2025970408 2025875710.0
4389057 4651612.0
48963 248929.0
582452 717006.0
2955233 3075490.0
11234 5605753.0
5599832 13162.0
1681230707 1681141487.0
4351752 4711600.0
5108365 5452810.0
5162835 5489956.0
2794765 3620813.0
4149302 4921823.0
13317143 14017816.0
3638655 3751244.0
3195423 3262850.0
3715155 3800128.0
6658604 6835858.0
2509390 2658741.0
135742 269177.0
2106324 2311899.0
677881 819849.0
398740 549868.0
16132403 16915875.0
14985029 15765631.0
11456002 12080955.0
2687704 3358957.0
3694081 4447035.0
168359731 168514089.0
185289156 185492285.0
247 1276366720.0
1276181225 150147.0
155 9485331.0
9136568 202186.0
5929615 6399143.0
1384482 1918803.0
8203473 9208177.0
8219083 8203473.0
1997084 2706133.0
2007515 1997084.0
11 1334454.0
1797 58048.0
58334 1797.0
2013 58334.0
58481 2013.0
2132 58481.0
58542 2132.0
1011 58542.0
46249 1520.0
1042827 249025.0
1501 192991053.0
320775 268668.0
331382 320775.0
193068833 609298.0
107 6546797.0
6127824 86948.0
16796650 92944.0
98459 16811551.0
61 113515.0
7635191 48987.0
0 7785242.0
24 9456935.0
16778671 81157.0
9227988 16832059.0
637573806 2503363.0
231 637595544.0
2049037 45950.0
3616085 4318502.0
401591 1006539.0
7587761 8051233.0
26699 487266.0
5513039 246618.0
226 5613957.0
5990405 6304689.0
5497325 5777423.0
2569315 2873174.0
4602276 5397934.0
5018003 5006255.0
65643 11726783.0
11194712 183552.0
8270137 8842872.0
1159317007 1159853696.0
13708378 14523995.0
14114875 14102612.0
23810641 24915497.0
24365390 24348155.0
3237301 3397484.0
2069416 2135617.0
772958 840308.0
1834976 1953657.0
458808 1265285.0
1181804 491011.0
1946191219 1946203379.0
639035448 639675844.0
4585758 5048649.0
5705402 6110245.0
3303636 3854934.0
4276876 4679940.0
1691919158 1691218628.0
1700196 2429761.0
10365253 10953593.0
1683745 2259103.0
6639836 7180538.0
134754077 135325501.0
419955374 420474008.0
244619835 245172960.0
5876711 6459563.0
3770970 4466984.0
4762533 5689188.0
128166 1416014.0
1442824390 11151384.0
10185897 1442561441.0
68858058 436510383.0
1427266 68954354.0
436262446 1708631.0
6707775 7255481.0
1066731 1601161.0
989875372 3894779.0
3558195 990122357.0
6670055 7270292.0
7297058 7886078.0
3080020 3517002.0
5597597 5971501.0
5768391 6142764.0
4670492 4979315.0
2987401 3404198.0
8657967 9183997.0
2668131 2871201.0
392041870 393283390.0
9983897 10991107.0
13250570 13936774.0
8231040 8705105.0
3701013 4207788.0
11762258 12426473.0
13009735 13954141.0
17522056 18847647.0
458753 13397.0
12164 458867.0
541 524288.0
524288 541.0
67904443 68184585.0
3311861 3573171.0
1981681 2052885.0
104029 190635.0
967063 1150313.0
661434 724778.0
2285958 2391848.0
4096668 4291436.0
6558523 6971382.0
12720150 12706689.0
12111461 12862573.0
1714686 1703186.0
1202594 1840965.0
5761053 6348032.0
11495769 11485576.0
10977755 11621791.0
6587480 6573356.0
5918520 6740593.0
1060670 1419365.0
87287 417296.0
6394968 6805717.0
53 2807329.0
2717225 56125.0
1865530 2030086.0
3825707 3988718.0
981074 1132216.0
1215 187389661.0
187270429 50319.0
10589670 10893360.0
12294561 12998270.0
16258964 17148148.0
8032573 8898226.0
5852945 6427568.0
3391154 3830018.0
4118102 4394482.0
991207682 991485062.0
1226197275 1225527292.0
2279205 2708954.0
952325 1142891.0
78059 374570.0
85697081 86277293.0
10315200 11143667.0
9301839 10300711.0
140037675 141250121.0
1998769 2568045.0
8252473 8621830.0
5721140 5951215.0
1220499 1372255.0
6744243 6982438.0
194 1427069.0
970263 13868.0
6285341 6609345.0
423 6527930.0
5886433 79846.0
788140 1250307.0
7819151 8302664.0
2129852700 2129224749.0
12609152 13470427.0
6151168 7602379.0
3467510 3698991.0
1584838 1689925.0
102017481 102404039.0
122077146 123538865.0
326 4676995.0
4241348 12094.0
607 621485465.0
621046824 12967.0
5055916 5683086.0
7354049 7486784.0
140044 175245.0
267040 843213.0
5121307 5704585.0
4328559 4851850.0
2638547 2691238.0
683105 738179.0
3462379 3618718.0
4264087 3475123.0
3475178 4264087.0
2227766 2539461.0
621072165 2252127.0
2252257 621072165.0
10569900 10993550.0
1977893 2436045.0
16 9646557.0
9334360 64337.0
1141346 1245118.0
1391181 1572203.0
4140636 4350075.0
2 2117780.0
1874772 106544.0
1486995 2139512.0
13793289 14611977.0
5487277 6645742.0
4151664 5725226.0
14594254 16606734.0
660476 733154.0
69933964 70680583.0
1807912 2031262.0
266195 743199.0
3227765 4162122.0
2962864 3598440.0
5045157 6051808.0
10636557 12304133.0
235207703 68073706.0
67781366 235340827.0
3587942 4325597.0
202435356 203090431.0
57378 151482.0
57087 278100.0
386346 798433.0
3338428 4103402.0
1089183 2457852.0
617 3125272.0
1683054 48285.0
3838334 5151310.0
5667649 7054779.0
24208122 25522977.0
13171887 14926569.0
25 9643166.0
34 21351.0
272 12377.0
8478722 394492.0
14662115 16043170.0
23118514 24249156.0
10023727 11025007.0
4871503 5975508.0
2 50338124.0
458754 70.0
50337113 459200.0
458752 3.0
3 458752.0
23 119352792.0
118968749 49398.0
119 134528.0
82 43123.0
24 33730.0
71330739 69390.0
656079 71631946.0
524720 661421.0
478 549293.0
98 134263.0
3 117914878.0
117521802 129603.0
22 5434751.0
5269380 134020.0
6812878 7271668.0
9425264 10023580.0
22902074 22889663.0
21980196 23133588.0
17841710 17825860.0
16881694 18073601.0
2155757 2144268.0
1486737 2319460.0
10705179 11328033.0
10104502 10728917.0
10799572 11560533.0
20316435 20301231.0
19371423 20553529.0
134993631 135198454.0
655075344 655275799.0
3324629 3623870.0
4205791 4567274.0
20767183 21766318.0
804056 1442280.0
174582 538240.0
4120138 4336109.0
1336486 1544260.0
8475131 8540132.0
23 109920.0
0 168165376.0
458752 0.0
168165376 458752.0
17499180 18471762.0
421689 221537.0
378 496849.0
56594 327755.0
32375149 158391.0
217 32497644.0
89174 937415.0
612412 1177898.0
209 750773.0
60 525507.0
525551 60.0
5533 590531.0
590624 5533.0
1 615448.0
615476 1.0
1 618466.0
351358 9951.0
658 389528.0
1122310 42469.0
0 1444518.0
43 1830476.0
1 208449.0
1292505 42031.0
91 35848.0
896 12704.0
119 28953.0
141 33643.0
32 15297.0
61 15091.0
1799 21404.0
0 34859.0
14456 35673.0
590 36512.0
20 33103.0
17 17106.0
0 34573.0
45 18983.0
29 29873.0
0 31706.0
1290 15113.0
45 17137.0
106 10522.0
213 10457.0
478 975897.0
730524 12857.0
258 15986.0
12173 1342.0
0 15063.0
55 13254.0
0 14373.0
0 17258.0
10 20683.0
3118003 3455203.0
937782 1048279.0
1019024 1233507.0
405644 443132.0
243261 293107.0
3722172 3764985.0
1037338 1112281.0
458827 805816.0
628969 571911.0
117854103 118125636.0
5880320 6354761.0
2217191 2341159.0
1296100 1456866.0
2379332 2508996.0
3967128 4165608.0
5370233 5695524.0
8637604 9003468.0
6299889 6574280.0
6003417 6476368.0
3342977 3772435.0
530414 793630.0
1362059 1515290.0
21159550 22337069.0
5985677 6759442.0
2502170 2993446.0
2644755 2925173.0
1305372 1444917.0
5697713 6090942.0
1400045582 1399448248.0
3693973 4419656.0
556121828 556931627.0
10387590 11162204.0
5361498 5401559.0
883434 938517.0
1013475 1079512.0
2967051 3056756.0
47145 144686.0
1362430 1432210.0
2719733 2860910.0
4259740 4513505.0
3479522 3909781.0
3706426 4553566.0
4609542 330189.0
52 4753353.0
4261297 260669.0
1124116626 4393639.0
7 1124142317.0
538982 797556.0
2099377 2351037.0
2981411 3299350.0
6209614 6608906.0
759781 1059998.0
4482008 4658309.0
109268 150306.0
222740 271432.0
142723 197429.0
32908 84953.0
1241684 1287381.0
80586 111770.0
51456 74769.0
560426 587517.0
17292 49341.0
217175 248901.0
677438 707639.0
217078 239429.0
8418526 8567591.0
7 102700.0
9200329 9279977.0
0 126546.0
383258 412943.0
394466 452489.0
758766 111549.0
55 759648.0
28 318335.0
1828704206 9687851.0
9314524 1828680176.0
8533381 8870329.0
1779640511 1779973513.0

8580915 10052012.0
262273 5240415.0
5389676 326441.0
327613 5389889.0
4803843 448747.0
2848928 3204170.0
3205387 2849344.0
2702787 3325256.0
12190738 15466827.0
15468462 12191276.0
14858890 15612666.0
323 13588976.0
11 51318.0
1511587 145259.0
147164 1511900.0
13032069 327464.0
476 131396.0
131074 550.0
52562893 53159951.0
2255724 2611457.0
2081420 2432349.0
6060266 1057513.0
459365 6301055.0
2642613 3054117.0
30991 324988.0
1911439 2156025.0
1875973 2165011.0
4678101 5231799.0
458754 5067.0
4615 458835.0
230580 361365.0
799576 1191847.0
2176836 2738673.0
10478937 11104035.0
21915345 22355016.0
22081125 22620069.0
18865899 19397181.0
2834561 3072296.0
2762084 2936313.0
128589 235818.0
1398606 1460209.0
58482 150253.0
1470073 1578967.0
637270 679723.0
1643366 1681049.0
673034 784065.0
487027 554377.0
1570781 108204.0
30 1580082.0
4072456 4534331.0
1407006 1704332.0
7034227 7305802.0
2708058 3037094.0
359275 679515.0
304682 649178.0
157050 575607.0
134582410 476783.0
401842 134624581.0
201760021 201884403.0
4596811 5066376.0
6637943 6949273.0
3532137 3897046.0
50349452 198446.0
2742391 50514827.0
704657293 2786140.0
22 704675856.0
839393941 381377.0
168 839608862.0
591956 1268582.0
6594403 7414565.0
1743344 1913738.0
1059750 1175229.0
1581346 1679233.0
426 12737464.0
12215049 228840.0
9747063 10272818.0
689041493 688660194.0
1460 206702.0
1644220 1786333.0
4260593 4412357.0
2835939 2893874.0
22 4086581.0
4029525 3653.0
4162533 4221893.0
7 57852.0
8 66906.0
27 104952.0
3600562 3963033.0
5473397 391450.0
70 5741227.0
16300658 17009475.0
6424597 6909389.0
2954868 3152921.0
682712 758363.0
218259852 218335224.0
2438085 2553853.0
458531 641481.0
2934362 3139059.0
119636334 120145704.0
1792327 2180952.0
854249 1281136.0
1681825 2089850.0
7087422 7514218.0
5572912 6085284.0
2116051 117709077.0
117441024 2306661.0
728034 1145570.0
13825964 14653629.0
3587616 4112902.0
2073431 2630795.0
10009724 10327020.0
5730391 5935756.0
7456403 7793992.0
746437 825693.0
10 175748.0
3906583 4596228.0
3724950 4274889.0
14459576 15190894.0
45 1601058.0
1452329 98184.0
1025236 1194415.0
382698 575798.0
115570 197787.0
589898 201491306.0
524288 589898.0
20 524288.0
393231 23.0
201475551 403015.0
9760372 10414306.0
14034742 14717579.0
9379706 9894205.0
9692512 10357827.0
7551170 8001930.0
9554090 10069504.0
3189662 3945141.0
10362137 10958439.0
259864 789623.0
15199910 15868957.0
7549854 8629350.0
13223255 13787098.0
790788 1198769.0
1493111155 1475896968.0
44507993 1493040918.0
1476232616 44616569.0
1780796839 1781215719.0
3320708 3683512.0
1224836518 1225256277.0
140396510 1577638984.0
1577113138 140469093.0
1442799366 1442206191.0
3793577 4230719.0
6933560 7365807.0
1945094 2371832.0
9168197 9751189.0
2006817 664921.0
292 2009663.0
2082629 2842855.0
8580018 8957840.0
4045685 4458357.0
6790076 7385309.0
2140498 2181520.0
67299660 67369127.0
231822 251899.0
17264188 18118808.0
5604799 6332487.0
12288753 13170816.0
5483223 6789456.0
107 7246254.0
6569079 34679.0
4050694 5903657.0
5621016 4083100.0
7246468 4050664.0
3970594 7247418.0
3743515 4392890.0
7310975 7737354.0
518352 982853.0
9289746 9876915.0
9461861 9451576.0
9690901 10138724.0
3603615 4205812.0
3773465 3763035.0
134955072 135134013.0
57 724371.0
660872 7403.0
722502 86696.0
21 740347.0
406790 551613.0
287624 401226.0
2995044 3248918.0
7109331 7600811.0
8103444 8813988.0
11485560 12448835.0
14350477 15557786.0
196611 1904.0
1746 196677.0
43006 240869.0
2381072 2501401.0
4050822 4237509.0
619698 674861.0
905996203 3558247.0
3211119 906034939.0
3067921 3338176.0
5934091 6275157.0
6730042 7229443.0
1953224749 1953549594.0
56507 456650.0
390103 1785184.0
6180683 7205527.0
13450526 14541167.0
5 3663765.0
3507407 87010.0
14 6061304.0
5843661 142323.0
2162752 6773620.0
6550776 2285311.0
321 7118837.0
6831282 161626.0
1998524444 1999543296.0
6 11241357.0
10730095 181965.0
664597 1228743.0
973016 1232497.0
164 51385377.0
51257649 44304.0
2 335514.0
35104054 35348620.0
2187352 2536465.0
794873 920064693.0
920545140 933821.0
52 16059973.0
89699 113260.0
15578070 162981.0
777 13770219.0
113793 89159.0
13373664 172300.0
640 4971916.0
10 78423.0
4580627 49431.0
819 8572096.0
7929984 239672.0
11332 2479055.0
12 138747.0
1872275 74811.0
122 452355.0
331 134562.0
4749932 5208101.0
4048238 4545121.0
3015008 3057922.0
1140856 1252205.0
196608 262559.0
262379 196656.0
103431374 104160185.0
151875666 152738707.0
4221623 5160743.0
10263242 10991244.0
18365223 19411027.0
2833097 3771487.0
131075 2222584.0
2223006 131075.0
1801033 2285253.0
2128925 2635074.0
4643098 5094138.0
3039338 3606445.0
15 1081498.0
1046908 6440.0
393447 507931.0
458856 4526857.0
4375071 464356.0
238111932 238093497.0
237865495 238189086.0
674793570 674766981.0
674467299 674903410.0
1825155252 1825180685.0
1825460105 1825061754.0
339057138 339033363.0
338763622 339154775.0
247382 223213.0
9360179 342180.0
42 9411605.0
188709 168827.0
26 262111.0
6337807 6701232.0
5966424 6457767.0
5823766 6280762.0
635447 425910.0
8 678644.0
7297463 7819006.0
23 345212.0
83 7054160.0
6686301 92722.0
6391876 6918992.0
4789997 5203304.0
5981635 6509820.0
9215844 9949087.0
9832821 10990666.0
7957304 8630080.0
85435798 85861837.0
437423 1319511.0
4016054 4659469.0
6079100 6576999.0
2598843 2815108.0
3772282 4073059.0
151 3876009.0
3501455 145924.0
7288235 8129974.0
12839954 13459509.0
14934273 15590937.0
9803688 10768184.0
26205 75852.0
69004 95744.0
3812500 4125605.0
9764697 10292669.0
85679274 86306131.0
6080572 6282200.0
8116964 8386699.0
8119438 8433230.0
458785 555226.0
541456 529912.0
262414 19.0
4 262420.0
3015326 3511855.0
1230332 1638633.0
3956888 4594046.0
4070254 4059958.0
1693112 1840435.0
1154027 1384797.0
10571500 11125370.0
4097521 4234473.0
1763273 4162525.0
4163425 1763938.0
1575541 1636469.0
1264941 1604879.0
1605265 1266017.0
609292 635465.0
10831778 621994.0
622227 10834408.0
13713487 14688023.0
4987931 5756150.0
4483032 5178233.0
780267 1451914.0
3288316 3634839.0
2125509 2452933.0
5574213 5918769.0
2223354 2586632.0
941403 953298.0
315709 330576.0
2936980 3003731.0
57 1428035637.0
1427980743 68116.0
852025 6604854.0
6583711 961485.0
2527771 2660095.0
101055774 135421.0
6735238 6933567.0
1370247 1799909.0
931 2874613.0
385 90279.0
2800793 214786.0
4521736 4775154.0
1779481 1982774.0
11150396 11383067.0
4721587 4923640.0
2993376 3528967.0
836 5664363.0
5238273 185227.0
1638756 2135275.0
2208567 2651644.0
2395168 2807895.0
4002560 4221109.0
6021766 6437641.0
7079796 7653498.0
3913923 4607302.0
3020792 3208259.0
1139996 1300278.0
1742666 2042453.0
7161932 7739246.0
6165537 6504700.0
4324182 4674800.0
8275710 8792441.0
17 1430820.0
1022090 113841.0
10875518 11713754.0
402692234 1605956.0
589928 402692234.0
66 648276.0
786480 737.0
1164162 952657.0
18874062 20179585.0
1030442 2124037.0
881623600 1942742623.0
1943509209 881645053.0
5084764 5661514.0
561006 1092568.0
4391573 4842724.0
2288040 2761126.0
88839683 1258666495.0
1258328094 88849312.0
704681341 2758772.0
2413084 704691518.0
119 7480484.0
7160216 62948.0
1929168974 59623357.0
1962842815 1928981421.0
59492992 1962732946.0
45 459042.0
458754 52.0
104479 492231.0
1124570 1515138.0
2556298 2970699.0
13924481 334181.0
147 14025188.0
9735431 10549081.0
10891814 11806697.0
8244 1428279.0
5134109 5913367.0
3717999 4248534.0
7 12368904.0
12030634 92439.0
6958980 7288970.0
9689335 10041785.0
1063615591 10133831.0
1055325115 1063615462.0
9734718 1055212862.0
9142683 10062906.0
5625186 6427952.0
3304250 3920233.0
458761 687927.0
854559 1127437.0
2996090 3278806.0
7663543 7998552.0
4867370 5118233.0
1043774 1243353.0
2268535 2572522.0
3122930 3466782.0
4652850 5277501.0
102726453 103530723.0
118671915 119491119.0
7633206 7977950.0
168554 475510.0
10112650 10577845.0
1184399 1638741.0
7165495 7436966.0
746116 1126593.0
2261386 2655103.0
5543679 5867775.0
25443260 27152325.0
25663355 27084374.0
13459844 14993438.0
67493678 67666775.0
4979386 5299095.0
26538897 4372016.0
4372928 26538897.0
26594498 4399580.0
4400722 26594498.0
3847911 4682278.0
26591052 12381894.0
12383507 26591052.0
26637117 12425908.0
12428476 26637117.0
11531664 12865882.0
14454805 13531775.0
13533385 14454805.0
14497941 13572666.0
13575041 14497941.0
12738048 13979979.0
6874476 8001804.0
6249897 7445191.0

1239545076 1238250673.0
1554439588 1076226.0
62 1553983520.0
67598819 10730723.0
10731304 67598819.0
67604768 10755609.0
10757180 67604768.0
10267007 10992241.0
5185516 14630916.0
14631708 5185516.0
5196016 14655214.0
14656605 5196016.0
14111319 14916916.0
84779326 85055931.0
1243305 1504020.0
8848396 9442445.0
6792703 7408125.0
8668223 9163154.0
1416891 1785014.0
86033 286545.0
3749848 3920930.0
57600328 57969609.0
11489000 12046184.0
2726993 3398166.0
1042290646 1043117439.0
1054964 740277.0
410 1635517.0
6065785 7084648.0
14510645 15539266.0
3433202 4356171.0
842992 913336.0
976237 1537390.0
39191 418557.0
1217286 1551482.0
101840 384410.0
5876302 6365354.0
4099653 4921700.0
1256650 2315715.0
26684334 28065181.0
1256508651 1254958900.0
9431426 1058340.0
44 9652856.0
579 112648.0
12 286376.0
7178 552543411.0
552542449 7738.0
6718661 473002.0
473020 6718661.0
6749425 473529.0
473562 6749425.0
462344 479280.0
15167158 2301300.0
2301368 15167158.0
15198190 2302645.0
2302715 15198190.0
2274946 2315452.0
4022941 1908426.0
1908578 4022941.0
4050583 1910943.0
1911046 4050583.0
1855109 1934813.0
3611912 74393.0
72 3693753.0
891097 495016.0
495038 891097.0
893162 495279.0
495298 893162.0
481804 520663.0
1333943 2888266.0
2888921 1333943.0
1350363 2899710.0
2900248 1350363.0
2657237 2998831.0
281586 4109107.0
4109981 281586.0
292530 4125278.0
4126050 292530.0
3793500 4275038.0
1437214 1648855.0
1650266 1437214.0
1447456 1673816.0
1675023 1447456.0
1127382 1926894.0
281714 2256545.0
2258702 281714.0
290287 2295351.0
2297285 290287.0
1571957 2683550.0
23944010 25316773.0
3228764 4703112.0
6212398 6198115.0
4661317 4636600.0
1988481 1955767.0
27635837 27593808.0
1255443642 1255491056.0
497147 440735.0
34298 59824.0
29382 52380.0
35034 59492.0
95086 144375.0
268582 441791.0
603027 893580.0
919760 1316743.0
1128290 1590974.0
1178103 1665678.0
1012875 1436332.0
2814141 3161671.0
566280 834591.0
417463 622902.0
68841 233197.0
210154 356976.0
359994 523285.0
19 14097.0
0 24738.0
0 85786.0
4980736 5084596.0
20 103870.0
22 91002.0
0 75332.0
0 59936.0
20 53197.0
19 89753.0
2 524353.0
524291 16.0
48 2225931.0
2049899 41736.0
6 2097444.0
2097514 6.0
6 2097514.0
2097545 6.0
2028690 2326470.0
8153712 8569840.0
1433755 1968735.0
10247885 10785886.0
459169 2909492.0
2469333 814131.0
3969349 4606401.0
1797 1973537.0
1585219 288570.0
7 1360328.0
918286 282203.0
35 6236784.0
209 201981.0
5873904 54764.0
1801 5389671.0
5043557 263441.0
2031459 244427.0
13 2186346.0
487279 1289860.0
458753 5966.0
5473 459085.0
589824 0.0
458752 589824.0
0 458752.0
9230855 9926126.0
7460032 8227071.0
3129034 3752164.0
736093 988466.0
5595559 6022180.0
7142352 7815314.0
7903132 8611698.0
752782 847626.0
146 6879812.0
6423544 96109.0
2420442 2880062.0
8887885 9271572.0
501942 905013.0
310601 898816.0
2196639 5869852.0
5870625 2196732.0
1473 5925234.0
5926552 1473.0
2055 5926552.0
5926699 2068.0
5620728 6003157.0
2224501 3171790.0
3172288 2224624.0
2267657 3211259.0
3212271 2267657.0
2268444 3212271.0
3212445 2268458.0
2994536 3270675.0
8416088 3032108.0
3032670 8416318.0
8480234 3070544.0
3071535 8480234.0
8481280 3071535.0
3071678 8481300.0
2855437 3130190.0
1776599 5100005.0
5100804 1776930.0
1856335 5153493.0
5154724 1856335.0
1857681 5154724.0
5154868 1857707.0
4827189 5233781.0
10584925 670366.0
671785 10585305.0
10668361 762764.0
764811 10668361.0
10669992 764811.0
765051 10670023.0
314392 904431.0
619191 485226.0
4459955 4356413.0
126122 12751.0
113606 1358380.0
120158 18735.0
123048 23340.0
199724 169173.0
1181765 1104651.0
458770 590059.0
590255 458770.0
458907 601736.0
601995 458907.0
458909 601995.0
602023 458909.0
537385 617836.0
458752 589824.0
112204 168979.0
6773782 7004765.0
5496013 5821271.0
8128640 308714.0
6 8203336.0
2955042 3943169.0
1215669242 1216738980.0
5541490 6539232.0
19822662 20789917.0
17755645 18695267.0
10436506 11119828.0
358138 1016424.0
1608697 1645900.0
4100885 4260721.0
3510575 3802298.0
1445482 1809121.0
1398926 1799207.0
5039561 5401057.0
2029498 2326156.0
115881 375995.0
2623968 2885219.0
15011808 15813132.0
3991113 4686882.0
6575504 7121833.0
2812157 3352288.0
10 5939257.0
5560916 176901.0
8896778 9530355.0
4883309 5118221.0
142 97137.0
140 48677.0
3013984 96495.0
6 3167898.0
633 83578.0
209563 77661.0
4 318837.0
8581161 9522038.0
8733863 10107907.0
21649596 22842769.0
832729 2016245.0
18764213 19745764.0
15845 386541.0
5839772 6189392.0
9595123 9979837.0
1502539 1895640.0
1569166011 1569478089.0
8 295243.0
1273765 98179963.0
13 1731421.0
98488485 15767.0
4987052 5839544.0
9092098 340441.0
23438 9594918.0
1042512 380316.0
27897 1502539.0
1568751630 459790.0
27593 1569166011.0
98500244 2215020.0
6489194 7223816.0
450668 734637.0
7085372 7542287.0
11811154 12546445.0
16419205 942754.0
288 16429251.0
143 17266.0
240 20856.0
117469569 117512009.0
6390907 7118409.0
1159694 1709297.0
5647153 6006231.0
4988185 159454.0
65 5170615.0
9578889 9994523.0
4326894 5036165.0
382557 1093349.0
10131726 10670393.0
12440349 13053785.0
6379369 6956031.0
56268 421686.0
100798435 100817550.0
67663386 67883049.0
17455729 17653593.0
8235220 8408518.0
2248062 2458001.0
5060231 5470417.0
922894 1395497.0
11114 953340.0
4753911 5642387.0
3855526 4589696.0
8782029 9339957.0
8222652 8709227.0
11643851 12298858.0
8225332 9198545.0
1351953 1478104.0
533314 602972.0
364695 564018.0
564125 364695.0
268276 301140.0
5 10932.0
458761 171.0
4971 459724.0
100853336 101043824.0
589464 815622.0
275055 461528.0
661019 989299.0
561223 814474.0
461958 564812.0
2461725 2486286.0
4468311 4486844.0
872781 894367.0
6968483 7269884.0
675537 862113.0
6972168 7237130.0
11872127 12210028.0
32 212514.0
49921 141277.0
615439 854276.0
12194415 12543617.0
9038119 9692145.0
14005531 14569939.0
19758653 20690611.0
1325645 2084781.0
3657427 4348688.0
8758792 355524.0
261 9048104.0
154 7979357.0
999 145075.0
7434588 94419.0
1833115719 1833105295.0
1832316372 1833256905.0
5103685 5522022.0
659654 306619.0
115 819916.0
12760389 13252788.0
12894985 13391805.0
8241460 8701184.0
4751356 5238554.0
5866687 6534228.0
6729809 7292619.0
10536794 11234443.0
8791648 9496405.0
3227415 3975628.0
3974733 4805379.0
2821001 3726884.0
445086 705355.0
5198551 5427736.0
5705855 6061134.0
10440375 11074339.0
14121407 14677939.0
438242 960082.0
3005458 3564547.0
4277738 4976246.0
3225096 3820835.0
15689553 16618858.0
11269818 11884780.0
2032904652 2033544944.0
4803710 5352352.0
11040163 11593618.0
14532151 15171938.0
14356727 15018653.0
4278948 4943624.0
13271215 13892466.0
6785042 8185348.0
6598968 7327493.0
4033758 4288730.0
8884670 9574374.0
9265363 9845153.0
15890186 16547277.0
68536854 69082506.0
19815228 20617182.0
4685639 5512778.0
5570789 104608160.0
104004156 5595194.0
225277 547048.0
2252959 2572816.0
5702111 6008116.0
6536288 6894319.0
501389 1044411.0
7199674 8120484.0
21091987 22358395.0
4054899 4435067.0
805021 1312882.0
298619 555130.0
696639 1461389.0
1279014906 1280160414.0
239536650 240861442.0
2382619 3875756.0
46208802 44974744.0
1557014181 1555985948.0
1414230696 1415666602.0
28325766 29854270.0
415119510 413761416.0
452773 504257.0
4342886 4808485.0
795272 1218915.0
688826 1245129.0
3848519 4811204.0
8 4925026.0
4751001 121301.0
4209317 4533643.0
7 13186933.0
12858659 230333.0
80 2807057.0
2669252 76124.0
14483477 181537.0
45 14492092.0
80220 58810.0
817547 887131.0
3059387 623275.0
458852 3120399.0
2172992 2292780.0
4862595 5034942.0
5817499 6012678.0
70 2898346.0
2764187 22522.0
50 1544151.0
1476740 11611.0
585494 619375.0
331179 359071.0
1468927 777312.0
605830 1557591.0
311030 473034.0
1029018 1191983.0
71948 346326.0
12852616 13455075.0
8589398 8983180.0
3515730 3812620.0
10144543 10623777.0
7608410 8224689.0
12366139 13113988.0
6964718 446556.0
119 7015818.0
21 27735.0
18794135 19673017.0
5879560 6876630.0
20266721 21344931.0
10120647 10875786.0
6028969 7036773.0
5315894 6192333.0
5083966 5891688.0
7488125 8300112.0
9266139 9938552.0
1876435 2194256.0
196614 2998692.0
2887305 211500.0
6288149 6896069.0
9456988 10095353.0
5211052 5891856.0
1471567 2127821.0
10899404 11545606.0
17086886 17919771.0
1923805817 1924723933.0
858851 1659928.0
153099 295501.0
163383 414617.0
9871399 10436501.0
7427823 7883638.0
6129903 6527862.0
8752631 9040807.0

695606 809975.0
3669862 3864484.0
1465267 219440.0
73 1512945.0
4093654 4501448.0
4014139 4139881.0
185408 327053.0
460297 475136.0
5903864 6075005.0
4475026 4892999.0
5685206 6172804.0
5286794 5886927.0
2539922 3004096.0
6580147 6890957.0
1337756 1571123.0
11909941 12586452.0
124033 710927.0
3384851 3920524.0
8346198 8796098.0
6829331 7224354.0
5769941 6105288.0
3331017 3794613.0
5071891 5603000.0
14056577 14840442.0
1263099 1318975.0
16 268334.0
67135923 11052.0
262159 67148734.0
10847115 11263477.0
914785 1178339.0
4389491 4564482.0
556244 654135.0
5262505 239634.0
23 5412842.0
2186293 2428094.0
7056086 7360264.0
2621697 3177582.0
72513 124974.0
2596536 2699458.0
941715 1170028.0
13493716 14056538.0
13339307 14043763.0
1342616 1750164.0
7431499 7865513.0
2086872 2519819.0
5600440 6062293.0
2464242 2924498.0
2591926 3063873.0
5855715 6238253.0
825729 971161.0
1609227 1871282.0
1621919 1828307.0
5580075 5650875.0
5855479 145100.0
0 5877814.0
744788 941015.0
5211217 5420157.0
11951493 12421524.0
1315330 1656105.0
4657061 5011722.0
3312104 3883453.0
4514046 5135783.0
3412550 3924889.0
4596122 5085186.0
5813666 6194933.0
2683957 3005526.0
7385760 7683809.0
8760549 9168011.0
364 24866.0
2595 15360.0
2944515 241452.0
488 2997549.0
257 121639.0
51 80427.0
15028068 481081.0
336 15256718.0
3368703 596463.0
458795 3408606.0
118911185 119393310.0
4556556 4894078.0
6902824 7450766.0
536665 963736.0
3414044 3401021.0
2785350 3456433.0
991387772 991377089.0
990816491 991422527.0
838989439 271452.0
19431 839127546.0
0 294809.0
164779 120798.0
11 270306326.0
270212548 84162.0
16 1847577.0
1764074 73303.0
16 3173773.0
12 29390.0
3059218 73666.0
589826 201857085.0
201701509 715385.0
136171498 136157920.0
135529894 136215053.0
2273111 2950945.0
8535880 9212512.0
4160818 4746330.0
5875951 6335487.0
1474367 1824180.0
4665084 5071431.0
4577839 5049126.0
4806833 5307641.0
246468 909195.0
11102150 11682150.0
1236448 1559659.0
1866599 2196417.0
5080960 5441023.0
5468544 5735598.0
4858949 5110444.0
6456674 6855118.0
1146389 1583849.0
9750246 10199312.0
12928350 13738997.0
335090794 3422305.0
2823056 335201006.0
11027233 11618424.0
4598524 5177205.0
2483668 3593068.0
9307779 10039178.0
134 3073070.0
2714153 63379.0
4756748 4984713.0
39 4605762.0
15 23110.0
4436598 5710.0
830755 997909.0
4442052 4731766.0
10650884 11280813.0
3294435 746255.0
524317 3346426.0
5463990 5824464.0
5166038 5400700.0
844858 1212704.0
68711 161377.0
1301512 1538758.0
724560 1127621.0
30933207 6069289.0
5659102 30989453.0
3851617 4145326.0
6806748 7083570.0
4392456 4703281.0
5355205 5742734.0
12766338 13348430.0
963067 985689.0
251445 329048.0
280750 469167.0
443673 607372.0
369178 515061.0
5205476 5400193.0
846499 1211936.0
423595 717265.0
52004 171953.0
75 168917.0
7729856 8024357.0
71 7193764.0
6931260 8850.0
620985 913480.0
8211217 8585251.0
7316291 7640408.0
3122939 3771427.0
8471636 8811833.0
5397643 5586277.0
3852007 4017958.0
868286442 101740358.0
458854 868286381.0
101616112 459098.0
36088117 308087.0
216 36193083.0
9926198 10647585.0
446028 961573.0
100665047 5998739.0
5774458 100857306.0
8658400 8954178.0
163414 426483.0
219955 345600.0
50386730 254800.0
122 50386730.0
47593 122768.0
27427 81556.0
6769073 7068603.0
3153280 3294703.0
2106755 2330281.0
6143443 6234822.0
5007339 5089515.0
4461654 4542696.0
7571075 7668835.0
3795052 3892066.0
1465254 1562644.0
13427 102953.0
3443047 3572868.0
25 118863.0
21 119061.0
48 132266.0
25 252098.0
1928610213 231819.0
18 1928603562.0
9405857 175566.0
0 9414129.0
117453412 162941.0
28 117462761.0
1633786 213327.0
18 1641171.0
3424159 4457910.0
14486668 15220988.0
10551116 11097249.0
3085380 3537327.0
3856457 4391578.0
862839 1637427.0
17812908 18927223.0
272628 2170268.0
885907529 232432.0
46 885834891.0
16652715 331258.0
62 16816237.0
1562339488 348217.0
59 1562636825.0
1662676038 522856.0
20 1663107372.0
1663107540 20.0
80 1663107849.0
450072 3261918.0
2536636 1093007.0
16816520 16829184.0
1562637309 1562661236.0
1663108537 1663146135.0
1093889 1159603.0
6675523 7116500.0
5978032 6335020.0
1096971 1251919.0
745916 1155323.0
5829202 6240809.0
5420059 5790239.0
6760979 7171931.0
10875278 11499697.0
8555445 9025007.0
7545453 245172.0
68 7705439.0
474 18538.0
8283561 9001424.0
7724189 8180461.0
2030214138 2029694318.0
16 13967417.0
13343711 22309.0
1380101 819214.0
589883 1560314.0
5659341 6117572.0
10688270 11042517.0
98667 455614.0
8811647 9073018.0
2965153 3071524.0
107265 145643.0
552002 568201.0
1719689 1878907.0
1206706 1455748.0
2779563 3099069.0
1998387 2358437.0
3697093 4412168.0
5333999 6203858.0
4392725 4708266.0
6145879 6870633.0
17507033 18249315.0
7592871 8256413.0
4465479 5437607.0
7870408 8196413.0
4642554 4781878.0
703780640 703503082.0
10901959 11076078.0
5980775 6091165.0
1040676682 1040787669.0
6141107 6348554.0
1769479 584463.0
57 1769479.0
345952 140709.0
12682754 13168553.0
7183006 7600562.0
11679378 12785301.0
12117444 12105961.0
115 12739117.0
11900240 154794.0
12290122 12279472.0
646 6738017.0
90 102109.0
6297740 100528.0
2543927 2976720.0
3203430 3334394.0
117445391 117477640.0
2733850 3020624.0
3464954 3798554.0
1371268 1903387.0
14606657 15257396.0
16189008 16980389.0
21089379 22232737.0
10064939 10418015.0
506118347 506661132.0
8533151 9119039.0
1273273 1725250.0
349230 396069.0
50997622 51134138.0
2156568 2429612.0
11724788 13768382.0
8065211 9835734.0
23117673 24745404.0
15669387 17066362.0
1396504900 1397549079.0
4706389 5340736.0
13186795 14028477.0
6447590 7393728.0
1027985 2172459.0
4605378 5608530.0
1441784 1640950.0
1154882 1631855.0
2866080 3293771.0
1573426 1797151.0
182 2357557.0
2092527 44442.0
4826747 5365498.0
5149718 5572668.0
2183190 2338090.0
117450 343431.0
1037252133 1037683405.0
740932 1345101.0
1085379 1646128.0
7501159 7902602.0
5814327 6343164.0
1210520573 1209677683.0
1695646 1745249.0
7035289 613372.0
2165 7100843.0
2385461 424656.0
7 2393863.0
6989270 7366002.0
2408385 2786309.0
1844533418 10413899.0
10157197 1844320267.0
9490878 10113461.0
7810277 8758989.0
19768141 20820176.0
1506822 1630660.0
3686700 3928210.0
6313381 6924158.0
3515058 4015641.0
10909892 11642129.0
5443108 5713099.0
3488268 3598316.0
354346 415094.0
2720072 3203827.0
4195917 4759683.0
1514491 1778875.0
209300 409869.0
8521802 8947607.0
4529779 4884678.0
1047983 1249635.0
7484470 7886593.0
5941109 6232240.0
9240765 3108580.0
2847648 9411141.0
12 4887309.0
4649774 39882.0
2390679 2678408.0
5412029 5713886.0
7820221 8186070.0
2110559 2610931.0
18647 36178.0
2239609 2271567.0
10758389 11132393.0
14054652 14601049.0
4273906 5095169.0
4734957 5578114.0
10930776 11794483.0
7 9441238.0
8802363 99988.0
875329 1493648.0
1058563 102390700.0
102020925 1117436.0
1641180 507349.0
524300 1642994.0
131098 524335.0
458759 138930.0
50331654 458763.0
1661796380 50331733.0
393216 1661809141.0
483947 396403.0
61783 506114.0
458766 65895.0
22 458802.0
25 12909.0
458802 9844.0
10489583 11024968.0
32444118 10660095.0
10660183 32444118.0
8478629 8796785.0
366168 8576725.0
8576772 366168.0
5715361 5988854.0
283297 5800133.0
5800173 283297.0
5013614 5598122.0
117443349 106.0
106 117443349.0
458752 12.0
12 458752.0
3560223 3770668.0
17795494 3625824.0
3625854 17795494.0
8582599 9060793.0
11073 8732924.0
8732994 11073.0
2217955 2361502.0
1379123 1471975.0
26444879 522550.0
17 26915289.0
1036713 333734.0
10 1323967.0
339393 296378.0
0 610892.0
5867643 6300460.0
4834424 5147721.0
4303525 4533220.0
10334 190273.0
5489267 5684217.0
3560022 3806548.0
15059820 15420958.0
16702809 17163085.0
8709297 9289858.0
3430221 3999128.0
147134 1028984.0
9433507 9650441.0
6511549 6673158.0
3205270 3325977.0
5469499 5640657.0
1143511 1266075.0
1161221 1347089.0
319145 567659.0
593917 884257.0
6141790 7020038.0
11991318 12612793.0
11172637 11761324.0
3090138 4086881.0
724061 938234.0
5424327 5813849.0
5851654 6336606.0
80 2588198.0
2052542 42659.0
572 1835264364.0
1834698165 143448.0
5230002 5753314.0
3856208 4500092.0
1969374 2608686.0
7957063 8655494.0
2167071 2864058.0
1534747 2330296.0
951101 1445212.0
817645 1244921.0
1485630 2237142.0
710546 1080277.0
871941388 250727.0
74 871938174.0
1036751 1565551.0
7685557 8116422.0
6152970 6433424.0
9039900 9468948.0
629428 1091725.0
1601353 1752765.0

3207738 3637279.0
8351809 8595952.0
9312160 9505538.0
28 222451.0
25 301490.0
23 281294.0
21 184087.0
1692804 299606.0
24 1814923.0
5009978 5542727.0
1820030 2443605.0
5399978 509077.0
258 5602706.0
6535961 1872684.0
1376535 6741744.0
1513112580 1514012556.0
10714988 12018212.0
1228142568 1229012765.0
10141092 10705493.0
11488547 12097564.0
2506115 3126266.0
690651060 690048800.0
10 7603756.0
6911027 102566.0
16822643 608882.0
134 16835516.0
73 456182.0
19589852 20843270.0
17351962 18548791.0
914466 1588084.0
914168 1567304.0
725473 1270477.0
616151 1072535.0
582329 1008475.0
845184 1397066.0
1324913 2246511.0
2163008 3687521.0
160315 291367.0
263230 460416.0
375538 653603.0
450655 811258.0
770946 1331890.0
768098 1520156.0
240073 1453163.0
4113391 4265606.0
2483262 2753898.0
7689748 8280698.0
164209 188305.0
2354977 2369617.0
3401299 3423650.0
67393513 67627953.0
499958 525849.0
103486086 103703894.0
515459 732719.0
458876 665493.0
297398758 297493232.0
600142 243100.0
160 663801.0
4060097 4230075.0
671855 801715.0
947048 1072256.0
5714313 5953767.0
7927849 8515342.0
6564706 6902314.0
5747899 6022291.0
9254110 9745138.0
2134986 2440250.0
6928534 7252416.0
728117 994606.0
578073 753377.0
371952 531733.0
665155 874432.0
1600117 1797624.0
2402514 3168183.0
16617685 17562361.0
140147341 141008249.0
16256363 16982208.0
17116751 17606350.0
14387032 14921392.0
20942609 21730116.0
10541035 11477296.0
10810123 11359729.0
4523167 4850408.0
9775789 10168683.0
3539293 4064187.0
67714931 67805446.0
878705 1625688.0
2431981 3135795.0
15808313 16396080.0
6939959 7317166.0
1928671 2215843.0
2575469 3359843.0
543274 932451.0
1045050 1489175.0
504935 1106390.0
2768128 2992546.0
3832767 4308007.0
2044698 2025585.0
1388137 2464106.0
1521093 1803874.0
2402558 2378199.0
1805753 2898425.0
5296847 6626634.0
18308339 19361914.0
14751201 15772161.0
10448346 11172746.0
7595980 8118129.0
10857533 11514222.0
589824 57022793.0
56106662 604460.0
53705309 54339310.0
2861216 3033790.0
1845892 2368294.0
3233714 3681677.0
1376273 4960567.0
4441288 1505570.0
12915562 13641352.0
3803823 4445004.0
5224026 5649582.0
589824 1383257.0
1 589898.0
460397 299439.0
525061 644203.0
702655 528191.0
1204506 1444634.0
191 2234841.0
1985606 83126.0
2369314 2633279.0
2737661 2846826.0
2372761 2553821.0
68182790 68663133.0
4903616 5256975.0
3155559 3388906.0
652389 828823.0
4416287 4610126.0
3230470 3610172.0
579 7673049.0
7037941 271965.0
16306375 17226320.0
8380974 8820473.0
6250127 238122.0
167 6457148.0
3549354 4107916.0
4910010 5281830.0
19 5490768.0
64743 2819.0
5251122 87598.0
3874060 4360406.0
2120769 2264729.0
2070317 2140051.0
803860 198325.0
23 827468.0
3084049 261037.0
83 3159733.0
5526104 5961445.0
5490256 5790959.0
1516292 1823929.0
3925365 4494234.0
5340565 6140658.0
6325494 7315265.0
571767 917363.0
730525 1187157.0
7547064 7904958.0
4872133 5070616.0
214559 384914.0
7200168 7493421.0
500978 793940.0
6856800 7234845.0
2315512 2631110.0
9821984 10174021.0
3989316 4491511.0
20000247 20914761.0
293521 581234.0
357812 683381.0
11 118965.0
9753 66706.0
48 39785.0
39 116732.0
200 140544.0
7077700 46104.0
105 7268165.0
254 1068632.0
582706 68525.0
8053059 8805716.0
6261496 6741202.0
2593046 2780621.0
2421712 2701377.0
8224596 8775808.0
1802091 2387681.0
7913510 8445062.0
908246269 908641574.0
37050295 37309861.0
818285 1147556.0
8564156 8907609.0
9146054 9460855.0
1846393 2056318.0
8761981 9643703.0
15163845 16426994.0
561852 1504544.0
23498209 24193680.0
5628532 6107286.0
3331472 3688154.0
20049058 20522084.0
3249072 3880124.0
28504970 29353643.0
30430738 31385308.0
22896777 23804962.0
973007855 29803565.0
29075382 972502361.0
698537 1016263.0
22 698537.0
698538 22.0
6891416 7106232.0
16491997 16681690.0
34 56625.0
17 74069.0
22 17166.0
17 114340.0
25 51377.0
26 224866.0
25 203835.0
25 221703.0
21 4128118.0
3995226 51075.0
21 361891.0
136491 67503.0
207 293055.0
2057996 117817.0
242 2318009.0
9466945 9889463.0
61502 384203.0
9040706 9532080.0
18088070 19111477.0
262144 0.0
0 262144.0
4167947 4471387.0
117774566 118019207.0
2399595 4090258.0
1783566 2993122.0
1442153 2393594.0
795527 1512284.0
1 458752.0
458752 1.0
41383 76357.0
75165 140486.0
139483 256634.0
178268 354672.0
348167 607431.0
536722 924519.0
809461 1390058.0
1183509 1989893.0
1709849 2913065.0
6102334 6491671.0
760127 985188.0
4140197 4400729.0
8730020 8865222.0
3144145 3481377.0
11185001 11609139.0
874249 1282451.0
3184495 3533041.0
67109005 458796.0
458754 67109013.0
1500770 1632771.0
850509 1294567.0
5943446 6454632.0
8798951 9412134.0
14678627 15228629.0
2612131 3300402.0
21542297 22415912.0
1730934 2575796.0
1238277 1797930.0
914707 1550156.0
4922886 5770394.0
5922908 6684684.0
6118029 6442101.0
4003500 4396555.0
3132181 3745501.0
10815093 11611237.0
1471047 1685365.0
1090611 1445210.0
66168 399509.0
2772298 3070146.0
310262 598854.0
474106 814470.0
3452211 3811013.0
631456 1193843.0
7951095 8820150.0
8925254 10030292.0
51596 1406006.0
20738319 22010964.0
22387606 23233883.0
23361038 24037823.0
16850157 17430125.0
18241168 18957703.0
2312268 3223750.0
2388780 2377486.0
1632808 644980048.0
644219302 2297124.0
1992006 2496736.0
1051737 1570963.0
5407059 5892691.0
779700 893527.0
388278 588700.0
7610277 8001850.0
10578688 11342234.0
984064 1718228.0
1278170 2188652.0
1318670 2278673.0
1254291 2142150.0
766814 1342805.0
524296 912338.0
341300 619961.0
226171 414423.0
189410 344951.0
133692 219503.0
157626 255260.0
239546 382836.0
420122 666187.0
684118 1133669.0
124 131732.0
227367 10384.0
0 275476.0
0 42637.0
236 1093598.0
540563 33420.0
142 869266.0
432453 28538.0
1 136684.0
472364 13820.0
4142 565323.0
36 51407.0
14881 2628.0
1 894520.0
1960333 2066854.0
259548 436300.0
5091476 5471457.0
7951769 8573585.0
587240300 2310648.0
19075825 587276804.0
2087431 19218472.0
1931460 2521059.0
2240915 2329851.0
2120615 2183481.0
649677 735063.0
597513 620293.0
143792 31713.0
1 145187.0
22810 4952.0
938896 1100777.0
1233543 1473254.0
876452 1035638.0
50944362 51058582.0
3 4209790.0
3980065 71451.0
251 568665.0
138193 50820.0
16477567 17131631.0
2237354 3048698.0
4234123 5146566.0
2522054 3333345.0
934902 1060643.0
557551 680355.0
1294713 1440438.0
15371 118472.0
14 52633.0
1833436 2101434.0
3111216 3601132.0
6223084 6491789.0
8872495 9121596.0
855455 1226500.0
13240914 13869320.0
16663275 17191728.0
532187 666940.0
10565530 10779550.0
3173912 468615.0
0 3228086.0
2681667 377541.0
7 2726833.0
1757591 387437.0
7 1792094.0
1624282 2012077.0
9999893 10723530.0
5873676 6579649.0
6404120 7133167.0
4914782 5746209.0
200 1412600.0
1122898 191353.0
97 6437364.0
6192121 181067.0
11 6611558.0
6387865 176618.0
6166796 6635037.0
3176018 3616799.0
5539811 5975694.0
2388478 2907177.0
5618427 6301521.0
4763977 4944764.0
5 2876591.0
2654059 36628.0
10935148 11401842.0
8176910 8774451.0
336745 1071796.0
2314392 3143784.0
3546164 4428031.0
2805399 383915.0
192 3053169.0
13257 1905727.0
1779781 67914.0
589889 67610363.0
2301788 592439.0
73 2301788.0
125 28711.0
67490588 3250.0
5 873860.0
820835 50517.0
4683359 5058565.0
4024797 942181.0
655766 4270752.0
2063799 2364919.0
708591 762037.0
2274029 2329700.0
926342 983465.0
1743781 1855306.0
1514089 1655527.0
1494639 1631674.0
22790 76501.0
455304 550223.0
1705793 1824760.0
939304 1112621.0
535395 718355.0
1113772 1325060.0
1134168 1367542.0
1242168 1493608.0
1542660 1800016.0
1028078 1294709.0
1774043 2099077.0
1318726 1707723.0
2375487 2797787.0
2293597 2768859.0
735054 933991.0
823968 950022.0
1461139 1679629.0
531530 724067.0
223749 475616.0
3131017 100581.0
19 3144648.0
2658 43089.0
8 185904.0
141192 2950.0
1803 628138.0
1376270 8706.0
618527 1377343.0
17 34053.0
23662 837.0
86072 163175.0
40564 74895.0
102 62886.0
249370 402926.0
840017 1009738.0
3667524 3777062.0
3691587 3882323.0
458760 502083.0
9150424 9326037.0
1661992 1889427.0
1626 9913791.0
9747606 89766.0
1915413 2171341.0
6112966 6330664.0
1804 3596117.0
16809222 8392.0
3584210 16809292.0
27622 73351.0
301236 442404.0
13 162128.0
123523 18462.0
866641 1045908.0
1529238 1786704.0
956653 1087596.0
1876851 2084783.0
1885786 2165317.0
2432956 2742688.0
2911338 3273787.0
108644 192189.0
847964 1040408.0
1302174 1480559.0
3616184 3790164.0
787147 848153.0
2123040 2292608.0
4101886 4244169.0

1178879075 4472670.0
4256891 1178911085.0
8206721 8505435.0
4564422 4720977.0
259136 484441.0
4970840 5618268.0
6597101 7272165.0
778708 1346692.0
9428378 9890705.0
490778 662505.0
202220 638367.0
413440 402603.0
4835861 4976478.0
2973160 3056724.0
4858055 5044057.0
134247058 134329537.0
5208425 5683431.0
5458781 5636330.0
2921978 3058361.0
819 1522416.0
1095902 154735.0
425 7744652.0
7222912 168390.0
137 3191017.0
2691729 167173.0
8104923 8581996.0
7785520 18099790.0
18099882 7785520.0
17789669 18274135.0
5517690 6026516.0
8235388 8649711.0
738110 928142.0
1500961 1756312.0
326 3756473.0
3312407 85749.0
516079 579408.0
1595792 1791918.0
8 2021820.0
1714416 40887.0
3127516 3599442.0
393216 0.0
0 393216.0
50331648 0.0
0 50331648.0
1928603561 409.0
367 1928603554.0
655711 3263006.0
131182 737713.0
2972075 200542.0
2321619 2695248.0
7347786 7722647.0
827628 1038345.0
3624817 3862538.0
524298 5853002.0
393384915 393169694.0
775999015 775271735.0
863124 2044480.0
13869109 14622062.0
2229666 2687534.0
7821291 8128449.0
10564471 10921093.0
1892853 2459873.0
1680333 1777991.0
2270992 2349455.0
2171890 2306800.0
2834478 3079121.0
7766119 8007465.0
6391360 6655506.0
5454144 5839599.0
6911454 7264509.0
299145 1080946.0
15710 43711.0
6219 17947.0
4934787 5129529.0
846414 1090756.0
2891548 3047402.0
3799592 3946143.0
7591588 7925908.0
2926511 3164414.0
153236614 153688795.0
1095759 1337480.0
6970539 7429287.0
2063648840 8123329.0
7802440 2063692466.0
310505 358566.0
577956 603104.0
466729 492391.0
38 2414813.0
2298640 107846.0
644484615 3992050.0
3892764 644538399.0
2093656 2253889.0
661321 759227.0
552721 634840.0
2115106 2219794.0
812421 52295.0
3794852 812861.0
12 3794871.0
1044771 1112165.0
1135673 1241683.0
2879672 3119249.0
4908411 5080905.0
2836136 3038781.0
2467529 2733879.0
3796316 3982173.0
5099772 5312317.0
3040870 3209510.0
627822 733647.0
1799732 1926136.0
1287324 1356416.0
1508712 1549268.0
1801444 1861256.0
50277 866483.0
1965667 2693927.0
19003002 19451715.0
16423020 16818204.0
13895586 14526850.0
23551428 24656914.0
9323505 11048551.0
41 1973149.0
67798251 75454.0
1864203 67952524.0
86 1131400.0
117668571 123167.0
881343 117756217.0
218 2131081.0
1824119 143007.0
1744060 1864097.0
162 1334248.0
780371 105260.0
933280 881072.0
1395935 1880063.0
4667481 4969552.0
187009 497119.0
1264226 221106.0
1352085 1317894.0
1374875 1361955.0
108 1414285.0
574620 134218388.0
134218269 574656.0
2411475 2846274.0
393248 714917.0
11340 401222.0
458781 40213.0
23 203977549.0
203851869 11508.0
267072 248556.0
99 269317.0
16712036 2371.0
17 16718688.0
457770 948846.0
637603 1320092.0
9476202 10198259.0
5051853 5446430.0
7505172 8094702.0
86308354 86730310.0
4639110 9341438.0
8781866 4718825.0
456900 647714.0
2660713 2833101.0
1712438 1850509.0
39860 64384.0
613142 628861.0
7280274 7833258.0
10726380 11204469.0
698648 1098568.0
7859255 8437484.0
7239957 7971816.0
1416123 1651033.0
8421779 8819993.0
333 166346.0
10229 66642.0
59 1526472.0
1272793 59797.0
851703 912678.0
1267453 1344750.0
1705526 1821701.0
4161402 4616008.0
544642 851963.0
5163868 5448709.0
649 9638103.0
9359841 246111.0
9051614 9472498.0
6507057 6811065.0
67269835 67350175.0
90 3068648.0
2759008 186372.0
7044791 7789669.0
11750218 12508522.0
12 183852.0
1126777 124624.0
102 1146219.0
18 2664036.0
2388356 170253.0
16 1533909.0
1327117 139045.0
3221894 3714695.0
3579704 4152584.0
4772544 5587846.0
259936 555383.0
93736 256005.0
1354692 1565294.0
894839 952635.0
101027808 101122434.0
11569088 12297045.0
7 13653626.0
13244418 74463.0
2064718 2407101.0
5375139 197319.0
30146 5497831.0
7960775 8278994.0
3770133 4127896.0
5141259 5340061.0
2216767 2581014.0
1872675 2184833.0
9840713 10149672.0
16 1848584.0
1647060 86870.0
3888635 4669660.0
7702168 8537868.0
717853 2040837.0
4380079 4972962.0
8645107 9092219.0
5975962 6330749.0
635842 959111.0
7185732 7599303.0
524238 1109011.0
576 22039.0
140783 123097.0
1628 271348.0
5279698 5371745.0
249656 293268.0
90078 105507.0
5319835 5781760.0
4042094 4399217.0
6040309 6507538.0
9409119 9787275.0
3413447 3906905.0
3300376 3917165.0
2032330 2520969.0
14366952 14901117.0
12778531 13591681.0
4513498 5254600.0
6743297 7280480.0
2413056 2609447.0
1430066 1568210.0
1794920 1964374.0
2167823 2366054.0
6025253 6308695.0
1835855 2129835.0
2792607 2997534.0
4285905 4592030.0
6159358 6479953.0
4174880 4423367.0
105 393930.0
208538 45232.0
788985025 789129648.0
1167933 1340521.0
3909199 4232461.0
3245 120048902.0
119754806 275178.0
91188 219734.0
124898 280828.0
2004561 2646733.0
1098587 1428380.0
1576721 1744459.0
12247579 12365364.0
2573977 2708431.0
626763 655670.0
198700 226696.0
365944 431286.0
12946917 13398238.0
420190 750160.0
8018100 8402563.0
10662567 11209637.0
14596626 15406402.0
6059875 6286323.0
7722764 7928862.0
3144832 3285306.0
3512818 3669054.0
4721129 4984560.0
1632289 1697531.0
816576 849842.0
607594 644473.0
50 3803351.0
3710735 28968.0
44113 73513.0
1003606 1053348.0
276534 288030.0
5240950 5624396.0
390397 569846.0
860824 958939.0
2232833 2283537.0
37486 66344.0
13760 171702.0
721043 833045.0
1226712 1339583.0
62 552625973.0
348978 100764.0
7 364194.0
552547867 2106.0
2055 221540.0
1758548 94476.0
338 1813703.0
5941971 6367632.0
2789872 3194369.0
5666712 6004876.0
9755229 10411605.0
884039 989314.0
562352 667390.0
1275411 1378094.0
6089572 37494496.0
37494371 6292094.0
16983427 6089572.0
6089517 17233524.0
21 16983427.0
16983410 450832.0
4594354 4698148.0
8814545 8951571.0
7821449 8003747.0
9132067 9344255.0
6900457 7321789.0
2904805 3634719.0
19541256 20701915.0
3578918 3807716.0
989911334 990144546.0
5247 308998.0
7797914 8278604.0
3736916 4100613.0
5073538 5386344.0
2280740 2682346.0
2791142 2902327.0
555263 83744.0
41 567609.0
0 2740067.0
804 12832.0
2630764 14743.0
68163241 68372204.0
3984109 4297797.0
1182019 1633103.0
1245617 1787719.0
70 519056.0
7493 533958.0
388085753 388720521.0
10570619 10826897.0
458781 120551519.0
327884 458781.0
120076571 454776.0
458800 509427.0
196647 466112.0
524386 310772.0
524328 607630.0
85928 567289.0
458888 302191.0
4523458 4777497.0
8969552 9287880.0
9290094 8969976.0
8942236 9337599.0
9288333 8969325.0
8970774 9289078.0
8408734 9053044.0
170203 541498.0
524289 178992.0
1350853 1425126.0
746093 1005165.0
2804774 3023612.0
2163466 2427178.0
1186099 1588562.0
1884991 2271553.0
1089740 1335495.0
5838940 6208466.0
324 2029275.0
1289664 9268.0
13 593898.0
7424092 126433.0
90 7427088.0
4927510 599009.0
16 4929736.0
393251 84493189.0
607125572 594469.0
117572649 607235946.0
84383279 117795807.0
58 274488.0
2896985 20287.0
226 3050059.0
3673075 4010968.0
1469881 1638420.0
996606 1124006.0
1277983 1604582.0
9206389 9644009.0
189 191299.0
30183 284682.0
26 354398.0
1376322 1257771.0
66 1376698.0
1149518 73778.0
16 638316.0
59 42438.0
566643 3437.0
1322167 1404990.0
5847710 6107636.0
211273 365072.0
1577462 1675465.0
243560 378024.0
558719 872609.0
318947 1079015.0
924918860 925733099.0
1347849 1736129.0
2489578 2777436.0
310491 408378.0
597842 786600.0
3034164 3564624.0
1155476 1279461.0
2892457 3192829.0
841857 1370761.0
8706619 9700232.0
1057437 1369717.0
370746169 371274192.0
354674847 355262776.0
12972961 13787751.0
4949474 5320130.0
4759437 5050609.0
3899882 4153714.0
3266658 3554575.0
8291628 8634515.0
458941 950479.0
322517 517900.0
3169309 3731571.0
6601620 7121881.0
3896782 4104904.0
8281671 8717902.0
8765393 9371977.0
1550 5527037.0
24 127446.0
5131222 107312.0
8777606 9223295.0
12093815 12732515.0
16 1949564347.0
459205 11908.0
1949038425 753491.0
11769212 12751820.0
459313 11323067.0
11324762 459708.0
459864 11324762.0
10804164 752593.0
50871876 50992621.0
3948104 4223082.0
524293 566353.0
459883 599991.0
102264337 102558861.0
4490976 4752494.0
1450328 1590200.0
1725050623 1723803045.0
8350307 9737769.0
338213033 339356749.0
3364752 3744496.0
191 15418871.0
14803362 85621.0
16746747 17541182.0
14088814 14773890.0
4067368 4392125.0
33611839 186793.0
1064632 33683551.0
52 1071940.0
6080686 6423412.0
4690758 5062332.0
101 3661111.0
3408474 95440.0
4362306 4546998.0
150995055 3908318.0
3651601 151173173.0
3294796 490386.0
458782 3341355.0
5522856 5711598.0
3766314 4161748.0
16038362 16888720.0
1226290 1321731.0
3295040 3569844.0
2656674 2964543.0

8916085 9274274.0
8561961 8898618.0
1753701 2053886.0
70687 489411.0
2113723 2703550.0
1916111 2181568.0
4203253 4462213.0
67271156 67564615.0
13352797 13737504.0
3584178 3760609.0
0 126782.0
39 194814.0
42 19188.0
1005421 1303172.0
3275149 3489055.0
101150 370466.0
11952604 12627821.0
4 14176715.0
13657689 333845.0
0 13480116.0
0 71826.0
13001908 237415.0
1122 8296931.0
7737713 241828.0
605331 764783.0
2453869 2655783.0
1118046 1438778.0
1824419 2368492.0
2543366 2915531.0
2144892848 2590604.0
2591086 2144892848.0
10653626 11306527.0
244 438498743.0
438132669 204275.0
303094340 303385220.0
303164093 303131148.0
303131481 303164093.0
303165663 303132595.0
303132965 303165631.0
3631479 4301281.0
3731441 3698321.0
3699277 3731441.0
51683283 51950382.0
51748392 51715351.0
51715741 51748392.0
259 7083643.0
6738458 251106.0
11120414 11568487.0
2115520532 2115868117.0
104969 386990.0
1726779 2134214.0
7516241 8261558.0
3371367 3765506.0
3125678 3415849.0
9331608 9636629.0
11387695 11854854.0
7557428 8233467.0
12522962 13687676.0
1158288574 1158732051.0
256270 567012.0
7400476 7670101.0
6306564 6558534.0
5710434 6036235.0
12757481 13240647.0
117873917 118042065.0
11971342 12122444.0
4561370 4744954.0
68168453 68801613.0
101887684 102336885.0
4195779 4353894.0
7049490 7256693.0
5080365 5494566.0
8929626 9310713.0
13281173 13656448.0
7885949 8250424.0
10549268 10840941.0
2495270 2734908.0
6888185 7568651.0
211375 708943.0
9721267 10047145.0
7414270 7678808.0
353013433 353219351.0
4246578 4605071.0
3156101 3293883.0
751167 1010757.0
506278 872402.0
7159441 7607832.0
6091259 6550293.0
117515047 117595033.0
744153613 744326481.0
137720 156628.0
1783139 1824405.0
35782 71700.0
3 67586631.0
90 22760.0
67475051 18011.0
5970965 6350748.0
2427082 3029570.0
317678 424328.0
97 338736.0
5556263 5909654.0
1166875 1423017.0
0 376711.0
49 33442.0
145109 17289.0
20 852192.0
281669 39562.0
1917721 282565.0
282592 1917721.0
221 2409981.0
1917712 32460.0
6 241602.0
137575 2779.0
593068 1700137.0
0 885596.0
886476 0.0
1054093 1043695.0
18283707 19116567.0
15781680 16452931.0
711324 840079.0
1423239 1667965.0
534936 923568.0
3142493 3363099.0
6477969 6858760.0
6660732 6976298.0
7882070 8270769.0
1894138 2178402.0
3065274 3230773.0
8675618 8960891.0
1822794 2183098.0
10080111 10477071.0
10711866 11177100.0
8594606 9279934.0
806508 1488820.0
9381220 9893603.0
118528192 118859774.0
4313475 4587925.0
7099622 7436143.0
5913527 6124307.0
4768647 4963523.0
4645154 188694.0
44 4648569.0
3336138 3539635.0
5691071 5959175.0
8516682 8925465.0
13067333 13801127.0
12461 1752692.0
1461501 276668.0
8190931 8681090.0
15105031 15733694.0
21435472 22416323.0
197142 458865.0
458788 197147.0
855864509 856111105.0
213111 63949.0
63990 213111.0
149599 96744.0
97253 149599.0
149835 97253.0
97284 149835.0
20 105940.0
36 23280.0
353789 10193.0
47 401196.0
1 601157.0
142 100247.0
339626 20645.0
424 382147.0
2680803 29775.0
4 2794719.0
1 4312754.0
571 103763.0
3793769 36179.0
888 58682.0
155 13204.0
1056 13387.0
13 12555.0
3 20306.0
0 77134.0
29 36809.0
348 50115.0
632 22412.0
850 17619.0
654 44382.0
542 16816.0
374 19071.0
799 17265.0
973 1063837.0
497597 36379.0
867 307190.0
535089 30064.0
258 741426.0
30 1334441.0
312 262012.0
976548 34378.0
2 353256.0
908 62568.0
0 856755.0
282502 27197.0
27275 282502.0
243 57048.0
781880 7912.0
109930 788285.0
788644 109930.0
110126 788644.0
788718 110126.0
28663 795350.0
795411 28663.0
265064 841411.0
841451 265064.0
265077 841451.0
841531 265077.0
265103 841531.0
841552 265103.0
265209 841941.0
841998 265209.0
0 550300.0
167 19210.0
487005 5337.0
1 171891.0
112265 4139.0
89 99626.0
51625 3452.0
18 21131.0
157 16497.0
22 15419.0
27469 2868.0
6 47080.0
1 85343.0
22055 5433.0
71 176112.0
106515 6762.0
81 296517.0
237192 5708.0
67644 987.0
988 67644.0
67819 1001.0
1001 67819.0
68314 1056.0
1062 68314.0
69977 1243.0
1243 69977.0
7 13838.0
0 26605.0
17686 1134.0
17 22951.0
11795 1331.0
25 77147.0
64610 1434.0
7022130 7164811.0
2543157 2643296.0
7029589 7236257.0
5548686 5751609.0
601498 745459.0
6180646 6344901.0
117915387 118364820.0
185276713 185451028.0
458801 6999931.0
458874 490251.0
6861509 505459.0
2796506 2951621.0
6626090 6981456.0
2394460 3024821.0
12707035 13368082.0
2676389 3259232.0
135 6625277.0
6333777 117851.0
9395186 10074112.0
4180595 4678823.0
4830495 5226584.0
1770274 1992570.0
3647838 3806941.0
3606895 3785648.0
1700862 2238935.0
26 497472.0
143828 15256.0
0 966877.0
852169 668.0
747626 860554.0
535320 555473.0
580090 646560.0
3179418 3301801.0
49606 118904.0
151499176 151676816.0
870137 884766.0
3 16404.0
261620 277578.0
343959 365370.0
0 2975261.0
2966762 9487.0
1804647 1818891.0
81 10570721.0
206 13172.0
10156209 110476.0
277589 10371517.0
195 287657.0
9829037 85777.0
287670 1830423.0
709230 1085014.0
6869870 7263017.0
604567208 604886186.0
6856974 7143136.0
3340948 3558801.0
2361887 2514567.0
3201316 3386651.0
92001 277910.0
2274213 2454251.0
348206 362664.0
85044 17048118.0
16824342 102581.0
628951 837458.0
488367 685414.0
33055 377353.0
7047122 7595489.0
3840801 749068.0
174 3956142.0
15678906 573830.0
458752 15832126.0
15832652 458752.0
52 15832680.0
2248780 2883918.0
5554020 6173932.0
578631 776295.0
648941 859155.0
615120 836835.0
872045659 872368944.0
672779 879833.0
734156 129305.0
37 841228.0
1092504 1490983.0
944642 1465152.0
665308 1024693.0
718611 1066825.0
762129 1159525.0
3854356 3918326.0
3888480 3989998.0
3464279 3641507.0
471986 604565.0
42069 141232.0
10582994 10698322.0
6556511 6692973.0
1357034 1546975.0
186333 448428.0
239445 430408.0
1302910 1509285.0
41930 402082.0
67803 102741.0
16 124750.0
42959 77386.0
119 85426.0
34480 62967.0
89 70858.0
29954 56207.0
82 58321.0
48292 93202.0
76 93964.0
77482 144871.0
175 146597.0
44413 1067932.0
983058 72404.0
42977 70194.0
55 71644.0
41899 154258.0
42746 91252.0
30 74046.0
458753 9.0
468638 595060.0
1635573 1815882.0
2 2280214.0
2119891 52301.0
2067379991 2066913827.0
1397745 1867572.0
5178881 5882308.0
115330 287073.0
171813 429063.0
508872820 509264305.0
148490 243509.0
98508 337486.0
155764 537830.0
101034216 101111667.0
4437760 4557690.0
2801756 3071157.0
520969 756032.0
1436741 1718155.0
6503610 6716729.0
5118511 5296621.0
1363155 1676281.0
135927 316619.0
832739 1150475.0
382177 885577.0
634445 1486330.0
388545 702235.0
5426505 5921504.0
10940505 11617827.0
338428 482562.0
6040207 6556402.0
5275493 5747844.0
7812908 8439996.0
117783611 117901083.0
496901 569989.0
5758300 6071414.0
13923771 14861046.0
19149266 20001896.0
15599685 16234880.0
12773269 13345047.0
1051873 1491525.0
3762745 4125630.0
3853954 4326306.0
1802059 2407374.0
10161441 10990511.0
1863512 2253872.0
4458375 4689765.0
2609167 2873206.0
2013307344 1933614.0
1842683 2013330887.0
184609880 740844.0
695325 184621078.0
151 1081620.0
1044290 9060.0
400614 522999.0
1808721 1900506.0
4538544 4727197.0
6372720 6864006.0
1409674430 1410045055.0
10715068 10984036.0
1603502 1849404.0
561331 780953.0
836150 1088185.0
5900847 6299724.0
6544341 7197454.0
1312 231648.0
7 31536.0
1909 210172.0
3626688 4800174.0
5559293 6613451.0
6710780 7914667.0
4251126 4871451.0
5738758 6143633.0
667857 1348253.0
1927727471 1927167463.0
1685259 1671500.0
849104 1839849.0
2657226 2919001.0
12319013 13198008.0
10685983 11418989.0
1646655778 629061.0
7 1646681283.0
2673907 2867081.0
3227203 3413353.0
2505455 2672337.0
1225502 1394116.0
72 8876720.0
8403776 71835.0
507 8754263.0
8318785 155398.0
7604387 8190456.0
3859275 4548514.0
12179134 13150276.0
1280213 1637712.0
2869908 3260200.0
1254532 1612682.0
718135 1076578.0
2023380 2396740.0
301415 331472.0
1099575 1216572.0
67325636 67472657.0
483149 583679.0
463499 524716.0
2524796 2736481.0
2710889 2922733.0
3325297 3742034.0
10340421 11224897.0
12371873 12940374.0
6618554 7313367.0
1181231 1751513.0
4133360 494460.0
1535 4236897.0
2967697 3529660.0
1291096 1750357.0
2528072 2669317.0
683426 741499.0
960284 1013713.0
435857 453015.0
204504 220950.0
539022 561909.0
0 5176463.0
4843472 66890.0
4003722 4329503.0
4852666 5266218.0
2740033 2867145.0
2323146 2442960.0
2044107 2158145.0
633315 1129218.0
12718858 13283857.0
12630914 13221421.0
4355499 4952479.0
8944239 9342864.0
7984210 8327843.0
3815084 4023886.0
2359275 2498127.0

14496695 15088376.0
3087536 3611737.0
5886855 6348564.0
6984047 7457607.0
101091473 101185315.0
3075613 3374046.0
5369919 6228289.0
1165651 1792720.0
9384829 9813738.0
1471431 1592059.0
6281259 6584894.0
2902022 3345345.0
539333121 539679594.0
1560087590 1559961242.0
2617805 2954601.0
7096298 7558359.0
170 374903.0
247279 57616.0
6 1488298.0
1338175 5523.0
7622665 7813554.0
4264831 4415218.0
3962887 4316647.0
738444 1117852.0
1036830 1610113.0
4934304 5625390.0
894979 980753.0
3218416 3257952.0
2750116 2625193.0
2135225 2755488.0
19526502 19967275.0
981 448729.0
22935 50929.0
52 333007.0
282291 9288.0
5931045 1625250504.0
1625620181 6221453.0
571803 1241922493.0
1241776259 750156.0
150 123697.0
39 3912187.0
6259200 51639.0
3759416 6551896.0
3390827 300278556.0
300220487 3863329.0
407351 864059.0
5249787 5828339.0
12 1029102.0
924861 218640.0
230 8945551.0
8529255 102662.0
7711516 8298734.0
1507929 2320044.0
1 458752.0
458752 1.0
27 1048102.0
832580 7104.0
890763 875194.0
875271 890763.0
33 565649.0
145544 22637.0
807 608323.0
169088 26034.0
760 1252507.0
809497 25517.0
32 1573067.0
1267395 21939.0
27 152245.0
386910 17829.0
2 419044.0
22 285345.0
153318 9664.0
12 431218.0
353943 8143.0
0 87462.0
128 16710.0
129766 57098.0
57290 129766.0
1 224427.0
108825 6552.0
342 171064.0
340 261597.0
49931 11638.0
448 282201.0
54974 12584.0
0 159883.0
0 26437.0
457 70805.0
52541 11338.0
0 299859.0
56 34599.0
116615 11432.0
0 182159.0
28 21743.0
83560 6745.0
560087 313249.0
313473 560087.0
21 349225.0
258003 5072.0
0 448983.0
335 81339.0
345801 12485.0
2705659 364711.0
365092 2705659.0
263 527872.0
166758 20035.0
756 3127400.0
2644101 27346.0
74 568811.0
14 64656.0
441144 10188.0
109965 133275.0
45 115132.0
34 19749.0
135 5413988.0
5231283 89906.0
2136790 2409735.0
1924779 147547.0
147548 1924795.0
0 163257.0
163345 0.0
1120381 316697.0
54 1149724.0
1767705 2078428.0
839317244 0.0
65536 839317244.0
1 65536.0
11537640 12071137.0
6928872 7211170.0
651550 906137.0
3769 6861700.0
6787207 26312.0
702530 796191.0
16 12846702.0
12745049 93956.0
2033487 2485627.0
2979822 3546223.0
199656 1217913.0
2543248 3204561.0
1507388592 1506897757.0
1382364965 1382734959.0
8209716 8611651.0
3298587 3580695.0
990104 1101713.0
92838 135854.0
132231 158546.0
4419444 4516964.0
15852032 16554992.0
11597332 12339366.0
4545948 5347718.0
18 72006.0
40311 16928.0
14750 63373.0
3075 458917.0
458755 3100.0
150994944 458752.0
458752 150994944.0
74231 215865.0
10633791 10766537.0
473296 549894.0
1696591 1790457.0
1020214 1222446.0
635536 671278.0
474166 561533.0
1363662 1489323.0
1669827 1730875.0
2191597 2290597.0
8789677 9365722.0
8321806 8836578.0
6473399 294697.0
7 6525437.0
1609201 1875707.0
440131 748938.0
9829319 10324142.0
16447907 17282125.0
1902163 3045611.0
14291132 15820806.0
2185333 3486038.0
4193446 5289570.0
1951328 2754175.0
13965885 14699655.0
14190551 15037372.0
815050 1832411.0
24571 1241567.0
989341 1073315.0
1094013 1354796.0
5467477 5875291.0
7990020 8474151.0
10921778 11504903.0
14234900 14947053.0
21734114 22529667.0
19099565 19884586.0
6229765 6834669.0
3620825 4238318.0
895670 1450328.0
17563836 18424245.0
1070354 1277051.0
571371 678298.0
366132 531536.0
343910 646753.0
262282 1252108.0
458794 264150.0
5717846 6541588.0
8404288 8937292.0
1107523535 1108411956.0
17376374 18327629.0
458752 100663296.0
100663296 458752.0
3628326 3864165.0
6057209 6374796.0
1150 4768484.0
4236446 87228.0
1185604 1675858.0
233092 507667.0
17691101 17829098.0
754549 828795.0
1280794 1365929.0
113902 47065.0
47 121617.0
68026 145266.0
249750 386902.0
9099629 9424555.0
18782079 19461789.0
1869767 3215697.0
152666359 153394812.0
118271397 118558406.0
6203495 6826801.0
1713569 2224228.0
7630098 8270784.0
8025681 8823060.0
1459871 1767371.0
792014 956124.0
838844 164589.0
133 849113.0
59043 370147.0
0 1393341.0
1044807 16255.0
3729180 4145570.0
5422630 5780093.0
1517215 1615999.0
2541859 2708561.0
1640266 1898425.0
25 321292.0
7 20825.0
71750 27657.0
222 85999.0
264177330 263231212.0
304738106 305667416.0
4854975 5388181.0
5530541 5827323.0
5582776 5924239.0
9354464 9759084.0
9542348 10021581.0
10323534 10768903.0
9513122 10015427.0
2665146 3034736.0
10572578 11095673.0
671688 789167.0
493649 588030.0
411433 491937.0
1266324 1286057.0
1133707273 425910.0
524291 1133707286.0
423920 525138.0
63751 172954.0
281319 365465.0
1527931 1587515.0
6895370 7407217.0
169098454 169434188.0
854211 1109320.0
4304668 4388419.0
828711 996320.0
3641014 3805089.0
620083 753497.0
14123604 14491756.0
417501 718757.0
36893 300835.0
746332 908570.0
458840 820296.0
532589 546175.0
786769 589200.0
168327 926194.0
1478264 1805609.0
1539086 1745456.0
2321705 2565925.0
474304 624058.0
10 142311.0
111235 32017.0
181018 225523.0
1111558 1259334.0
4634426 5094458.0
2993558 3148802.0
518985 609331.0
651012 752661.0
0 15728818.0
537268042 0.0
713185 537268042.0
15728818 713185.0
2303165 2588102.0
1795582 2478679.0
74 2385882.0
2205299 105662.0
4385335 4600157.0
1309390641 1309562552.0
1662070781 1662315450.0
133592 171205.0
306034 367563.0
559869 667032.0
650868 766573.0
118357103 118635033.0
3970929 4127873.0
409589 686016.0
2992530 3793220.0
6026808 6899696.0
4712239 5578834.0
4086342 4949051.0
11 4743292.0
22 238251.0
4178151 71437.0
3604161 4445016.0
3186286 3951043.0
847535 1496504.0
489314 896446.0
330191 1030048.0
4241628 5045804.0
7380403 8228339.0
796005 1591682.0
1366016 2112573.0
1003862 1885656.0
873373 1619664.0
764238 587172.0
6 837544.0
721451 1358287.0
588426 284177.0
100 804741.0
527729 1003028.0
3470466 3877911.0
18796028 19342949.0
13755819 14254232.0
7231494 7649130.0
569319973 4807409.0
4541365 569348988.0
3929972 4527971.0
4014964 4556640.0
1234282 1379664.0
746385 825635.0
266399 292264.0
5859839 6341982.0
4932967 5304989.0
3552007 4149286.0
1977873 2157897.0
756722 843172.0
235049400 235235965.0
59 1889210.0
1629649 57305.0
335582191 1371731.0
204 335585014.0
1217596 67624.0
64 118402369.0
118276981 51750.0
8 1327071.0
1163250 11825.0
2216335 2527462.0
1356160 1725099.0
838719 1076846.0
1247664 1555936.0
746419 937250.0
601916 756834.0
789340 999495.0
1559613 1917625.0
2093131 2584291.0
1927092 2593349.0
801024 1332881.0
3788284 4099588.0
2371321 2538086.0
1572946 1909103.0
1358810 1584751.0
1194426 1421899.0
540494 741544.0
224236 383746.0
95203 270332.0
502955 729079.0
3 10345379.0
10337032 3435.0
13 394475.0
365425 8876.0
159910 199525.0
836572 903137.0
1599173 1741890.0
3005108 3130494.0
457390 531576.0
33604432 33621824.0
421354 499925.0
4250750 5184482.0
2423601 3108508.0
1353170 1931625.0
6026414 6914411.0
13247506 13923031.0
13673720 14503594.0
1948174 2066716.0
209415 309604.0
1268216 1469985.0
9897607 10559493.0
3362546 3870887.0
10863965 11294680.0
3211753 3878452.0
6937786 7328893.0
233 141534.0
2931536 170473.0
319 2944492.0
326 85487.0
7728598 8433505.0
1123766 1297411.0
861238 986172.0
1015104 1142863.0
18289591 19433243.0
319565 1385015.0
237914430 238806334.0
3400273 4156625.0
17348931 18055527.0
9078738 9900139.0
7579762 8531387.0
5 6859268.0
6859268 5.0
158 6999851.0
6009724 130619.0
1232344 1255853.0
20452 49417.0
118234 204413.0
8166633 8299350.0
1587016 1671539.0
880192 1152989.0
341609 1189267.0
2233051 2899722.0
242301 1005416.0
3292133 4288374.0
57034165 56249189.0
3983238 5013099.0
4750155 1208362463.0
1208002150 4781477.0
8970560 9389356.0
905382 1320451.0
10343285 10961484.0
1469802 2057218.0
325286 799118.0
10074711 10512561.0
3788996 4019251.0
12099916 12376039.0
271240 692351.0
3743691 4425895.0
110 2353351.0
1912250 345876.0
6239838 7102794.0
6982444 8244238.0
5207286 5689496.0
5997918 6515703.0
1194497 1302686.0
3625703 3865297.0
5868910 6206074.0
7107572 7496600.0
5530642 5947744.0
5651159 6080146.0
317957 1254966628.0
280 384254.0
248 64242.0
271 17659.0
1255208412 81399.0
1284 3372192.0
2868296 260317.0
7056061 7973202.0
123162 1117189.0
1522254 2225848.0
19167 89759.0
354785 585723.0
141 5214179.0
4958810 35127.0
2104714 2441350.0
587578 901009.0
208 3603573.0
3113662 71218.0
523290 1192189.0
1331038 1921337.0
15136373 16073723.0
19879583 21084299.0
2163060 3849535.0
4242356 6055036.0
35341447 37338334.0
314835242 4094672.0
3381415 314981603.0
15139131 15772273.0
9444139 10114681.0
1555 1560406.0
1045834 47348.0

2253680 652263.0
115 2290049.0
1112681 1952573.0
979155 1927641.0
1655694 2886431.0
654373970 654355546.0
653576313 654692565.0
688188 1760188.0
945613 2186553.0
4562175 5355366.0
431079 970414.0
1609 733077.0
957828 1539097.0
6735928 7174483.0
29 6333363.0
6093109 54480.0
11 5651802.0
5460565 98840.0
3461875 3812809.0
8336033 8922029.0
14423001 15425628.0
6951691 8311561.0
36750354 38569365.0
502052452 629454.0
1016 501616113.0
4993624 5944711.0
12775105 13535671.0
1144 790332.0
364828 121682.0
334332 665741.0
3161740 3538278.0
91348 517031.0
4130391 4592682.0
5339002 5686904.0
3633688 2362489.0
2099984 3754496.0
393030 3633682.0
3348753 456279.0
26 392982.0
228941 28516.0
35 792033.0
641849 31391.0
5364 201093.0
201262 5364.0
130 355689.0
334140 23331.0
0 371411.0
30655 0.0
145 30655.0
292759 92075.0
92092 292759.0
0 96138.0
38 61933.0
2 23944.0
480359 2473.0
0 493551.0
63 10491.0
0 30337.0
1 23976.0
121573 7106.0
37 122459.0
71 21410.0
0 25013.0
228 63257.0
86 31186.0
67321 10627.0
0 151444.0
0 50107.0
13 101835.0
1480118 15680.0
0 1569692.0
8 796924.0
410184 24519.0
13 222491.0
239818 75358.0
75436 239818.0
144 1524744.0
839500 42613.0
91 937424.0
511082 25644.0
28 17926.0
40 19951.0
131 11205.0
151 104397.0
174676 24948.0
43 331345.0
4 242269.0
142983 10697.0
0 243637.0
800 649237.0
310758 16563.0
28 230315.0
234351 78383.0
79030 234351.0
50 95792.0
75450 13466.0
212463 186755.0
186967 212463.0
34 355592.0
0 54670.0
228 54453.0
185714 21048.0
77 228532.0
417504 22005.0
0 482807.0
169 267792.0
5 121074.0
71025 13646.0
51 231837.0
64474 33911.0
73 84103.0
0 111326.0
154 26967.0
20 251794.0
626422 19901.0
0 628217.0
61 21902.0
101 52521.0
475 82305.0
52 37578.0
0 71922.0
0 33218.0
624 53719.0
177 10760.0
4246915 4818246.0
1658653 2273188.0
20 3000575.0
2456264 52021.0
5189526 1325828639.0
1325426161 5217078.0
683737068 458752.0
458752 683737068.0
5192244 5437275.0
2451828 2940827.0
11772995 12295893.0
1292295 1575645.0
5134835 5527071.0
6787675 7155020.0
8370136 8842438.0
694383 1374267.0
73910672 74035795.0
1568436 1637283.0
541031 627703.0
3021055 3151818.0
1367213 1806546.0
2516913 3077099.0
16859892 17915479.0
2462290 2837092.0
1649324 285778.0
13 1795454.0
7756206 8227308.0
2 342646.0
343349 2.0
35 350092.0
127349 13740.0
2 171615.0
172244 2.0
2 172849.0
173184 2.0
78186 210095.0
265654 78186.0
90832 265654.0
210157 90832.0
1 333709.0
867606 23333.0
39 920163.0
14 730562.0
253318 27520.0
1 250893.0
266160 16445.0
62 305035.0
0 216240.0
4 154248.0
236729 21109.0
0 260647.0
2 129701.0
154920 17745.0
179 298915.0
0 409114.0
2 37406.0
245452 12459.0
142284 655439.0
1 18825.0
13147 241.0
104361 13503.0
13503 104361.0
3 48706.0
38232 519.0
8 118647.0
103405 953.0
9 24719.0
12674 1439.0
69 15687.0
6 65737.0
20192 2656.0
6 56053.0
19739 33718.0
33756 19739.0
7645124 8045945.0
2628037 2866339.0
904460 1087900.0
30 102223.0
8 40888.0
30 22294.0
28 16382.0
1024 10473402.0
1371 30081.0
10097598 234687.0
825684244 826506410.0
1914082110 1915006523.0
3403867 3622413.0
555786 943709.0
5244788 5711588.0
2081622 2677713.0
196625 68461853.0
68034575 214520.0
10684154 11238222.0
589825 458777.0
455 589842.0
458752 468.0
50331648 0.0
0 50331648.0
1728258 1840223.0
3231336 3496945.0
3958209 4597217.0
3279230 3835113.0
8 16151052.0
15652957 270857.0
4575952 4745479.0
2707091 2854003.0
48 1350193.0
1267369 71869.0
3671510 3822910.0
32610 61413.0
23 117544.0
90910 10129.0
18 20798.0
22498 3700.0
1 23598.0
107856 167624.0
9 90255.0
19829 31114.0
4 50255.0
12 11822.0
31811 3027.0
5 32781.0
5 27294.0
113688 186807.0
40086 78218.0
2801 19176.0
5155148 324504.0
135 5212062.0
1462893 1653668.0
1800260 1953307.0
577097 605804.0
720896 581045.0
581058 720896.0
458766 679184.0
633651 460940.0
346710 491177.0
1957900 2131232.0
351062 461366.0
296633 369647.0
1610680 1688133.0
2805660 3147907.0
1473618 1926543.0
5297402 5608320.0
1108905 1311528.0
765203 885028.0
1544209 1610828.0
2092261 2359517.0
17436248 18501169.0
4880698 5548907.0
1579572 2066245.0
5441740 5912781.0
9516020 10364468.0
17 2157223.0
2018573 130855.0
589256492 589594977.0
3999674 4252751.0
2909269 3132164.0
1501957 1559438.0
3151520 3223137.0
649557 761280.0
5034143 5240384.0
2212969 2342401.0
3164787 3372243.0
11844240 12407436.0
10800143 11391461.0
2318026 2844022.0
1102726 1480432.0
3789278 4068119.0
1913053 2206715.0
2356586 2780983.0
1254408 318940963.0
318815944 1284183.0
2516082 2761972.0
4682170 225057.0
37 4707969.0
7872904 8328916.0
4407713 4991731.0
201871710 202009657.0
852687 1107020.0
450279 711114.0
5953856 6593715.0
9479819 10004108.0
6682457 7324974.0
3212719 422119.0
78 3309042.0
6334572 6775834.0
5713373 6041349.0
117896154 118070859.0
608421 734758.0
4659831 5401064.0
8622249 9198004.0
2449885 2804694.0
1319666 1518705.0
1184201 1235088.0
1742514 1823116.0
1291240072 1291139037.0
2410629 2529901.0
2031853 2154093.0
497564 511293.0
2600737 2805454.0
6633169 6910713.0
5865577 6101862.0
5328022 5522336.0
44193 174906.0
3106886 3208280.0
18969 159405.0
5292146 5517450.0
9121212 9495984.0
3865937 4415551.0
3521457 4242687.0
20547574 21410085.0
722627 939972.0
1206294159 1205974903.0
7018199 7451998.0
3304504 3827048.0
13417720 14130132.0
135187 794391.0
294 431942.0
9305769 10754115.0
25891755 27497274.0
39954116 41698401.0
153135 248850.0
18 975954.0
918285 45468.0
2798361 2917727.0
979172 1122840.0
503752 794673.0
56330 72362.0
4626448 4804667.0
2524743 2781238.0
9655983 10253413.0
7272223 7781974.0
5318315 5868008.0
3350497 3656496.0
3596637 3871403.0
1201188 1284636.0
4620355 4895922.0
11464893 11709652.0
1541271 1715349.0
3217548 3345215.0
2350258 2395709.0
1425231 1449213.0
410927 543997.0
67946869 68436414.0
405 4762350.0
4307095 114223.0
5880756 6611273.0
10223661 10892851.0
4321438 4908138.0
859933 1375043.0
1527575 2054282.0
1102551 1204364.0
3229340 3503482.0
6101822 6582614.0
1484858 1672772.0
934043 1046404.0
439140 641049.0
383540 760490.0
2012830 2526026.0
2317194 2731714.0
2472675 2715851.0
1050378 1471121.0
459139 1619818.0
65554 460855.0
1285018 153724.0
6051499 7054262.0
119102076 828189.0
458918 119257511.0
6291218 6928372.0
11326706 12157009.0
8734923 9831828.0
6834407 7460862.0
2323884 2678869.0
7183116 7691112.0
458753 247632.0
150297 538471.0
8411168 9025257.0
71 474690.0
4 35223.0
208937 37698.0
23380 356938.0
0 95422.0
23 16267.0
283 204816.0
66 39833.0
500717 75877.0
42 547113.0
48 127429.0
52 211961.0
25 83767.0
136 28953.0
56 29526.0
83389 10238.0
47 102780.0
14188 69039.0
71 60856.0
225 176673.0
7 17904.0
354 29403.0
12283 49004.0
0 75424.0
134 42404.0
2 89639.0
2 70961.0
77 33859.0
167 30716.0
143411 122935.0
20 162300.0
18 64520.0
2 29405.0
148898 414691.0
118 200047.0
19 69064.0
300 13673.0
325800 123763.0
82 418184.0
95 137284.0
13 116342.0
12 70120.0
51 65288.0
1 83359.0
40263 1977.0
1970560 2907983.0
5248486 6145119.0
2166354 2912326.0
6010423 6776266.0
1038877 1229318.0
4360556 4617472.0
4430264 4759201.0
6417952 6939640.0
8642552 9361469.0
556544 1522381.0
2425800 3724882.0
11322133 12276938.0
1735767 2834580.0
5196617 6334225.0
5309868 6358551.0
958281 1744112.0
8552907 9181268.0
3207312 3702544.0
7735226 8967713.0
6255104 7327426.0
75 84346.0
67095 8465.0
0 81583.0
45163 14674.0
14815 45163.0
13 199719.0
317068 18792.0
0 324009.0
0 21576.0
20 189870.0
108395 8831.0
0 230030.0
14 405153.0
43014 28117.0
1 884650.0
427152 29693.0
62 337720.0
634572 31509.0
0 787685.0
55 433785.0
1368668 34018.0
69 1511819.0
0 4925799.0
590 37078.0
353 15307.0
187 113427.0
4401545 42430.0
732516 1416088.0
1416424 732516.0
284 1652257.0
916481 43398.0
133 1401877.0
27 308789.0
958597 43811.0
65 1066413.0
1067077 65.0
141 1067077.0
1073104 909.0
1171 1073554.0
1075352 1171.0
1290 1075352.0
1075639 1303.0
1385 1075639.0
1076578 1385.0
1476 1076578.0
1077623 1512.0
1615 1077623.0
1078106 1636.0
1935 1078387.0
1081263 2031.0
2343 1081263.0
1081476 2343.0
2436 1081476.0
1081476 2436.0
2447 1081476.0
1083109 2787.0
3289 1086248.0
1086364 3289.0
3583 1086364.0
1086981 3583.0
3697 1087380.0
1087597 3697.0
3981 1090188.0
1090864 3981.0
4372 1093229.0
1093846 4372.0
4383 1093846.0
1094472 4383.0
4796 1096618.0
1096745 4796.0
5091 1097772.0
1099189 5091.0
5167 1099189.0
1099462 5167.0
5577 1102241.0
1102565 5577.0
5881 1103940.0
1105056 5935.0
5952 1105056.0
1106522 6051.0
6165 1106847.0
1107568 6165.0
6364 1109047.0
1111172 6396.0
6638 1111172.0
1111923 6638.0
6690 1111923.0
1112083 6690.0
6765 1112083.0
1114279 6765.0
7025 1114279.0
1115012 7025.0
7082 1115012.0
1115151 7082.0
7220 1115151.0
1117287 7220.0
7441 1117287.0
1118044 7441.0
7484 1118044.0
1118169 7484.0
7681 1118169.0
1120326 7681.0
7816 1120326.0
1121034 7816.0
7879 1121034.0
1121151 7879.0
7901 1121151.0
1121621 7901.0
7988 1121621.0
1121942 7988.0
8033 1121942.0
1122026 8033.0
8057 1122026.0
1122563 8057.0
8116 1122563.0
1122981 8116.0
8137 1122981.0
1123198 8137.0
8396 1123198.0
1125165 8396.0
8496 1125165.0
1125329 8496.0
8518 1125329.0
1125487 8518.0
8817 1125487.0
1127696 8817.0
8897 1127696.0
1128259 8897.0
8912 1128259.0
1128831 8912.0
9458 1131436.0
1133804 9458.0
9680 1134343.0
1134680 9680.0
9690 1134680.0
1136327 9690.0
9970 1136327.0
1137448 9970.0
10039 1137448.0
1137744 10039.0
10054 1137744.0
1138236 10054.0
10109 1138236.0
1139258 10109.0
10181 1139258.0
1139544 10181.0
10188 1139544.0
1139937 10188.0
10248 1139937.0
1140682 10248.0
10290 1140682.0
1140894 10290.0
10340 1140894.0
1143293 10340.0
10673 1143293.0
1144207 10673.0
10731 1144207.0
1144357 10731.0
10802 1144357.0
1146455 10802.0
11103 1146455.0
1147134 11103.0
11154 1147134.0
1147275 11154.0
11289 1147275.0
1149464 11289.0
11588 1149464.0
1150229 11588.0
11632 1150229.0
1150348 11632.0
11841 1150348.0
1152619 11841.0
12072 1152619.0
1153422 12072.0
12108 1153422.0
1153938 12600.0
12719 1153938.0
1154928 12719.0
12785 1154928.0
1155130 12785.0
12790 1155130.0
1155525 12790.0
12861 1155525.0
1157352 12980.0
13259 1157352.0
1158130 13259.0
13304 1158130.0
1158278 13304.0
13475 1158278.0
1160284 13475.0
13705 1160284.0
1161002 13705.0
13751 1161002.0
1161113 13751.0
13985 1161113.0
1163420 13985.0
14140 1163420.0
1164090 14140.0
14165 1164090.0
1164216 14165.0
14425 1164216.0
1166637 14425.0
14555 1166637.0
1167437 14555.0
14597 1167437.0
1167601 14597.0
14872 1167601.0
1169858 14872.0
14995 1169858.0
1170579 14995.0
15030 1170579.0
1170688 15030.0
15074 1170688.0
1171744 15074.0
15193 1171744.0
1172410 15193.0
15230 1172410.0
1172522 15230.0
15270 1172522.0
1173310 15270.0
15345 1173310.0
1173777 15345.0
15353 1173777.0
1174238 15353.0
15673 1174238.0
1176396 15673.0
15774 1176396.0
1176893 15774.0
15790 1176893.0
1177664 15790.0
103 60788.0
67 25499.0

0 170345.0
132 119262.0
275 86352.0
109 38108.0
7623 58743.0
0 21827.0
812 24976.0
837 21493.0
1880 170006.0
0 168214.0
335 53638.0
0 14271.0
0 102143.0
70 108677.0
218130 30441.0
47 418083.0
53 28469.0
78 24699.0
0 69518.0
170 79254.0
108 36410.0
7215 28483.0
2 15994.0
17 116111.0
310 77047.0
27 421094.0
120740 19589.0
25 254891.0
161 263468.0
84594 12624.0
70 261877.0
137201 8383.0
0 248439.0
187450 4706.0
1 84389.0
64708 1596.0
2 18461.0
5 45270.0
21538 6501.0
52 50874.0
12720739 13254800.0
7745948 8453543.0
269 416204.0
435024 190304.0
262 540996.0
6041962 6959314.0
1159313 2399137.0
10762102 11635771.0
7889573 8568624.0
2908449 3342988.0
4632195 5252337.0
1351217 1498000.0
4568685 4805121.0
3787956 3969380.0
5559562 5723259.0
83738 178973.0
14382771 15178055.0
11595408 12042182.0
6185071 6447894.0
4770825 4983842.0
6159637 6437072.0
5466770 5703050.0
3443020 3964472.0
4996927 5224977.0
458752 338700.0
319237 469055.0
1160585 1423045.0
7221096 7716581.0
10409575 10802662.0
1750105 2031586.0
10973412 11312376.0
8417669 8614700.0
309678 1377311.0
3046388 3875084.0
3603587 4572987.0
0 419446441.0
419446441 0.0
755245946 755760530.0
6962063 7489182.0
5735689 6221716.0
15730024 16463151.0
14448713 15148289.0
527169 1076728.0
1124534 1533698.0
67 1087620.0
886849 20150.0
1689885 2023824.0
3379222 3779285.0
876811 1342466.0
3078945 3697592.0
132177 608162.0
70601 400487.0
836226 1062734.0
201097 415569.0
634260 819975.0
567 5454923.0
5277092 103727.0
117980984 118029550.0
531375 772258.0
1770890 2094707.0
1647595 1932345.0
1172229 1388220.0
234929123 973792.0
825736 234968550.0
1132840 1396430.0
704647319 704967468.0
5194085 5417363.0
184608117 746400.0
47000 184630679.0
47 91191.0
656172 47.0
3336450 3506766.0
7479761 7780013.0
7816545 208756.0
261 7998758.0
3025140 3416303.0
9705092 10149272.0
2499328 3107282.0
18360515 19270500.0
13651481 14166444.0
8991344 9360491.0
10656033 11226687.0
65 3466273.0
3332704 2680.0
2274429 2402469.0
1374720 1482221.0
2522841 3253734.0
170 9030142.0
261 36237.0
8558014 13648.0
4703305 5179282.0
3844615 1319112.0
1319880 3846742.0
1233051 1394278.0
1100657 2010741.0
2011711 1102256.0
1924666 2088567.0
4011480 4368242.0
3321229 3940446.0
3470659 4123486.0
835774 1306724.0
7809732 8432202.0
0 11293.0
13371 775.0
240732 16016.0
224136 240732.0
16038 224136.0
240733 16038.0
16069 240733.0
4 28729.0
5 243173.0
223053 760.0
16 256265.0
155388 4555.0
12 184782.0
87954 5045.0
9 323753.0
235618 4645.0
14 69870.0
85486 6297.0
1 111767.0
17 54136.0
195151 4253.0
5 244976.0
2 69961.0
34333 6574.0
0 55551.0
17 132773.0
64158 4233.0
15 17925.0
17932 15.0
31 37152.0
48545 3771.0
88 54751.0
54759 88.0
0 55129.0
94586 45026.0
45965 94586.0
95193 45965.0
46207 95193.0
95255 46221.0
46239 95255.0
19 49615.0
108439 17.0
0 152531.0
0 115252.0
50 23655.0
85 27703.0
32378 6967.0
141 148258.0
331744 12384.0
0 371631.0
103 125779.0
80978 13792.0
0 172365.0
18 1003916.0
748096 16186.0
0 37149.0
433 104169.0
392240 17389.0
0 502806.0
0 212974.0
725 83152.0
74811 19998.0
224 131947.0
62 17857.0
107 166899.0
58829 25935.0
258 156811.0
0 47195.0
0 23485.0
10771 190894.0
190900 10771.0
11699 195157.0
195170 11699.0
11908 195812.0
195824 11908.0
0 200099.0
152092 3443.0
0 148772.0
21 21468.0
77380 6248.0
7 83489.0
45772 3580.0
3 13003.0
2292691 2350416.0
437666 469736.0
1050979 1106046.0
461510 482486.0
1011902 1035203.0
429172 478291.0
2008036 2294310.0
4104577 4565774.0
8680468 9102135.0
1448018 1672727.0
847106 928891.0
1333101 1411599.0
2498233 2612638.0
855880 1037698.0
13 137984.0
10667891 11125461.0
1893625 2147993.0
6580555 6801690.0
848117 1125564.0
12092609 12550959.0
332701458 331926368.0
4077766 4279074.0
3090921 3237124.0
30061 216786.0
1476516163 1476720849.0
6855571 7250879.0
68279 292706.0
11379878 11734585.0
392664 769571.0
632256 792525.0
5096058 5393124.0
11260460 11796198.0
739001964 739962915.0
7568461 8083719.0
17087172 17891568.0
10746415 11390273.0
12254308 13091381.0
6247179 7326833.0
1110174 2087149.0
3874407 4429551.0
3307309 3890716.0
1759046532 1758462808.0
17554159 18176669.0
659023 1430690.0
707111 1552363.0
1114119 822262.0
1573 1114121.0
124 23880.0
775397 17947.0
1957973 2081762.0
684837 1192049.0
569697 978632.0
403739 694675.0
66369 292114.0
221384 379411.0
302651 529700.0
499856 876394.0
1014341 1702716.0
1193518 1383446.0
5200252 5401123.0
6399319 6859591.0
2556512 2697419.0
4075534 4247360.0
6024569 6444782.0
474323 509577.0
179987 316667.0
5127852 5452583.0
851340 1064300.0
3959353 4241143.0
2470032 2569764.0
352499 411124.0
2429296 2478479.0
575615 1155700.0
8273779 8925963.0
1793867 2048561.0
2967844 3117992.0
1430966 1466333.0
5137575 5572597.0
694659 994104.0
2040830 2324032.0
6823 43501.0
7984 54160.0
13493 147228.0
56142 422588.0
206141 182373.0
3626529 4391457.0
927445 1376145.0
1576628 1816598.0
264274 414340.0
34435 629054.0
589863 44923.0
7361481 8192576.0
8382005 9225779.0
8942586 9942003.0
19495105 73830.0
2081313 145657.0
147 127761.0
1728263 1927026.0
2306309 2516455.0
488685 799392.0
196696 1969774.0
1656867 218036.0
2950993 3152679.0
16141222 15934933.0
552079 723467.0
5646643 5816022.0
5005671 5322169.0
4736214 4978438.0
2611871 3152684.0
16046252 17022577.0
7 65020.0
7 61418.0
11 177245.0
337 12332.0
1603915 21876.0
1524166 20527.0
7533058 69990.0
21 7630147.0
2992438 76948.0
1 3053881.0
0 192295.0
1246257 1438340.0
362675 508252.0
220180 101627.0
138 260805.0
484610 709354.0
92 851779.0
717944 76996.0
2121879 2240868.0
1264829 1352396.0
684523539 409931.0
368395 684550636.0
575138 621887.0
188586 222666.0
369440 391797.0
33622999 33635357.0
99206 118270.0
279417 305613.0
97412 134633.0
836438 887012.0
490448 558706.0
82869 93409.0
441153 456923.0
114968 135346.0
518399 541890.0
411290 437027.0
1212 26911.0
547672 625786.0
461458 533150.0
410084 36831.0
8 435017.0
350209 399767.0
49463 87669.0
21612 45497.0
121773 137028.0
4572396 4758601.0
2840586 2999957.0
2878339 3007244.0
641486 788129.0
6498689 7181540.0
2463595 3012247.0
136915912 137720288.0
14977656 408580.0
89 15071166.0
1539 2390375.0
2159547 112815.0
2295624 2581291.0
1526609 1964490.0
1210926 1591622.0
6 913957.0
744764 73247.0
1489223 1796356.0
576152 983767.0
2644761 3244900.0
19035 670217.0
393493 917561.0
458753 393561.0
917505 458753.0
866148 997619.0
1574887 1784147.0
5747328 6111761.0
4331068 4727405.0
8871224 118315.0
203 8980672.0
4308869 4519648.0
5673482 5929869.0
4816320 5162360.0
3502332 4036358.0
1097777 1189127.0
452993311 1830432.0
1728185 452998993.0
1367111 1720624.0
4574617 5039104.0
509305 882250.0
827668 1200344.0
4906056 5345380.0
14512644 15498544.0
1304917 2251218.0
13232472 14183347.0
9675461 10572432.0
5074195 5496700.0
4754813 5011011.0
4299299 4545926.0
4331980 4679901.0
6033286 6507124.0
6482977 7156640.0
3378657 4378510.0
519023 469550.0
286 968002.0
7936101 8757902.0
3923647 4411447.0
10246201 10656949.0
7317855 7629693.0
2212351 2712152.0
1663505556 1664130281.0
7460561 7796987.0
4511314 4718032.0
1471761 578243.0
262251 1581486.0
8008160 8325764.0
1323761 1658508.0
1352148 1715419.0
26 1252628.0
1093217 93501.0
18 1350243.0
1144033 41350.0
147037 164356.0
1049256 221241.0
41 1101062.0
1542209 88544.0
85 1632566.0
1048831 85.0
36 1049171.0
686462 60272.0
776 724105.0
1101381 34749.0
21 1159307.0
39 60543.0
21 150808.0
94098 160456.0
29 98882.0
1222584 1414913.0
7328505 7575952.0
1666939 2023691.0
67968043 68390233.0
1165176 1222051.0
1509409 1609019.0
4994603 5270638.0
7751255 8178436.0
720967 1001270.0
5161877 5484002.0
739437 1142240.0
9549799 213066.0
74 9750609.0
4590243 4891820.0
3444750 3734430.0
1167034 1374885.0
1194425 1363670.0
2212123 2541083.0
4754934 5264404.0
4010015 4204352.0
2753181 3140652.0
3168622 3157761.0
2801820 3450929.0
8051949 8500175.0
5115294 5396993.0
5803908 6173262.0
7486714 7775727.0
8892869 9111859.0
12970382 13189338.0
632528 914837.0
759414 1137006.0
50 1164326.0
210 43676.0
896021 51599.0
954185 896148.0
672263 1276580.0
668571 884968.0
2191187 2521349.0
100 335392.0
199796 7330.0
53945 218190.0
218251 53945.0
9 423269.0
3625 31888.0
59 227817.0
45 18401.0
278 72145.0
72604 27244.0
43 96368.0
140 168587.0
322169 20248.0
258 470720.0
0 48136.0
163 77905.0
6173 16610.0
318 43972.0
0 60111.0
0 17065.0
81 196218.0

97 541302.0
384151 9610.0
49 428873.0
262042 10894.0
0 469655.0
11 27735.0
356007 9536.0
71 160694.0
278253 17023.0
7 362554.0
79 114198.0
105089 20877.0
21558 105089.0
36 27473.0
1 84090.0
56753 30483.0
40 189226.0
116 500001.0
92 35470.0
55414 31872.0
146 402230.0
0 22392.0
73261 8255.0
263 104356.0
187487 6589.0
218300 207563.0
11307 218300.0
207647 11307.0
1 216931.0
34149 12220.0
3 259868.0
115733 7443.0
36 92432.0
2 225611.0
71391 11876.0
0 73001.0
189 208597.0
2 18021.0
14487 559.0
82899 170403.0
242046 82899.0
195799 242046.0
242148 195799.0
82998 242148.0
242185 82998.0
83013 242185.0
3 79644.0
90444 7827.0
0 97281.0
1 199341.0
96847 9253.0
1 55497.0
40522 6999.0
280 41680.0
1 195297.0
97130 9108.0
1 92340.0
85121 158037.0
158181 85121.0
16 161839.0
104505 4423.0
311438 108091.0
108095 311438.0
116 113433.0
114 30631.0
70 535418.0
418261 10826.0
30 108599.0
18162 7028.0
71 91636.0
51 208066.0
106200 7743.0
83 339494.0
170049 16030.0
50 43178.0
306831 7278.0
0 328073.0
1 102181.0
129301 12205.0
12 129843.0
12 268050.0
178317 8084.0
0 172169.0
14 32363.0
132295 7175.0
21 88000.0
3 60779.0
57703 2699.0
258 71753.0
258946 58198.0
96951 258946.0
1 37594.0
18412 927.0
2 41154.0
18636 1896.0
0 17562.0
1 69873.0
42189 1920.0
0 20940.0
1 14191.0
1 31813.0
1 52032.0
24639 1275.0
0 17306.0
13306 30393.0
34198 21852.0
409 34198.0
36975 409.0
429 36975.0
23375 429.0
3 10095.0
62927 877.0
1 63374.0
1 122262.0
104800 516.0
1 131639.0
112393 1226.0
1 14352.0
1 36456.0
25486 1100.0
3 10576.0
2 12474.0
123213 759.0
760 123213.0
125706 4094.0
33384 125706.0
838 33384.0
125926 4133.0
838 125926.0
0 21183.0
14 50075.0
89051 14348.0
314499 106983.0
107004 314499.0
34 122767.0
0 54359.0
206 314536.0
156701 13675.0
3 65050.0
22 19471.0
0 41977.0
16 98203.0
10 382256.0
322265 1727.0
0 83447.0
42756 1547.0
38 176151.0
44963 4401.0
50 151950.0
154802 6303.0
16 159681.0
18 25018.0
21 32900.0
41607 6669.0
0 112313.0
364451 2046.0
103437 364451.0
2085 103437.0
38 1253355.0
1024424 10989.0
1 449948.0
294165 6448.0
0 83070.0
82724 22.0
13288036 14065309.0
16578369 17242794.0
12382805 12900583.0
984457 1182740.0
504401 542118.0
102285 4487.0
8 102390.0
547474 573620.0
16450985 17274465.0
8515263 9124339.0
226 10481828.0
10217909 226024.0
5299937 5867175.0
15733762 16548811.0
5774393 6126321.0
6970700 7385933.0
3148392 3885031.0
2292842 2552018.0
1954673 2119294.0
811538 886574.0
472284 539388.0
462748 669290.0
655363 467554.0
21686 460425.0
458753 22152.0
4097969 4708933.0
6365909 6629428.0
118312 274373.0
1993372 2184091.0
2140984 2329366.0
9121458 9616799.0
336406309 336825124.0
134224470 546233.0
336762 134315101.0
6662627 7050606.0
2194070 2552854.0
3072738 3286755.0
481981 1681187.0
7022205 8066273.0
4391408 5250700.0
5943780 7015132.0
12008438 12515695.0
47136 566042.0
486238 927743.0
142 10993219.0
10639666 87850.0
47 6721101.0
4084 19292.0
6484090 69188.0
134093 719682.0
327795 266132.0
94 167184.0
16674 75149.0
3116246 3275894.0
3823409 4107170.0
1871901 2038744.0
2949347 3158022.0
4710393 5179972.0
3895289 4210726.0
5755659 6004153.0
3284987 3598068.0
6128823 6658667.0
798935 988741.0
1091258 1222507.0
1335452 1498095.0
6273348 6497293.0
2282296 2393416.0
4078844 4261832.0
3174470 3310327.0
2944638 3198090.0
2120810 2647202.0
9366494 10483919.0
2275730 3406859.0
7834360 8777317.0
1117510 372597.0
174 1452064.0
167830418 675013.0
406290 168024616.0
1400390 1480639.0
1075649 1154469.0
459268 528308.0
4465413 4553314.0
1485211 1650812.0
9981762 10449595.0
14747014 15475965.0
13697916 14439555.0
798998 870383.0
2704991 2933462.0
3052192 3331651.0
3606177 3806980.0
960683 1129297.0
4692334 4919447.0
544002 752540.0
1323706 1587160.0
9479354 9920780.0
2 65609.0
65722 2.0
40 72438.0
15250 4897.0
27 42968.0
0 16020.0
169 82598.0
4 11436.0
36313 7031.0
19 135487.0
3 261252.0
37863 24265.0
0 40239.0
110 111484.0
71 55808.0
141941 31649.0
34 182255.0
7 57779.0
89 40620.0
222 51730.0
8 45377.0
133 192885.0
269392 54681.0
97 307050.0
1 140273.0
238 32655.0
15 40597.0
49 58865.0
10 40068.0
87 34712.0
72 20313.0
676 28873.0
0 15892.0
64 31961.0
35 67106.0
309 26300.0
0 14515.0
161 117100.0
144434 56315.0
89 403927.0
0 31037.0
0 51575.0
1079 55964.0
0 20791.0
0 43516.0
57 27198.0
110 47022.0
0 121813.0
51 20730.0
62230 49264.0
13 140368.0
0 147815.0
13 108586.0
72 130769.0
16702 86381.0
32 25699.0
0 31574.0
26854 15193.0
207 143001.0
0 74544.0
0 125915.0
326 79674.0
51 224204.0
282 43325.0
1 28731.0
0 280946.0
69 58021.0
8 169661.0
119915 42230.0
2 343504.0
0 100627.0
17 233571.0
150749 36052.0
5 430753.0
3 304563.0
7 463181.0
90 65571.0
465 11308.0
708 42057.0
2 140090.0
282586 43398.0
1 340010.0
0 260783.0
2 393974.0
0 20747.0
217999 19685.0
125 257033.0
0 80177.0
313 12863.0
0 67289.0
0 65765.0
0 94121.0
1675 89295.0
187522 51614.0
0 552072.0
53 182416.0
2 102150.0
112712 44025.0
0 451152.0
0 271105.0
220 256295.0
934916 35850.0
48 1042386.0
2 88912.0
27 157536.0
280125 45717.0
0 423537.0
0 217262.0
67 100375.0
2 156190.0
281594 49705.0
0 621405.0
32 270603.0
270589 30006.0
469 501791.0
0 63042.0
244 666660.0
81 29491.0
122899 46508.0
128 305443.0
115 27214.0
661035 41344.0
30 885996.0
19 559559.0
257107 44444.0
348 301162.0
20 162118.0
224 35662.0
181684 15731.0
56 203138.0
10 102693.0
2 159401.0
461399 21869.0
80 567398.0
2 124448.0
170633 19186.0
0 292941.0
13 222365.0
2 48710.0
0 32327.0
4 39777.0
34 31061.0
50 26301.0
173572 19181.0
93 290857.0
55 177541.0
35 14110.0
2 61905.0
303819 20313.0
3 339646.0
94 23201.0
0 14447.0
10 69893.0
50280 21639.0
8 177085.0
28 120361.0
45 12961.0
212901 15295.0
10 232959.0
11 34900.0
44 106904.0
2173 25252.0
27938 11439.0
16 13498.0
106 11768.0
8 17083.0
47079 10623.0
17 89259.0
2 22193.0
21775 38.0
2 27153.0
25474 150.0
4 11906.0
10370 134.0
3 73342.0
14 14285.0
53445 2913.0
8 84511.0
53364 135.0
15 53566.0
7 10588.0
27899 134.0
11 75176.0
31814 197.0
10 56478.0
22657 1467.0
4 108713.0
67463 82.0
3 154548.0
106696 139.0
55 608348.0
191506 35282.0
2 1312839.0
66 112650.0
891954 47778.0
0 133581.0
87 40915.0
94042 20531.0
171 224469.0
577 63943.0
56 411989.0
45 17644.0
17699 2557.0
20 52983.0
275181 15410.0
395514 354519.0
42 247936.0
2 50591.0
153584 10782.0
11 16921.0
29239 1802.0
6 36927.0
867 78178.0
280163 9771.0
0 386664.0
515818 1813364.0
1813917 515818.0
515929 1813917.0
1815264 515929.0
516048 1815264.0
1815938 516048.0
516068 1815938.0
1815970 516068.0
516070 1815970.0
1816076 516070.0
516126 1816076.0
1817680 516126.0
516352 1817680.0
1818101 516352.0
230239 1887921.0
1888605 230239.0
961 1947791.0
1161858 42090.0
2163532 1225912.0
1226016 2163532.0
165 395216.0
420 84716.0
2103968 56484.0
2551781 2540391.0
911 2581189.0
800 1216440.0
410727 44202.0
1047 969582.0
357051 42684.0
722 291262.0
510462 21594.0
0 536108.0
186 392983.0
278662 3912.0
533 534444.0
290694 17544.0
0 230200.0
72 13130.0
357 14915.0
472506 18729.0
0 509525.0
291 1310209.0
854116 24322.0
126 778683.0
267 18166.0
327095 25347.0
89 557330.0
297700 14918.0
679718 818261.0
7 205856.0
3108740 3296439.0
3305920 3503675.0
3340838 3563892.0
946438 1386134.0
16528843 17350574.0
0 83886080.0
83886080 0.0
67108865 117440833.0
524289 67108865.0
1 524291.0
458752 3.0
117445120 458769.0
1 524291.0
524291 1.0
134645896 135059067.0
103011447 103371219.0
4851198 5517809.0
397460 888908.0
5990130 6694075.0
490098 694973.0
1618242 436482561.0
436212607 1715218.0
4852926 5171125.0
435575 800731.0
3917779 4124465.0
446176 774970.0
657688 1142085.0
3335468 3622953.0
5600013 5935080.0
6345403 6883289.0
11366554 12107621.0
13064093 13820144.0
13124283 13879422.0
12383855 13141726.0
8376465 8865372.0
1135523 1291166.0
1776490 2038472.0
1579387 1916096.0
4632671 4994364.0
182 111831.0
165689 50507.0
219 211195.0
262 17937.0
12580693 12949321.0
4210549 4682888.0
8403793 8692353.0
60 401595.0
182344 102016.0
938757 997744.0
1793344 1870026.0
3489340 3645588.0
11895222 12804701.0
10863479 11493862.0
8272 56777.0
59208 45527.0
3521133 133936.0
13 3534776.0
800415 964926.0
2038142 117159.0
0 2062183.0
7 11437.0
159939 245197.0
1568247541 1568779025.0
5880848 6418398.0
1249985 1460350.0
7502369 7927353.0
12759537 13505494.0
14192418 15069026.0
5167574 5691086.0
2745092 3021962.0
2699662 2844036.0
7752571 7846535.0

235110 327388.0
50980703 51321523.0
2135658 2496630.0
1548676 1862430.0
108697 133133.0
132070 180720.0
511258 651340.0
8020143 8038828.0
1858327 2061312.0
471890 893840.0
12812 50168.0
1145621 1526730.0
2290937 2596395.0
4674840 4988784.0
614909 852515.0
458762 1305915.0
1254299 465995.0
1234753 2780799.0
16879398 18024553.0
644193 1621263.0
4999212 5763859.0
114921 634715.0
1173137 1389382.0
5045735 5465857.0
5190881 5599987.0
6456136 6861799.0
8970952 9600646.0
5157234 5392119.0
116781 237626.0
1759818 1868849.0
3550354 3750993.0
3749919 4302702.0
596436 892704.0
1004919 1120218.0
2169579 2233867.0
117658918 117715589.0
3127012 3244111.0
4386452 4644115.0
1871162 2132067.0
359275 874709.0
2758146 283164.0
14 3012470.0
5 21436.0
15680 1030.0
10242467 446942.0
678 10301231.0
6931787 7634557.0
458782 555845.0
67194097 463759.0
524349 67197948.0
458763 16733.0
117562070 469258.0
31 117563815.0
158056 448448.0
10 159840.0
90494 47579.0
159011 111624.0
7 199726.0
199977 7.0
239162 226887.0
216194 354852.0
339032 282688.0
427652 367301.0
302 427652.0
92632 77088.0
1871318 122977.0
1925013 1900014.0
103 1935410.0
21830 796.0
159 34128.0
4091629 232234.0
4287597 4257512.0
132 4323543.0
2614020 3095980.0
2818085 2785945.0
580796 678891.0
2956591 3060669.0
5616708 6019401.0
2935625 3249491.0
3887982 4281231.0
2284369 2540894.0
706358769 728101.0
137 706535159.0
458768 13267.0
84 10463114.0
10170049 44376.0
6124420 6374884.0
903023 1161858.0
237138 411596.0
267135 458915.0
544745 820063.0
8228849 8694601.0
569451 921306.0
537326 720333.0
4083756 4414560.0
135216639 135578205.0
931460 1236824.0
0 458752.0
458752 0.0
2564902 2948221.0
414104 528830.0
1071402 1151627.0
3526161 3595359.0
886916 1092862.0
2483533 2904147.0
2669486 2657779.0
4256799 4913349.0
5632702 6627989.0
6074579 6056746.0
9514621 9798326.0
9258594 9507070.0
7834646 67284547.0
101 7907123.0
49975 60688.0
67140628 52730.0
760726 1094536.0
900345 1367508.0
2057094 2295624.0
1017013 1172325.0
1597790 1798849.0
1868619 2172574.0
1668754 1934440.0
4319522 4802493.0
12560446 13127649.0
3018571 3625248.0
11075529 11629507.0
10642748 11120781.0
70861 260775.0
207 1095857.0
57 31542.0
124 13405.0
103 40911.0
814879 30354.0
194 4317416.0
3700070 53721.0
7490757 7882353.0
96 324501.0
124125 61102.0
302252 656340.0
1096001 268496023.0
1073323 1139549.0
268476927 1088153.0
4910202 5135721.0
1513166 1823101.0
0 458752.0
458752 0.0
9728486 10182006.0
671058684 14173852.0
13742235 670750275.0
13438090 14191644.0
33270 184643.0
224510 484230.0
7100065 7504420.0
3503353 4149238.0
3020478 3487892.0
80467 525439.0
10947245 11322705.0
816187 1181366.0
2646769 2988662.0
2622764 2964319.0
2815306 3163278.0
4046851 4470906.0
4093376 4503186.0
737614 1124215.0
179 23560.0
33 26261.0
117462891 24392.0
212522 117533595.0
74 268227.0
72 53281.0
111274 264987.0
44986 140659.0
216783 453952.0
187432 418313.0
5221510 5999276.0
1569205 2501038.0
340376810 341564947.0
3913604 4402809.0
7359673 8000440.0
458752 117849318.0
117627252 458752.0
4102957 5090172.0
13670423 14601134.0
12015941 13267904.0
1682788 1826689.0
144022 314586.0
2188084 2397416.0
219420 423861.0
5887050 6127998.0
4781424 5146969.0
3167521 3628713.0
1232637 1404871.0
1108769 1263940.0
960101 1094833.0
842828 961823.0
783766 896065.0
507861 607993.0
1966560 2062124.0
675963 769594.0
2245612 2348638.0
4541696 4783504.0
1369977 1580129.0
1338511 1523878.0
1522158 1732030.0
2749257 2805175.0
84111030 84204581.0
3252424 3380099.0
1129054485 2501642.0
2370953 1129080547.0
2275161 2439473.0
29438 224604.0
1719155 1956011.0
2052929 2396159.0
1745684 2040872.0
262351 491998.0
1267193 136983.0
45 1305836.0
2750743 3198029.0
901019 1262222.0
4393466 4741285.0
6922954 7184207.0
10536239 10971697.0
3741528 4352230.0
15685141 16408983.0
7296936 8186967.0
6065069 6965611.0
10455929 11246182.0
4264549 4713536.0
1223875 1772967.0
239167 496879.0
84061823 84246449.0
5305749 5546841.0
1122076 1279034.0
3187606 3288174.0
801383 908558.0
3376030 3521476.0
943040 1112432.0
3612336 4232065.0
8285938 9072980.0
8606383 9414697.0
15016801 15772620.0
7408691 8175472.0
3595969 4242224.0
4385980 4998591.0
5035110 5648985.0
1088755 1757397.0
2238318 2600627.0
70093888 70719846.0
1000548 1760016.0
1303192 1693870.0
14316967 475938.0
222 14319848.0
7878178 8246433.0
8613565 8905574.0
344885 663331.0
23407 317138.0
136739 447440.0
5 14883.0
7024 18280.0
18324 7024.0
253 29785.0
126 28594.0
53 14833.0
13876 1.0
0 14743.0
5 26670.0
88 14594.0
7 21584.0
5 15140.0
1 35617.0
8 22244.0
0 21964.0
44 899309.0
284 30571.0
484961 30129.0
0 686041.0
686144 0.0
401 2041814.0
1424228 29844.0
4666 2204424.0
417 43525.0
1613227 33988.0
0 430872.0
0 171782.0
588 66639.0
19690 31328.0
186 81102.0
2 18905.0
224 13246.0
585 12904.0
46 16005.0
19 13670.0
51 15082.0
0 20159.0
45 72585.0
0 14480.0
1 1910177.0
1910167 1.0
2060052 1.0
0 2060052.0
1673734 0.0
0 1673734.0
0 25794.0
25794 0.0
378348 0.0
0 378348.0
2857784 0.0
0 2857784.0
3 187904.0
68692 7864.0
150 3210019.0
2781602 9658.0
117 1395727.0
755485 48504.0
151 193698.0
0 89680.0
8 32526.0
74 134311.0
5496 22358.0
103 32749.0
97 52285.0
3 17526.0
15 372900.0
163 120278.0
640055 35780.0
206 659801.0
330 2286257.0
1765212 35253.0
238 733955.0
354279 14903.0
606 1692557.0
1692665 606.0
371 1696384.0
1246519 27406.0
511726 1337991.0
1338086 511726.0
461 1058923.0
527900 33492.0
832 987950.0
508456 32799.0
0 1078800.0
551136 20506.0
306 907914.0
384493 34469.0
305 2793550.0
2287048 29283.0
306932 296888.0
302 425010.0
49727 22099.0
7910567 8955243.0
2707224 3496663.0
1878418 2446779.0
1984512 2478733.0
1836478 2234723.0
1404752 1705764.0
1547165 1931450.0
2303302 3062381.0
2138094 2661505.0
8 1276118.0
937690 97901.0
4071207 4452180.0
177 1715604.0
1424715 94430.0
3682120 3981752.0
1579148 1995868.0
1713177880 1713854476.0
3153823 4240179.0
1896743 2214890.0
3407563 3830133.0
5372240 5816215.0
1416823 1808179.0
1697826 1895744.0
7831785 8400371.0
119224674 119877901.0
6068580 6602208.0
16779459 17729514.0
7599210 8565408.0
19427610 20331287.0
5083437 5951584.0
15500512 16390798.0
12829249 13681526.0
13241986 14174470.0
9223139 10331886.0
1892560474 1891697538.0
4172245 4429839.0
405045 804325.0
2392150 2835275.0
3165147 3480469.0
52217231 53367185.0
68140365 68944941.0
1409786 1480381.0
1717164365 1718871091.0
9247356 10395075.0
6135628 7057714.0
15661999 16504835.0
146 36966629.0
54 60776.0
36259809 37336.0
7375587 8237656.0
157 863855.0
594 23719.0
148137 100455.0
6924789 8113989.0
542175 594417.0
550002 615191.0
529315 586273.0
7430532 22933.0
10 7443024.0
237204 266076.0
2592894 3113948.0
1641918 276476.0
169 1685045.0
3152283 3380865.0
3001721 3234228.0
10 167277.0
1105128 51032.0
0 1122816.0
116 13611.0
67 13730.0
0 15438.0
1069600 1612832.0
1679597 2075280.0
218585267 218858973.0
2747907 3226934.0
492 149813.0
35492 15009.0
222 56935.0
1061 1461430.0
1058070 15421.0
46 37122.0
1157 256529.0
404530 39551.0
847 657957.0
187 15174.0
0 14364.0
1472 1055224.0
392437 46122.0
1088 2725550.0
2321414 26892.0
18431 113026.0
113026 18431.0
18431 113026.0
113028 18431.0
18437 113028.0
113035 18437.0
18441 113035.0
113038 18441.0
18443 113038.0
113038 18443.0
18450 113038.0
113038 18450.0
18452 113038.0
113056 18452.0
18454 113056.0
113076 18454.0
18457 113076.0
113102 18457.0
18461 113102.0
113125 18461.0
18461 113126.0
113127 18461.0
18463 113127.0
113146 18463.0
18463 113146.0
113173 18463.0
18482 113173.0
113303 18482.0
18483 113303.0
113331 18483.0
18487 113331.0
113350 18487.0
18488 113350.0
113362 18488.0
18488 113362.0
113376 18488.0
18492 113376.0
113436 18492.0
159 121708.0
57628 3908.0
177 52500.0
32880 3.0
65 36596.0
0 18542.0
5453201 6115916.0
2165931 2674598.0
10693809 11288627.0
3815500 4003256.0
2183075 2306039.0
391091 535955.0
5361021 6004053.0
4965123 5614862.0
13274493 14210305.0
14096898 15411891.0
2695630 3093487.0
5220 233349.0
3370567 3551195.0
4845380 5127848.0
101620397 102234373.0
620895247 621370230.0
3442457 4052423.0
14233173 15021242.0
1029702 1553998.0
2678841 2895772.0
5119193 5368833.0
6688964 7033517.0
6626188 6903593.0
6223633 6354619.0
281170 477638.0
913058 1197723.0
917725 964302.0
964752 917725.0
6124107 6536370.0
215849 434615.0
6279261 6597990.0
2962323 3403423.0

1236790 1472692.0
911605 1010403.0
711990 780478.0
241372 298971.0
4847160 5269278.0
9412280 10061828.0
13273455 14083269.0
4834847 5658820.0
4142863 4632326.0
650326 1116950.0
1226502 1918011.0
16605221 17268014.0
2055884 2711149.0
7447994 8186611.0
2454533 1826273.0
10 2479313.0
1114281 6565.0
8001602 8492808.0
614895 1502064.0
7869913 8585439.0
4502810 5771579.0
20158005 582028.0
348 20220123.0
1008228 1618536.0
290606 805664.0
13159580 13554688.0
416961 910759.0
21064744 21823867.0
11306201 12659502.0
19780961 21761374.0
4295103 4350314.0
2991478 3110913.0
3288191 3444543.0
909238 1145031.0
713172 890379.0
544433 642574.0
6703891 7139134.0
4497181 4739987.0
3042113 3259273.0
2530037 2795433.0
3398580 3763481.0
4201616 4443844.0
10407421 10859867.0
5062583 5473336.0
8023548 8334584.0
3679665 3915275.0
5110775 5377314.0
1027 5144420.0
11 100831.0
4882332 80437.0
5226920 5788160.0
1433955 2010593.0
10334153 10767059.0
6642002 6907349.0
5205973 5425019.0
7722049 8013391.0
12323337 12801143.0
5483644 5810949.0
7746155 8166669.0
1286097 1721018.0
554344 785344.0
29450 99091.0
0 143380.0
6892132 6961921.0
701663 741654.0
2482058 181295.0
273 2628162.0
799651 1369465.0
2068499 2494621.0
247259 615512.0
2652439 281234.0
1654 2664564.0
54 76580.0
12975884 433238.0
356 12996753.0
8895179 9163678.0
4794469 5097578.0
10942312 11402067.0
13702171 14430654.0
168462846 168607457.0
1109091 1169465.0
2025233 2200608.0
144177 308485.0
710011 800145.0
478781 569060.0
385715 62151.0
1795 426406.0
376561 445851.0
458886 51009835.0
327682 463745.0
458764 331422.0
393303 496149.0
50931837 395890.0
84304834 84384303.0
177143 224940.0
1533961 1633431.0
593351 937841.0
6873676 7210906.0
2921117 3261698.0
3211294 3226597.0
3227098 3211294.0
2839824 3230714.0
421111236 421411115.0
923959 995405.0
4020655 4321840.0
4543307 5206151.0
11724508 12280633.0
11 12064801.0
11619536 167931.0
1325531 1662215.0
1508144 1889868.0
4133342 4461644.0
134942761 135259042.0
117767914 117861824.0
1456310 1591406.0
119751 150384.0
3405889 4419912.0
2806969 3553623.0
178336 752932.0
2313281 2711072.0
355479 647980.0
1904701 2182832.0
520361 297417.0
41 540799.0
2982788 3356915.0
301598 336692.0
762876 863072.0
845171 1029297.0
4696995 4972979.0
4189214 4555962.0
6525946 6905341.0
7152313 7748979.0
6147830 6642233.0
1131658 1739295.0
17182959 18083191.0
1660456 1770108.0
4571253 4835766.0
2216917 2390802.0
4078535 4268717.0
7651437 7975033.0
1531496 1732055.0
1160375 1309892.0
2348338 2863524.0
2653097 3909274.0
4447798 5246624.0
417868 1023558.0
11609974 12069577.0
194760 639112.0
3598242 4192184.0
13079783 14164835.0
1932180 2633533.0
7648391 8284302.0
7505409 7846002.0
4225427 226555.0
68 4274805.0
5836654 6173131.0
7603279 8183866.0
233465 634434.0
26838 451059.0
218719 311925.0
26 414461.0
254033 891622.0
151093 854394.0
1830265 2029789.0
359334 488250.0
5488414 5640227.0
4786930 4947015.0
140982 337489.0
13 360805.0
169680 55592.0
1579687822 1579996393.0
126674 298973.0
201695 189527.0
119 319361.0
264148 721890.0
1124 498675.0
5636 97041.0
6721 112642.0
8964 146877.0
730607799 730780675.0
12873 171949.0
11213 156816.0
715 13285.0
2461 39788.0
5364 88072.0
15359 252790.0
28965 537145.0
21882 425750.0
12157 296981.0
4714 58092.0
6866 79843.0
10120 113155.0
10273 113966.0
7056 82052.0
455 10935.0
1402 30891.0
349 15697.0
4635 86355.0
5513 109894.0
6674 170518.0
14009693 15335608.0
14336175 15646649.0
10957391 11885054.0
53290106 53256.0
7 53334132.0
17924 124577.0
704911 929718.0
469445 837173.0

KeyboardInterrupt:

In [ ]:
df.head()

In [ ]:
df[df["STATION"] == "GRD CNTRL-42 ST"].sort_values(by=["REAL_ENTRIES"],ascending=False)

In [ ]:
df["WEEKDAY"] = df["DATE_TIME"].dt.weekday_name
df.head()

In [ ]:
df = df.assign(SESSION=pd.cut(df.DATE_TIME.dt.hour,[-1,5,11,17,23],labels=['Dawn','Morning','Afternoon','Evening']))
df

In [ ]:
df[df["SESSION"] == "Evening"]

### 1.3 Exploratory Data Analysis

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()  # automatic seaborn settings

%matplotlib inline

In [ ]:
sns.distplot(df['REAL_ENTRIES']
             [df['REAL_ENTRIES'] < 2000]);

In [ ]:
# Let's first get the daily entries by station:
stations_daily = \
    (df.groupby(['STATION','DATE',"WEEKDAY"])['REAL_ENTRIES'].sum()
                 .reset_index())  

stations_daily.head()

In [ ]:
# To discover the stations with more entries:
stations = \
    (stations_daily.groupby(['STATION'])['REAL_ENTRIES'].sum()
                   .reset_index()
                   .sort_values(by='REAL_ENTRIES',ascending=False))

stations.head(20)

In [ ]:
# To get top 15 stations by daily volume (sum across all days is a reasonable way to define this):
top15_stations = \
    (stations_daily.groupby(['STATION'])['REAL_ENTRIES'].sum()
                   .reset_index()
                   .sort_values(by='REAL_ENTRIES',ascending=False) 
                   .STATION.head(15))

top15_stations

In [ ]:
# next create a new df that filters the stations daily data down to the top 15 stations
stations_daily_top15 = \
    stations_daily[stations_daily['STATION'].isin(top15_stations)]
stations_daily_top15.sort_values(by = 'REAL_ENTRIES')

In [ ]:
# use seaborn to create a boxplot by station
sns.boxplot('REAL_ENTRIES', 'STATION', data=stations_daily_top15)

In [ ]:
avg_per_day = stations_daily_top15.groupby(["STATION"])["REAL_ENTRIES"].mean()
avg_per_day = avg_per_day.to_frame().reset_index()
avg_per_day

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot('STATION', 'REAL_ENTRIES', data=avg_per_day.sort_values(['REAL_ENTRIES'], ascending=False), palette ="Blues_d");

plt.xticks(rotation = 'vertical');
plt.ylabel("AVERAGE DAILY ENTRIES", fontsize=14);
plt.xlabel("STATION", fontsize=14)
plt.title("TOP 15 - HIGH FOOT TRAFFIC STATIONS", fontsize=20);
plt.savefig("plot1.svg", bbox_inches='tight')
plt.savefig("plot1.png", bbox_inches='tight')

In [ ]:
# Now let's try to find more patterns:

entries_by_weekday = df.groupby(['STATION',"WEEKDAY"])['REAL_ENTRIES'].mean()
entries_by_weekday

In [ ]:
entries_by_weekday = entries_by_weekday.unstack(level = -1).reset_index()
entries_by_weekday.head()

In [ ]:
entries_weekday_top15 = \
    entries_by_weekday[entries_by_weekday['STATION'].isin(top15_stations)]
entries_weekday_top15

In [ ]:
avg_weekday_top15 = entries_weekday_top15.groupby('STATION').mean()
avg_weekday_top15

In [ ]:
cols = avg_weekday_top15.columns.tolist()
cols

In [ ]:
cols = cols[1] + " " + cols[5] + " " + cols[6] + " " + cols[4] + " " + cols[0]+ " " + cols[2] + " " + cols[3]

In [ ]:
cols = cols.split()
cols

In [ ]:
avg_weekday_top15 = avg_weekday_top15[cols]

In [ ]:
plt.figure(figsize = (15,10))
sns.heatmap(avg_weekday_top15,annot=False, cmap="Reds");
plt.xlabel("WEEKDAY", fontsize=14);
plt.ylabel("STATION", fontsize=14);
plt.title("AVERAGE ENTRIES PER WEEKDAY", fontsize=20)
plt.savefig("plot2.svg")
plt.savefig("plot2.png")
# plt.xticks(ticks=[0,1,2,3,4,5,6], labels=[0,1,2,3,4,5,6]);

In [ ]:
top_15_stations = df[df['STATION'].isin(top15_stations)]

In [ ]:
avg_by_session = top_15_stations.groupby(['STATION',"SESSION"])['REAL_ENTRIES'].mean()

In [ ]:
avg_by_session = avg_by_session.unstack(level = -1)
avg_by_session

In [ ]:
plt.figure(figsize = (15,10))
sns.heatmap(avg_by_session,annot=False, cmap="Greens");
plt.xlabel("TIME OF DAY", fontsize=14);
plt.ylabel("STATION", fontsize=14);
plt.title("AVERAGE ENTRIES PER TIME OF DAY", fontsize=20)
plt.savefig("plot3.svg")
plt.savefig("plot3.png")

In [ ]:
daily_entries_15 = top_15_stations.groupby(["STATION", "DATE_TIME"])["REAL_ENTRIES"].sum()
daily_entries_15

In [ ]:
daily_entries_15 = daily_entries_15.to_frame().reset_index()

In [ ]:
daily_entries_15['DATE'] = daily_entries_15['DATE_TIME'].dt.date

In [ ]:
daily_entries_15 = daily_entries_15.groupby(["STATION", "DATE"])["REAL_ENTRIES"].sum()

In [ ]:
daily_entries_15 = daily_entries_15.to_frame().reset_index()
daily_entries_15.head()

In [ ]:
daily_entries_15["DATE"] = pd.to_datetime(daily_entries_15["DATE"]) 
daily_entries_15.info()

In [ ]:
daily_entries_15["MONTH"] = daily_entries_15["DATE"].dt.month
daily_entries_15.head()

In [ ]:
daily_entries_15.info()

In [ ]:
daily_entries_15["SEASON"] = "NS"

# Let's create a new dataframe with only the problematic stations and remove them from the original df.
summer = ((daily_entries_15["MONTH"] == 6) |
(daily_entries_15["MONTH"] == 7) | 
(daily_entries_15["MONTH"] == 8))

daily_entries_15.loc[summer,"SEASON"] = "Summer"

In [ ]:
winter = ((daily_entries_15["MONTH"] == 12) |
(daily_entries_15["MONTH"] == 1) | 
(daily_entries_15["MONTH"] == 2))

daily_entries_15.loc[winter,"SEASON"] = "Winter"

fall = ((daily_entries_15["MONTH"] == 9) |
(daily_entries_15["MONTH"] == 10) | 
(daily_entries_15["MONTH"] == 11))

daily_entries_15.loc[fall,"SEASON"] = "Fall"

spring = ((daily_entries_15["MONTH"] == 3) |
(daily_entries_15["MONTH"] == 4) | 
(daily_entries_15["MONTH"] == 5))

daily_entries_15.loc[spring,"SEASON"] = "Spring"

In [ ]:
daily_entries_15

In [ ]:
avg_entries_day = daily_entries_15.groupby("DATE")["REAL_ENTRIES"].mean()
avg_entries_day = avg_entries_day.to_frame().reset_index()
avg_entries_day.head(3)

In [ ]:
avg_entries_day["COLUMN"] = "1"

In [ ]:
seasonal = avg_entries_day.set_index('DATE').groupby('COLUMN')['REAL_ENTRIES'].rolling(30).mean()
seasonal = seasonal.to_frame().reset_index()
seasonal.drop(["COLUMN"],axis=1,inplace=True)
seasonal.dropna(axis=0, inplace=True)

In [ ]:
seasonal.head()

In [ ]:
plt.figure(figsize = (15,10))
plt.plot(seasonal['DATE'],seasonal['REAL_ENTRIES'])
plt.xlabel("DATE", fontsize=14);
plt.ylabel("AVERAGE ENTRIES", fontsize=14);
plt.title("TOP 15 STATIONS (HIGH FOOT TRAFFIC)\nAVERAGE ENTRIES PER DAY - 30 DAYS ROLLING", fontsize=20)
plt.savefig("plot4.svg")
plt.savefig("plot4.png")

In [ ]:
entries_per_month = daily_entries_15.groupby(["STATION", "MONTH"])["REAL_ENTRIES"].mean()
entries_per_month = entries_per_month.to_frame()
entries_per_month = entries_per_month.unstack(-1)
entries_per_month.head()

In [ ]:
entries_per_month = entries_per_month.transpose()

In [ ]:
entries_per_month = (100. * entries_per_month / entries_per_month.sum())

In [ ]:
entries_per_month = entries_per_month.transpose()
entries_per_month

In [ ]:
plt.figure(figsize = (15,10))
sns.heatmap(entries_per_month,annot=False, cmap="Greens");
plt.xlabel("MONTH", fontsize=14);
plt.ylabel("STATION", fontsize=14);
plt.title("AVERAGE ENTRIES PER MONTH", fontsize=20)
plt.savefig("plot5.svg")
plt.savefig("plot5.png")

In [ ]:
entries_per_season = daily_entries_15.groupby(["STATION", "SEASON"])["REAL_ENTRIES"].mean()
entries_per_season = entries_per_season.to_frame()
entries_per_season = entries_per_season.unstack(-1)
entries_per_season.head()

In [ ]:
entries_per_season = entries_per_season.transpose()

In [ ]:
entries_per_season = (100. * entries_per_season / entries_per_season.sum())

In [ ]:
entries_per_season = entries_per_season.transpose()

In [ ]:
# entries_per_season[()'REAL_ENTRIES', 'Winter'), ('REAL_ENTRIES', 'Spring'), ('REAL_ENTRIES', 'Summer'), ('REAL_ENTRIES', 'Fall')]
entries_per_season = entries_per_season['REAL_ENTRIES'][["Winter", 'Spring', 'Summer', 'Fall']]

In [ ]:
plt.figure(figsize = (15,10))
sns.heatmap(entries_per_season,annot=False, cmap="YlOrRd");
plt.xlabel("SEASON", fontsize=14);
plt.ylabel("STATION", fontsize=14);
plt.title("AVERAGE ENTRIES BY SEASON (AS % OF THE WHOLE YEAR)", fontsize=20)
plt.savefig("plot6.svg")
plt.savefig("plot6.png")
# plt.xticks(ticks=[0,1,2,3,4,5,6], labels=[0,1,2,3,4,5,6]);