# BlackBelt Consulting

## 1. Benson Project

### 1.1 Data Collection

In [1]:
import pandas as pd
import datetime

In [16]:
numdays = 21  # just setting the number of days we want to take back 1 week from 06-29
# we can increase it later, this is just so we can start with a "small" data set

In [17]:
date_time_str = '2019-06-22 08:15:27.243860'  # penultimate date of the range in the MTA website
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')  
# transforming it to a date_time object
date_time_obj

datetime.datetime(2019, 6, 22, 8, 15, 27, 243860)

In [18]:
date_list = [date_time_obj - datetime.timedelta(days=x) for x in range(0, numdays, 7)]
# creating a list of dates that starts on the penultimate date and goes back the numdays we've set 
# (jumping 7 days each time)
date_list

[datetime.datetime(2019, 6, 22, 8, 15, 27, 243860),
 datetime.datetime(2019, 6, 15, 8, 15, 27, 243860),
 datetime.datetime(2019, 6, 8, 8, 15, 27, 243860)]

In [19]:
# transforming the dates into strings and putting in a list:

url_dates = []

for i in date_list:
    year = str(i.year).replace("20", "")
    day = str(i.day)
    if i.day < 10:
        day = "0" + day
    month = str(i.month)
    if i.month < 10:
        month = "0" + month
    date_str = year + month + day
    url_dates.append(date_str)

url_dates

['190622', '190615', '190608']

In [20]:
# starting the dataframe with the last available date, which is june 29, 19:
df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt")
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [21]:
# concatenating each new date to the original dataframe:
for url in url_dates:
    df2 = pd.read_csv(
        "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt".format(url))
    df = pd.concat([df, df2], ignore_index=True)

In [23]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823385 entries, 0 to 823384
Data columns (total 11 columns):
C/A                                                                     823385 non-null object
UNIT                                                                    823385 non-null object
SCP                                                                     823385 non-null object
STATION                                                                 823385 non-null object
LINENAME                                                                823385 non-null object
DIVISION                                                                823385 non-null object
DATE                                                                    823385 non-null object
TIME                                                                    823385 non-null object
DESC                                                                    823385 non-null object
ENTRIES                                                                 823385 non-null int64
EXITS                                                                   823385 non-null int64
dtypes: int64(2), object(9)
memory usage: 69.1+ MB

In [25]:
df.columns = [column.strip() for column in df.columns]

In [26]:
df["DATE_TIME"] = pd.to_datetime(df["DATE"] + " " + df["TIME"])

In [29]:
# Data from - Jun 2019
df.DATE.value_counts().sort_index()

06/01/2019    29066
06/02/2019    28968
06/03/2019    30022
06/04/2019    29513
06/05/2019    29484
06/06/2019    29213
06/07/2019    28745
06/08/2019    29030
06/09/2019    29133
06/10/2019    29351
06/11/2019    29113
06/12/2019    30023
06/13/2019    29276
06/14/2019    29008
06/15/2019    29605
06/16/2019    29322
06/17/2019    29421
06/18/2019    29599
06/19/2019    29614
06/20/2019    29556
06/21/2019    30360
06/22/2019    29217
06/23/2019    29170
06/24/2019    29479
06/25/2019    29437
06/26/2019    29417
06/27/2019    29464
06/28/2019    29779
Name: DATE, dtype: int64

In [33]:
df["TURNSTILE_ID"] = df["C/A"] + " " + df["UNIT"] + " " + df["SCP"] + " " + df["STATION"]

In [34]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,TURNSTILE_ID
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457,2019-06-22 00:00:00,A002 R051 02-00-00 59 ST
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465,2019-06-22 04:00:00,A002 R051 02-00-00 59 ST
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491,2019-06-22 08:00:00,A002 R051 02-00-00 59 ST
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541,2019-06-22 12:00:00,A002 R051 02-00-00 59 ST
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581,2019-06-22 16:00:00,A002 R051 02-00-00 59 ST

In [46]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["TURNSTILE_ID", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(30)

                             TURNSTILE_ID           DATE_TIME  ENTRIES
583293          R174 R034 00-00-03 125 ST 2019-06-08 00:00:00        2
194099    N045 R187 01-00-02 81 ST-MUSEUM 2019-06-01 17:00:00        2
193942    N045 R187 01-00-01 81 ST-MUSEUM 2019-06-02 17:00:00        2
194324    N045 R187 01-06-00 81 ST-MUSEUM 2019-06-11 21:00:00        2
660217           R249 R179 01-05-00 86 ST 2019-06-27 00:00:00        2
679477  R290 R161 00-00-00 KINGSBRIDGE RD 2019-06-07 05:00:00        2
660221           R249 R179 01-05-00 86 ST 2019-06-27 04:00:00        2
583125          R174 R034 00-00-02 125 ST 2019-06-08 00:00:00        2
193937    N045 R187 01-00-01 81 ST-MUSEUM 2019-06-01 17:00:00        2
194104    N045 R187 01-00-02 81 ST-MUSEUM 2019-06-02 17:00:00        2
660228           R249 R179 01-05-00 86 ST 2019-06-27 12:00:00        2
194269    N045 R187 01-06-00 81 ST-MUSEUM 2019-06-02 17:00:00        2
660225           R249 R179 01-05-00 86 ST 2019-06-27 08:00:00        2
582957          R174 R034 00-00-01 125 ST 2019-06-08 00:00:00        2
193777    N045 R187 01-00-00 81 ST-MUSEUM 2019-06-02 17:00:00        2
627395           R229 R143 01-00-00 28 ST 2019-06-27 17:00:00        2
193772    N045 R187 01-00-00 81 ST-MUSEUM 2019-06-01 17:00:00        2
194193    N045 R187 01-00-02 81 ST-MUSEUM 2019-06-17 09:00:00        2
548927  R139 R031 04-00-02 34 ST-PENN STA 2019-06-02 08:00:00        1
548919  R139 R031 04-00-02 34 ST-PENN STA 2019-06-01 00:00:00        1
548920  R139 R031 04-00-02 34 ST-PENN STA 2019-06-01 04:00:00        1
548921  R139 R031 04-00-02 34 ST-PENN STA 2019-06-01 08:00:00        1
548922  R139 R031 04-00-02 34 ST-PENN STA 2019-06-01 12:00:00        1
548923  R139 R031 04-00-02 34 ST-PENN STA 2019-06-01 16:00:00        1
548924  R139 R031 04-00-02 34 ST-PENN STA 2019-06-01 20:00:00        1
548925  R139 R031 04-00-02 34 ST-PENN STA 2019-06-02 00:00:00        1
548926  R139 R031 04-00-02 34 ST-PENN STA 2019-06-02 04:00:00        1
548928  R139 R031 04-00-02 34 ST-PENN STA 2019-06-02 12:00:00        1
548918  R139 R031 04-00-01 34 ST-PENN STA 2019-06-28 20:00:00        1
548896  R139 R031 04-00-01 34 ST-PENN STA 2019-06-25 04:00:00        1

In [47]:
# On some days, we seem to have two entries for same time.  Let's take a look
mask = ((df["TURNSTILE_ID"] == "R174 R034 00-00-03 125 ST") &
(df["DATE_TIME"].dt.date == datetime.datetime(2019, 6, 8).date()))

df[mask]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,TURNSTILE_ID
558895,R174,R034,00-00-03,125 ST,1,IRT,06/08/2019,00:00:00,REGULAR,3828801,2853462,2019-06-08 00:00:00,R174 R034 00-00-03 125 ST
558896,R174,R034,00-00-03,125 ST,1,IRT,06/08/2019,00:00:00,RECOVR AUD,3828804,2853463,2019-06-08 00:00:00,R174 R034 00-00-03 125 ST
558897,R174,R034,00-00-03,125 ST,1,IRT,06/08/2019,08:00:00,REGULAR,3828931,2853610,2019-06-08 08:00:00,R174 R034 00-00-03 125 ST
558898,R174,R034,00-00-03,125 ST,1,IRT,06/08/2019,12:00:00,REGULAR,3829164,2853787,2019-06-08 12:00:00,R174 R034 00-00-03 125 ST
558899,R174,R034,00-00-03,125 ST,1,IRT,06/08/2019,16:00:00,REGULAR,3829514,2854060,2019-06-08 16:00:00,R174 R034 00-00-03 125 ST
558900,R174,R034,00-00-03,125 ST,1,IRT,06/08/2019,20:00:00,REGULAR,3829854,2854357,2019-06-08 20:00:00,R174 R034 00-00-03 125 ST

In [48]:
# On some days, we seem to have two entries for same time.  Let's take a look
mask = ((df["TURNSTILE_ID"] == "N045 R187 01-00-02 81 ST-MUSEUM") &
(df["DATE_TIME"].dt.date == datetime.datetime(2019, 6, 1).date()))

df[mask]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,TURNSTILE_ID
666700,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,01:00:00,REGULAR,4323386,989690,2019-06-01 01:00:00,N045 R187 01-00-02 81 ST-MUSEUM
666701,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,05:00:00,REGULAR,4323388,989692,2019-06-01 05:00:00,N045 R187 01-00-02 81 ST-MUSEUM
666702,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,09:00:00,REGULAR,4323394,989696,2019-06-01 09:00:00,N045 R187 01-00-02 81 ST-MUSEUM
666703,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,13:00:00,REGULAR,4323510,989797,2019-06-01 13:00:00,N045 R187 01-00-02 81 ST-MUSEUM
666704,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,REGULAR,4324002,989878,2019-06-01 17:00:00,N045 R187 01-00-02 81 ST-MUSEUM
666705,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,RECOVR AUD,4323998,989878,2019-06-01 17:00:00,N045 R187 01-00-02 81 ST-MUSEUM
666706,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,21:00:00,REGULAR,4324268,989897,2019-06-01 21:00:00,N045 R187 01-00-02 81 ST-MUSEUM

In [49]:
# Looking over more examples, these duplicates don't seem to show significant differences. 
# Therefore, we will get rid of the duplicate entries:
df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [50]:
# No problems anymore:
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(15)

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0       A002  R051  02-00-00           59 ST 2019-06-01 00:00:00        1
548916  R139  R031  04-00-01  34 ST-PENN STA 2019-06-28 12:00:00        1
548906  R139  R031  04-00-01  34 ST-PENN STA 2019-06-26 20:00:00        1
548907  R139  R031  04-00-01  34 ST-PENN STA 2019-06-27 00:00:00        1
548908  R139  R031  04-00-01  34 ST-PENN STA 2019-06-27 04:00:00        1
548909  R139  R031  04-00-01  34 ST-PENN STA 2019-06-27 08:00:00        1
548910  R139  R031  04-00-01  34 ST-PENN STA 2019-06-27 12:00:00        1
548911  R139  R031  04-00-01  34 ST-PENN STA 2019-06-27 16:00:00        1
548912  R139  R031  04-00-01  34 ST-PENN STA 2019-06-27 20:00:00        1
548913  R139  R031  04-00-01  34 ST-PENN STA 2019-06-28 00:00:00        1
548914  R139  R031  04-00-01  34 ST-PENN STA 2019-06-28 04:00:00        1
548915  R139  R031  04-00-01  34 ST-PENN STA 2019-06-28 08:00:00        1
548917  R139  R031  04-00-01  34 ST-PENN STA 2019-06-28 16:00:00        1
548879  R139  R031  04-00-01  34 ST-PENN STA 2019-06-22 08:00:00        1
548918  R139  R031  04-00-01  34 ST-PENN STA 2019-06-28 20:00:00        1

For our data we are focusing only in the entries since we believe this is a better approach to gauge the number of people focusing on the ads.

In [51]:
# Drop Exits and Desc Column.  To prevent errors in multiple run of cell, errors on drop is ignored
df = df.drop(["EXITS", "DESC"], axis=1, errors="ignore")

In [68]:
df.reset_index(drop=True)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,DATE_TIME,TURNSTILE_ID
0,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,21:00:00,5554,2019-06-28 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
1,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,17:00:00,5554,2019-06-28 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
2,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,13:00:00,5554,2019-06-28 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
3,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,09:00:00,5554,2019-06-28 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
4,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,05:00:00,5554,2019-06-28 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
5,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,01:00:00,5554,2019-06-28 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
6,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,21:00:00,5554,2019-06-27 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
7,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,17:00:00,5554,2019-06-27 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
8,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,13:00:00,5554,2019-06-27 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
9,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,09:00:00,5554,2019-06-27 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
10,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,05:00:00,5554,2019-06-27 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
11,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2019,01:00:00,5554,2019-06-27 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
12,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,21:00:00,5554,2019-06-26 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
13,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,17:00:00,5554,2019-06-26 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
14,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,13:00:00,5554,2019-06-26 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
15,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,09:00:00,5554,2019-06-26 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
16,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,05:00:00,5554,2019-06-26 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
17,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2019,01:00:00,5554,2019-06-26 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
18,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,21:00:00,5554,2019-06-25 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
19,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,17:00:00,5554,2019-06-25 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
20,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,13:00:00,5554,2019-06-25 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
21,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,09:00:00,5554,2019-06-25 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
22,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,05:00:00,5554,2019-06-25 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
23,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/25/2019,01:00:00,5554,2019-06-25 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
24,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,21:00:00,5554,2019-06-24 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
25,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,17:00:00,5554,2019-06-24 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
26,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,13:00:00,5554,2019-06-24 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
27,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,09:00:00,5554,2019-06-24 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
28,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,05:00:00,5554,2019-06-24 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
29,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/24/2019,01:00:00,5554,2019-06-24 01:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT
...,...,...,...,...,...,...,...,...,...,...,...
823337,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/05/2019,20:00:00,7086109,2019-06-05 20:00:00,A002 R051 02-00-00 59 ST
823338,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/05/2019,16:00:00,7085368,2019-06-05 16:00:00,A002 R051 02-00-00 59 ST
823339,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/05/2019,12:00:00,7085053,2019-06-05 12:00:00,A002 R051 02-00-00 59 ST
823340,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/05/2019,08:00:00,7084880,2019-06-05 08:00:00,A002 R051 02-00-00 59 ST
823341,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/05/2019,04:00:00,7084831,2019-06-05 04:00:00,A002 R051 02-00-00 59 ST
823342,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/05/2019,00:00:00,7084813,2019-06-05 00:00:00,A002 R051 02-00-00 59 ST
823343,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/04/2019,20:00:00,7084565,2019-06-04 20:00:00,A002 R051 02-00-00 59 ST
823344,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/04/2019,16:00:00,7083727,2019-06-04 16:00:00,A002 R051 02-00-00 59 ST
823345,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/04/2019,12:00:00,7083406,2019-06-04 12:00:00,A002 R051 02-00-00 59 ST
823346,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/04/2019,08:00:00,7083218,2019-06-04 08:00:00,A002 R051 02-00-00 59 ST
823347,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/04/2019,04:00:00,7083170,2019-06-04 04:00:00,A002 R051 02-00-00 59 ST
823348,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/04/2019,00:00:00,7083157,2019-06-04 00:00:00,A002 R051 02-00-00 59 ST
823349,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/03/2019,20:00:00,7082949,2019-06-03 20:00:00,A002 R051 02-00-00 59 ST
823350,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/03/2019,16:00:00,7082197,2019-06-03 16:00:00,A002 R051 02-00-00 59 ST
823351,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/03/2019,12:00:00,7081909,2019-06-03 12:00:00,A002 R051 02-00-00 59 ST
823352,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/03/2019,08:00:00,7081722,2019-06-03 08:00:00,A002 R051 02-00-00 59 ST
823353,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/03/2019,04:00:00,7081670,2019-06-03 04:00:00,A002 R051 02-00-00 59 ST
823354,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/03/2019,00:00:00,7081661,2019-06-03 00:00:00,A002 R051 02-00-00 59 ST
823355,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/02/2019,20:00:00,7081567,2019-06-02 20:00:00,A002 R051 02-00-00 59 ST
823356,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/02/2019,16:00:00,7081326,2019-06-02 16:00:00,A002 R051 02-00-00 59 ST
823357,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/02/2019,12:00:00,7081119,2019-06-02 12:00:00,A002 R051 02-00-00 59 ST
823358,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/02/2019,08:00:00,7081035,2019-06-02 08:00:00,A002 R051 02-00-00 59 ST
823359,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/02/2019,04:00:00,7081021,2019-06-02 04:00:00,A002 R051 02-00-00 59 ST
823360,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/02/2019,00:00:00,7081001,2019-06-02 00:00:00,A002 R051 02-00-00 59 ST
823361,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/01/2019,20:00:00,7080817,2019-06-01 20:00:00,A002 R051 02-00-00 59 ST
823362,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/01/2019,16:00:00,7080520,2019-06-01 16:00:00,A002 R051 02-00-00 59 ST
823363,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/01/2019,12:00:00,7080276,2019-06-01 12:00:00,A002 R051 02-00-00 59 ST
823364,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/01/2019,08:00:00,7080161,2019-06-01 08:00:00,A002 R051 02-00-00 59 ST
823365,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/01/2019,04:00:00,7080137,2019-06-01 04:00:00,A002 R051 02-00-00 59 ST
823366,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/01/2019,00:00:00,7080105,2019-06-01 00:00:00,A002 R051 02-00-00 59 ST

In [70]:
# There seems to be a problem with 23rd street (and others) because different stations are named the same way:
df[df["STATION"] == "23 ST"].groupby(["LINENAME"]).count()

,C/A,UNIT,SCP,STATION,DIVISION,DATE,TIME,ENTRIES,DATE_TIME,TURNSTILE_ID
LINENAME,,,,,,,,,,
1,1184,1184,1184,1184,1184,1184,1184,1184,1184,1184
6,4277,4277,4277,4277,4277,4277,4277,4277,4277,4277
CE,1878,1878,1878,1878,1878,1878,1878,1878,1878,1878
FM,1724,1724,1724,1724,1724,1724,1724,1724,1724,1724
NRW,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769

In [71]:
# Let's create a new column that concatenates the station and the lines to differenciate them:
df["STATION_LINE"] = df["STATION"] + " " + df["LINENAME"]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,DATE_TIME,TURNSTILE_ID,STATION_LINE
205962,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,21:00:00,5554,2019-06-28 21:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT,RIT-ROOSEVELT R
205961,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,17:00:00,5554,2019-06-28 17:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT,RIT-ROOSEVELT R
205960,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,13:00:00,5554,2019-06-28 13:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT,RIT-ROOSEVELT R
205959,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,09:00:00,5554,2019-06-28 09:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT,RIT-ROOSEVELT R
205958,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2019,05:00:00,5554,2019-06-28 05:00:00,TRAM2 R469 00-05-01 RIT-ROOSEVELT,RIT-ROOSEVELT R

In [80]:
unique_stations = df["STATION_LINE"].unique()
sorted(unique_stations)

['1 AV L',
 '103 ST 1',
 '103 ST 6',
 '103 ST BC',
 '103 ST-CORONA 7',
 '104 ST A',
 '104 ST JZ',
 '110 ST 6',
 '111 ST 7',
 '111 ST A',
 '111 ST J',
 '116 ST 23',
 '116 ST 6',
 '116 ST BC',
 '116 ST-COLUMBIA 1',
 '121 ST JZ',
 '125 ST 1',
 '125 ST 23',
 '125 ST 456',
 '125 ST ACBD',
 '135 ST 23',
 '135 ST BC',
 '137 ST CITY COL 1',
 '138/GRAND CONC 45',
 '14 ST 123FLM',
 '14 ST ACEL',
 '14 ST FLM123',
 '14 ST-UNION SQ 456LNQRW',
 '14 ST-UNION SQ LNQR456W',
 '145 ST 1',
 '145 ST 3',
 '145 ST ABCD',
 '149/GRAND CONC 245',
 '14TH STREET 1',
 '15 ST-PROSPECT FG',
 '155 ST BD',
 '155 ST C',
 '157 ST 1',
 '161/YANKEE STAD 4BD',
 '161/YANKEE STAD BD4',
 '163 ST-AMSTERDM C',
 '167 ST 4',
 '167 ST BD',
 '168 ST 1AC',
 '168 ST AC1',
 '169 ST F',
 '170 ST 4',
 '170 ST BD',
 '174 ST 25',
 '174-175 STS BD',
 '175 ST A',
 '176 ST 4',
 '18 AV D',
 '18 AV F',
 '18 AV N',
 '18 ST 1',
 '181 ST 1',
 '181 ST A',
 '182-183 STS BD',
 '183 ST 4',
 '190 ST A',
 '191 ST 1',
 '2 AV F',
 '20 AV D',
 '20 AV N',
 '207 ST 1',
 '21 ST G',
 '21 ST-QNSBRIDGE F',
 '215 ST 1',
 '219 ST 25',
 '225 ST 25',
 '23 ST 1',
 '23 ST 6',
 '23 ST CE',
 '23 ST FM',
 '23 ST NRW',
 '23 STCE CE',
 '23 STFM FM',
 '23 STNRW NRW',
 '231 ST 1',
 '233 ST 25',
 '238 ST 1',
 '25 AV D',
 '25 ST R',
 '28 ST 1',
 '28 ST 6',
 '28 ST NRW',
 '3 AV 138 ST 6',
 '3 AV L',
 '3 AV-149 ST 25',
 '30 AV NQW',
 '33 ST 6',
 '33 ST-RAWSON ST 7',
 '34 ST-HERALD SQ BDFMNQRW',
 '34 ST-HUDSON YD 7',
 '34 ST-PENN STA 123',
 '34 ST-PENN STA 123ACE',
 '34 ST-PENN STA ACE',
 '36 AV NQW',
 '36 ST DNR',
 '36 ST MR',
 '39 AV NQW',
 '4 AV-9 ST DFGMNR',
 '40 ST LOWERY ST 7',
 '42 ST-BRYANT PK BDFM7',
 '42 ST-PORT AUTH ACENGRS1237W',
 '42 ST-PORT AUTH ACENQRS1237W',
 '45 ST R',
 '46 ST BLISS ST 7',
 '46 ST MR',
 '47-50 STS ROCK BDFM',
 '49 ST NQRW',
 '4AV-9 ST DFGMNR',
 '5 AV/53 ST EM',
 '5 AV/59 ST NQRW',
 '5 AVE 7BDFM',
 '50 ST 1',
 '50 ST CE',
 '50 ST D',
 '51 ST 6',
 '52 ST 7',
 '53 ST R',
 '55 ST D',
 '57 ST F',
 '57 ST-7 AV NQRW',
 '59 ST 456NQRW',
 '59 ST COLUMBUS 1ABCD',
 '59 ST COLUMBUS ABCD1',
 '59 ST NQR456W',
 '59 ST NRW',
 '6 AV FLM123',
 '61 ST WOODSIDE 7',
 '63 DR-REGO PARK MR',
 '65 ST MR',
 '66 ST-LINCOLN 1',
 '67 AV MR',
 '68ST-HUNTER CO 6',
 '69 ST 7',
 '7 AV BDE',
 '7 AV BQ',
 '7 AV FG',
 '71 ST D',
 '72 ST 123',
 '72 ST BC',
 '72 ST-2 AVE Q',
 '74 ST-BROADWAY 7EFMR',
 '75 AV EF',
 '75 ST-ELDERTS JZ',
 '77 ST 6',
 '77 ST R',
 '79 ST 1',
 '79 ST D',
 '8 AV ACEL',
 '8 AV N',
 '8 ST-NYU NRW',
 '80 ST A',
 '81 ST-MUSEUM BC',
 '82 ST-JACKSON H 7',
 '85 ST-FOREST PK J',
 '86 ST 1',
 '86 ST 456',
 '86 ST BC',
 '86 ST N',
 '86 ST R',
 '86 ST-2 AVE Q',
 '88 ST A',
 '9 AV D',
 '90 ST-ELMHURST 7',
 '96 ST 123',
 '96 ST 6',
 '96 ST BC',
 '96 ST-2 AVE Q',
 '9TH STREET 1',
 'ALABAMA AV J',
 'ALLERTON AV 25',
 'AQUEDUCT N.COND A',
 'AQUEDUCT RACETR A',
 'ASTOR PL 6',
 'ASTORIA DITMARS NQW',
 'ATL AV-BARCLAY 2345BDNQR',
 'ATL AV-BARCLAY BDNQR2345',
 'ATLANTIC AV L',
 'AVENUE H BQ',
 'AVENUE I F',
 'AVENUE J BQ',
 'AVENUE M BQ',
 'AVENUE N F',
 'AVENUE P F',
 'AVENUE U BQ',
 'AVENUE U F',
 'AVENUE U N',
 'AVENUE X F',
 "B'WAY-LAFAYETTE BDFQ6",
 'BAY 50 ST D',
 'BAY PKWY D',
 'BAY PKWY F',
 'BAY PKWY N',
 'BAY RIDGE AV R',
 'BAY RIDGE-95 ST R',
 'BAYCHESTER AV 5',
 'BEACH 105 ST AS',
 'BEACH 25 ST A',
 'BEACH 36 ST A',
 'BEACH 44 ST A',
 'BEACH 60 ST A',
 'BEACH 67 ST A',
 'BEACH 90 ST AS',
 'BEACH 98 ST AS',
 'BEDFORD AV L',
 'BEDFORD PK BLVD 4',
 'BEDFORD PK BLVD BD',
 'BEDFORD-NOSTRAN G',
 'BERGEN ST 23',
 'BERGEN ST FG',
 'BEVERLEY ROAD BQ',
 'BEVERLY RD 25',
 'BLEECKER ST 6DF',
 'BOROUGH HALL 2345R',
 'BOROUGH HALL R2345',
 'BOTANIC GARDEN S2345',
 'BOWERY JZ',
 'BOWLING GREEN 45',
 'BRIARWOOD EF',
 'BRIGHTON BEACH BQ',
 'BROAD CHANNEL AS',
 'BROAD ST JZ',
 'BROADWAY G',
 'BROADWAY JCT ACJLZ',
 'BROADWAY NQW',
 'BRONX PARK EAST 25',
 'BROOK AV 6',
 'BROOKLYN BRIDGE 456JZ',
 'BUHRE AV 6',
 'BURKE AV 25',
 'BURNSIDE AV 4',
 'BUSHWICK AV L',
 'CANAL ST 1',
 'CANAL ST ACE',
 'CANAL ST JNQRZ6W',
 'CANARSIE-ROCKAW L',
 'CARROLL ST FG',
 'CASTLE HILL AV 6',
 'CATHEDRAL PKWY 1',
 'CATHEDRAL PKWY BC',
 'CENTRAL AV M',
 'CENTRAL PK N110 23',
 'CHAMBERS ST 123',
 'CHAMBERS ST ACE23',
 'CHAMBERS ST JZ456',
 'CHAUNCEY ST JZ',
 'CHRISTOPHER ST 1',
 'CHURCH AV 25',
 'CHURCH AV BQ',
 'CHURCH AV FG',
 'CITY / BUS 1',
 'CITY HALL NRW',
 'CLARK ST 23',
 'CLASSON AV G',
 'CLEVELAND ST J',
 'CLINTON-WASH AV C',
 'CLINTON-WASH AV G',
 'CONEY IS-STILLW DFNQ',
 'CORTELYOU RD BQ',
 'CORTLANDT ST RNW',
 'COURT SQ 7',
 'COURT SQ EMG',
 'COURT SQ-23 ST EMG',
 'CRESCENT ST JZ',
 'CROWN HTS-UTICA 34',
 'CYPRESS AV 6',
 'CYPRESS HILLS J',
 'DEKALB AV BDNQR',
 'DEKALB AV L',
 'DELANCEY/ESSEX FJMZ',
 'DITMAS AV F',
 'DYCKMAN ST 1',
 'DYCKMAN ST A',
 "E 143/ST MARY'S 6",
 'E 149 ST 6',
 'E 180 ST 25',
 'EAST 105 ST L',
 'EAST BROADWAY F',
 'EASTCHSTER/DYRE 5',
 'EASTN PKWY-MUSM 23',
 'ELDER AV 6',
 'ELMHURST AV MR',
 'EUCLID AV AC',
 'EXCHANGE PLACE 1',
 'FAR ROCKAWAY A',
 'FLATBUSH AV-B.C 25',
 'FLUSHING AV G',
 'FLUSHING AV JM',
 'FLUSHING-MAIN 7',
 'FORDHAM RD 4',
 'FORDHAM RD BD',
 'FOREST AVE M',
 'FOREST HILLS 71 EFMR',
 'FRANKLIN AV 2345S',
 'FRANKLIN AV ACS',
 'FRANKLIN ST 1',
 'FREEMAN ST 25',
 'FRESH POND RD M',
 'FT HAMILTON PKY D',
 'FT HAMILTON PKY FG',
 'FT HAMILTON PKY N',
 'FULTON ST 2345ACJZ',
 'FULTON ST ACJZ2345',
 'FULTON ST G',
 'GATES AV JZ',
 'GRAHAM AV L',
 'GRAND ARMY PLAZ 23',
 'GRAND ST BD',
 'GRAND ST L',
 'GRAND-NEWTOWN MR',
 'GRANT AV A',
 'GRD CNTRL-42 ST 4567S',
 'GREENPOINT AV G',
 'GROVE STREET 1',
 'GUN HILL RD 25',
 'GUN HILL RD 5',
 'HALSEY ST J',
 'HALSEY ST L',
 'HARLEM 148 ST 3',
 'HARRISON 1',
 'HEWES ST JM',
 'HIGH ST AC',
 'HOUSTON ST 1',
 'HOWARD BCH JFK A',
 'HOYT ST 23',
 'HOYT-SCHER ACG',
 'HUNTERS PT AV 7',
 'HUNTS POINT AV 6',
 'INTERVALE AV 25',
 'INWOOD-207 ST A',
 'JACKSON AV 25',
 'JAMAICA 179 ST F',
 'JAMAICA CENTER EJZ',
 'JAMAICA VAN WK E',
 'JAY ST-METROTEC ACF',
 'JAY ST-METROTEC R',
 'JEFFERSON ST L',
 'JFK JAMAICA CT1 E',
 'JKSN HT-ROOSVLT EFMR7',
 'JOURNAL SQUARE 1',
 'JUNCTION BLVD 7',
 'JUNIUS ST 3',
 'KEW GARDENS EF',
 'KINGS HWY BQ',
 'KINGS HWY F',
 'KINGS HWY N',
 'KINGSBRIDGE RD 4',
 'KINGSBRIDGE RD BD',
 'KINGSTON AV 3',
 'KINGSTON-THROOP C',
 'KNICKERBOCKER M',
 'KOSCIUSZKO ST J',
 'LACKAWANNA 1',
 'LAFAYETTE AV C',
 'LEXINGTON AV/53 EM6',
 'LEXINGTON AV/63 F',
 'LIBERTY AV C',
 'LIVONIA AV L',
 'LONGWOOD AV 6',
 'LORIMER ST JM',
 'LORIMER ST LG',
 'MARBLE HILL-225 1',
 'MARCY AV JMZ',
 'METROPOLITAN AV GL',
 'METROPOLITAN AV M',
 'METS-WILLETS PT 7',
 'MIDDLETOWN RD 6',
 'MONTROSE AV L',
 'MORGAN AV L',
 'MORISN AV/SNDVW 6',
 'MORRIS PARK 5',
 'MOSHOLU PKWY 4',
 'MT EDEN AV 4',
 'MYRTLE AV JMZ',
 'MYRTLE-WILLOUGH G',
 'MYRTLE-WYCKOFF LM',
 'NASSAU AV G',
 'NECK RD BQ',
 'NEPTUNE AV F',
 'NEREID AV 25',
 'NEVINS ST 2345',
 'NEW LOTS AV 3',
 'NEW LOTS L',
 'NEW UTRECHT AV ND',
 'NEWARK BM BW 1',
 'NEWARK C 1',
 'NEWARK HM HE 1',
 'NEWARK HW BMEBE 1',
 'NEWKIRK AV 25',
 'NEWKIRK PLAZA BQ',
 'NORTHERN BLVD MR',
 'NORWOOD 205 ST D',
 'NORWOOD AV JZ',
 'NOSTRAND AV 3',
 'NOSTRAND AV AC',
 'OCEAN PKWY Q',
 'ORCHARD BEACH 6',
 'OZONE PK LEFFRT A',
 'PARK PLACE 23ACE',
 'PARK PLACE S',
 'PARKCHESTER 6',
 'PARKSIDE AV BQ',
 'PARSONS BLVD F',
 'PATH NEW WTC 1',
 'PATH WTC 2 1',
 'PAVONIA/NEWPORT 1',
 'PELHAM BAY PARK 6',
 'PELHAM PKWY 25',
 'PELHAM PKWY 5',
 'PENNSYLVANIA AV 3',
 'PRESIDENT ST 25',
 'PRINCE ST NRW',
 'PROSPECT AV 25',
 'PROSPECT AV R',
 'PROSPECT PARK BQS',
 'QUEENS PLAZA EMR',
 'QUEENSBORO PLZ 7NQW',
 'RALPH AV C',
 'RECTOR ST 1',
 'RECTOR ST NRW',
 'RIT-MANHATTAN R',
 'RIT-ROOSEVELT R',
 'ROCKAWAY AV 3',
 'ROCKAWAY AV C',
 'ROCKAWAY BLVD A',
 'ROCKAWAY PARK B AS',
 'ROOSEVELT ISLND F',
 'SARATOGA AV 3',
 'SENECA AVE M',
 'SHEEPSHEAD BAY BQ',
 'SHEPHERD AV C',
 'SIMPSON ST 25',
 'SMITH-9 ST FG',
 'SOUTH FERRY 1RW',
 'SPRING ST 6',
 'SPRING ST CE',
 'ST LAWRENCE AV 6',
 'ST. GEORGE 1',
 'STEINWAY ST MR',
 'STERLING ST 25',
 'SUTPHIN BLVD F',
 'SUTPHIN-ARCHER EJZ',
 'SUTTER AV L',
 'SUTTER AV-RUTLD 3',
 'THIRTY ST 1',
 'THIRTY THIRD ST 1',
 'TIMES SQ-42 ST 1237ACENQRS',
 'TIMES SQ-42 ST 1237ACENQRSW',
 'TIMES SQ-42 ST ACENQRS1237W',
 'TOMPKINSVILLE 1',
 'TREMONT AV BD',
 'TWENTY THIRD ST 1',
 'UNION ST R',
 'UTICA AV AC',
 'V.CORTLANDT PK 1',
 'VAN SICLEN AV 3',
 'VAN SICLEN AV JZ',
 'VAN SICLEN AVE C',
 'VERNON-JACKSON 7',
 'W 4 ST-WASH SQ ABCDEFM',
 'W 8 ST-AQUARIUM FQ',
 'WAKEFIELD/241 2',
 'WALL ST 23',
 'WALL ST 45',
 'WEST FARMS SQ 25',
 'WESTCHESTER SQ 6',
 'WHITEHALL S-FRY R1W',
 'WHITLOCK AV 6',
 'WILSON AV L',
 'WINTHROP ST 25',
 'WOODHAVEN BLVD JZ',
 'WOODHAVEN BLVD MR',
 'WOODLAWN 4',
 'WORLD TRADE CTR ACE23',
 'WTC-CORTLANDT 1',
 'YORK ST F',
 'ZEREGA AV 6']